.navbar-fixed-top {
  margin-bottom: 0px !important;

}

.jumbotron {
  background-color: white;
}

.main-container {
  min-height: 950px;
  background-color: #FFF;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 30px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.075) ;
}

body {
  background-color: #F8F8F8;
  /*padding to remove gap between navbar and jumbotron*/
  padding-top: 50px;
}

.footer {
  background-color: #F8F8F8;
  min-height: 50px;
  padding: 20px 0px;
  /*text-align: center;*/
  margin-top:0px
}

.footer img {
  width: 80px;
  margin: 5px;
}

iframe {
  border-radius: 8px;
}

/*********** BADGES **************************/
#notification_badge {
  margin-top:0px;
}

.badge.alert-danger {
  margin-top: 3px;
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A;
  /*font-size: 75%;*/
  background-image: none;
  /*background-image: linear-gradient(to bottom, #D9534F 0px, #D43F3A 100%);*/
}

.nav-tabs .badge {
  margin-top: -2px;
  margin-left: 10px;
}

.nav-tabs > .active .badge {
  color: #337ab7;
  background-color: #fff;
  text-shadow: none;
}

/************ ICONS **********************/

.quest-icon {
  margin-right: 10px;
}

td.notification-icons {
  text-align: center;
  padding-bottom: 0px !important;
}

/*td.notification-icons .fa {
  margin-top: 8px;
}*/

td.notification-icons .fa-stack {
  margin-top: -4px;
}

td.notification-icons .fa-stack {
  margin-top: -4px;
}

/************ SUMMERNOTE WIDGET **************/
.panel-summernote, .list-group-item-summernote {
  padding: 0px;
  border-radius: 0px
}

.summernotewidget {
  padding: 0px;
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.panel-summernote iframe, .list-group-item-summernote iframe {
  /*height: 500px !important;*/
}


form .panel-body {
  padding-top: 0px;
}

/*Doesn't reach inside the iframe*/
/*.note-editor {
  border-top: none;
  border-right: none;
  border-left: none;
}*/


/************ALERTS *************************/
.alert:first-of-type {
  margin-top: 10px;
}

.alert {
  margin-bottom: 0px;
}

/******** Bootstrap Tables ******************************/
/*table {
  border-collapse: separate !important;
  border-spacing: 0px 10px;
}*/

.bootstrap-table .table thead > tr > th {
  /*padding-right: 20px;*/
  border-bottom-width: 1px;
  border-left: none;
}

.bootstrap-table .table {
  border-bottom: 0px;
  /*border-collapse: separate !important;*/
  /*border-spacing: 0px 10px !important;*/
}

.bootstrap-table .table td{
  /*border-bottom: 0px;*/
  border-collapse: separate !important;
  border-spacing: 0px 10px !important;
  border-left: 0px;
}

.fixed-table-container {
  border: none;
}

.fixed-table-container tbody td {
    border-left: none;
}

tr.detail-view{
  background-color: #EEE;
}

/*
td {
  border-left: 0px !important;
  border-bottom: 1px solid !important;
}
*/



/******* Accordian ***********************/

.panel-default > .panel-heading {
  background-color: #FFF;
  background-image: none;
}

.panel-default > .panel-heading:hover {
    background-image: linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%);
    background-repeat: repeat-x;
}

.panel-heading-tall {
  min-height: 65px;
}

.panel-default > .panel-heading.accordian-trigger.active {
  /*background-color: #337AB7;*/
  color: #FFF !important;
  text-shadow: 0px -1px 0px #286090;
  background-image: linear-gradient(to bottom, #337AB7 0px, #2B669A 100%);
  background-repeat: repeat-x;
  border-color: #2B669A;
}

.panel-default > .panel-heading.accordian-trigger.active small {
  color: #FFF !important;
}

.panel.active {
  border-color: #2B669A;
}

.panel-title > img, .panel-title-img {
  height: 48px;
  margin: -7px 5px -10px 0px;
}

/*Make clickable accordian tabs change to pointer cursor*/
.accordian-trigger {
  cursor: pointer;
}

/**** panel packed together: add packed class to panel group div ***/
.panel-group-packed > .panel {
  margin-top: 0px !important;
  border-radius: 0px ;
  border-bottom-style: none;
}

.panel-group-packed > .panel > .panel-heading{
  padding-top: 15px;
  padding-bottom: 15px;
}

.panel-group-packed > .panel:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.panel-group-packed > .panel:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
}

.panel-group-packed .panel.active + .panel {
  border-top-color: #2B669A;
}

.panel-group-packed .panel.active:last-child {
  border-bottom-color: #2B669A;
}

.panel-group-packed .panel-heading.active {
  border-radius: 0px ;
}


/***********Submission ********************************/
.panel-body-comments {
  padding: 0px;
}

.panel-body-comments .panel {
  margin: 0px;
  border-style: none;
}

.panel-body-comments .list-group-item {
  border-style: none none solid none;
  margin: 0px;
}

.avatar-left-sm {
  padding-left: 70px;
  min-height: 70px;
}

.avatar-left-sm > .avatar {
  position: absolute;
  /*top: 10px;*/
  left: 10px;
  height: 48px;
  width: 48px;
}

.comment-heading hr {
  margin-top: 10px;
  margin-bottom: 10px;
}



/***********ACCORDIAN COMMENTS *******************************/

.panel>.list-group>.list-group-item>.list-group {
  margin-bottom: 0px
}

.reply_comment {
  display: none;
}


/*Make the container act like container-fluid at small and medium sizes*/

/*LESS to mimic Bootstrap without importing the less files.*/
/*@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;*/

/*xs only*/
@media (max-width: 767px) {

}
/*small and up*/
@media (min-width: 768px) {

}
/*sm only*/
@media (min-width: 768px) and (max-width: 991px) {

}
/*md and up*/
@media (min-width: 992px) {

}
/*md only*/
@media (min-width: 992px) and (max-width: 1199px) {

}
/*lg and up*/
@media (min-width: 1200px) {
  .container-fluid {
    width: 1170px;
  }

}



/************ TABS *****************************************/
/*Get rid of the focus outline on selected tabs.  For accessibility, the tabs are
already distinguished*/
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  outline: 0;
}

.nav-tabs > li > a {
  border-bottom-color: #2B669A !important;
}

/*to match other elements, taken from .list-group-item.active in bootstrap-theme.css*/
.nav-tabs > .active > a {
  color: #FFF !important;
  text-shadow: 0px -1px 0px #286090;
  background-image: linear-gradient(to bottom, #337AB7 0px, #2B669A 100%);
  background-repeat: repeat-x;
  border-color: #2B669A !important;
}

.nav-tabs a {
  border-color: #DDD !important;
  color: #555;
  font-size: 125%;
}

.tab-content {
    /*border-left: 1px solid #ddd;*/
    /*border-right: 1px solid #ddd;*/
    /*border-bottom: 1px solid #ddd;*/
    border-radius: 0px 0px 5px 5px;
    padding-top: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

/*******************************************************/

/*#input-group-unified { width: 100%;}*/
.input-group-unified input {width: 50% !important;}
.input-group-unified input:last-of-type { border-left: 0;}

/*.banner1 {
  margin-left: -4%;
  margin-right: 8%;
}*/


/*
 * off canvas sidebar
 * --------------------------------------------------
 */
/*#logo {
 padding-top: 10px;
 padding-bottom: 10px;
}*/

#lg-menu a, #lg-menu-staff a {
  font-size: 125%;
  /*display:inline-block
  .text-overflow();*/

}

/*this allows us to use contextual badges (-success, -primary, etc)*/
.label-as-badge {
    border-radius: 1em;
}

.shrinktext {
  letter-spacing: -1px;
}
.shrinktextmore {
  letter-spacing: -2px;
}

@media screen and (max-width: 768px) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;width:
  }

  .row-offcanvas-left.active {
    left: 60%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -60%;
    position: absolute;
    top: 0;
    width: 60%;
    margin-left: 5px;
  }

  #sidebar {
    /*padding-left:3px;*/
    padding-left: 5px;
  }

  #sidebar a, #sidebar-footer a {
    padding-left: 10px;
  }

}
