{% extends "comments/base.html" %}
{% load crispy_forms_tags %}
{% load comment_tags %}

{% block heading_inner %} {{ heading }}
  <a class="btn btn-info" href="{{comment.get_origin}}" role="button">Back</a>
{% endblock %}

{% block content %}
<blockquote>
  <p class="lead">
    {{comment.text}} <small>{{comment.user}} | {{comment.timestamp|timesince}} ago</small>
  </p>
  {% if not comment.is_child %}
    {% for child in comment.get_children %}
    <blockquote>
      {{child.text}} <small>{{child.user}} | {{child.timestamp|timesince}} ago</small>
    </blockquote>
    <!-- <p>
      <ul class="list-group">
        {% for child in comment.get_children %}
          <li class="list-group-item">"{{child.text}}"
            <small>-{{child.user}} | {{child.timestamp|timesince}} ago</small>
          </li>
        {% endfor %}
      </ul>
    </p> -->
    {% endfor %}
    <div>
      <form method="POST" action="{% url 'comments:create' %}">{% csrf_token %}
        {{ form | crispy }}
        <input type='hidden' name='parent_id' value='{{comment.id}}'>
        <input type='submit' class='btn btn-primary' value='Add reply' />
      </form>
    </div>
  {% endif %}
</blockquote>

{% endblock %}
