{% load crispy_forms_tags %}
{% load comment_tags %}

  {% for comment in target_comments %}
    {% if request.user.is_staff or not comment.flagged %}
      <li class="list-group-item {% if comment.flagged %} list-group-item-danger{% endif %} anchor clearfix"
          id="comment-{{comment.id}}">

        <img class="icon-md img-rounded pull-left" src="{{comment.user.profile.get_avatar_url}}" alt="avatar"/>

        {% if request.user.is_staff %}
        <div class="pull-right">
          {% if comment.flagged %}
          <a class='btn btn-success btn-xs' title='Unflag this comment'
            href="{% url 'comments:unflag' comment.id %}"><i class="fa fa-fw fa-flag"></i></a>
          {% else %}
          <a class='btn btn-warning btn-xs' title='Flag this comment'
            href="{% url 'comments:flag' comment.id %}"><i class="fa fa-fw fa-flag"></i></a>
          {% endif %}
          <a class='btn btn-danger btn-xs' title='Delete this comment'
            href="{% url 'comments:delete' comment.id %}"><i class="fa fa-fw fa-trash-o"></i></a>
          <a class='btn btn-danger btn-xs' title='Ban this user from public comments'
            href="{% url 'profiles:comment_ban' comment.user.profile.id %}"><i class="fa fa-fw fa-ban"></i></a>
        </div>
        {% endif %}

        <h3 class="comment-heading">
          {% if request.user.is_staff %}
          <a href="{% url 'profiles:profile_detail' comment.user.profile.id %}">{{comment.user}}</a>
          <small>
            ({{comment.user.profile.preferred_full_name}},
            {% if config.display_marks_calculation and not comment.user.is_staff %}
            Current Mark: {{comment.user.profile.mark|floatformat:0}}%
            {% elif comment.user.is_staff%}
            Teacher
            {% endif %})
          </small>
          {% else %}
            {% firstof comment.user.profile.alias comment.user %}
          {% endif %}
          <small>&mdash; {{comment.timestamp|timesince}} ago
            <a href="{{comment.path}}" title="Link to this comment" class="text-muted"><i class="fa fa-link"></i></a>
          </small>
          {% if comment.flagged %} FLAGGED (students can't see this comment) {% endif %}
        </h3>
        <div class="comment-heading-divider"></div>

        <div class="comment-content">{{comment.text|safe}}</div>
        <ul>
        {% for document in comment.document_set.all %}
        <li class="file-link"><a  href="{{ document.docfile.url }}" target="_blank" >
          {{ document.docfile|filename|safe}}</a>
            {% if document.is_valid_portfolio_type %}
            <a title = "Add {{ document.docfile|filename|safe }} to your portfolio."
                       href="{% url 'portfolios:art_add' document.id %}"
            class="btn btn-default btn-xs pull-right">Add to Portfolio</a>
            {% endif %}
        </li>
        {% endfor %}
        </ul>

      </li>
    {% endif %}
  {% endfor %}
