
<div class="modal fade" id="newBadgeModal" tabindex="-1" role="dialog" aria-labelledby="newBadgeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="newBadgeLabel">
            Congratulations! You've earned {{ badge_total }} new
            <i class="fa fa-fw fa-certificate"></i> {{ badge_name }}{{ badge_total|pluralize}}
          </h4>
        </div>
        <div class="modal-body">
          {% for type, badges in new_badges_by_type.items %}
            <div class="list-group-item list-group-item-info">
                <i class="pull-right fa fa-fw {{type.fa_icon}}"></i>
                {{type.name}}s
            </div>

            <div class="list-group-item">
            {% for badge in badges %}

              {# only use popover on wider screens #}
              <span class="hidden-xs">
                <a {% include 'badges/snippets/badge_popover.html' with object=badge user_obj=request.user %} >
                  {% include 'badges/snippets/badge_notification_popup_bs_badge.html' %}
                </a>
              </span>

              {# direct link on mobile #}
              <span class="visible-xs-inline-block">
                <a href="{{badge.get_absolute_url}}">
                  {% include 'badges/snippets/badge_notification_popup_bs_badge.html' %}
                </a>
              </span>

            {% endfor %}
            </div>

          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="newBadgeDissmissButton">Dismiss</button>
        </div>
      </div>
    </div>
</div>