{% load utility_tags %}

{% if not badge.active %}
    <p class='text-danger'><i class='fa fa-eye-slash'></i> INACTIVE</p>
{% endif %}

<p>{{badge.short_description}}</p>

<p>XP: {{badge.xp}}</p>

<p>Rarity: {{badge.get_rarity_icon|safe}} <small>{{badge.percent_of_active_users_granted_this|floatformat:1 }}% have earned this {{ config.custom_name_for_badge }}</small></p>

{% tag_name %}s: {% include 'tags/snippets/tag-list.html' with object=badge user_obj=user_obj %}

Prerequisites:

<ul class='left-aligned'>
{% for p in badge.prereqs %}
  <li><a href='{{ p.get_prereq.get_absolute_url }}'>{{ p }}</a></li>
{% empty %}
  <li>None (granted manually)</li>
{% endfor %}
</ul>

{% if assertions_of_this_badge %} {# If a student is looking at this, it will show which badges they have earned #}
<p>Earned: </p>
<ol><small>
{% for assertion in assertions_of_this_badge %}
  <li>{{assertion.timestamp}}
    {% if request.user.is_staff %} {# staff can revoke badges #}
    <a class='btn btn-danger btn-xs' title='Revoke' href='{% url "badges:revoke" assertion.id %}' role='button'>
      <i class='fa fa-trash-o'></i>
    </a>
    {% endif %}
  </li>
{% endfor %}
</small></ol>
{% endif %} {# if assertions #}
