<div class="panel-group">

    <div class="panel panel-{{type}}">
        <div class="panel-heading">Related Quests ({{quests|length}}) <i class="fa fa-shield fa-fw"></i></div>
        <div class="panel-body">
            <p></p>
            <ul>
                {% for quest in quests %}
                    {% if view != 'student' %}

                        <li><a href="{{ quest.get_absolute_url }}">{{ quest }} ({{ quest.xp }} XP)</a></li>

                    {% else %}
                    {% with quest=quest.0 xp=quest.1 %}

                        <li><a href="{{ quest.get_absolute_url }}">{{ quest }} ({{ xp }} XP)</a></li>

                    {% endwith %}
                    {% endif %}

                {% empty %}

                    <li>None.</li>

                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
    <div class="panel panel-{{type}}">
        <div class="panel-heading">Related Badges ({{badges|length}}) <i class="fa fa-certificate fa-fw"></i></div>
        <div class="panel-body">
            <p></p>
            <ul>
                {% for badge in badges %}
                    {% if view != 'student' %}

                        <li><a href="{{ badge.get_absolute_url }}">{{ badge }} ({{ badge.xp }} XP)</a></li>

                    {% else %}
                    {% with badge=badge.0 xp=badge.1 %}

                        <li><a href="{{ badge.get_absolute_url }}">{{ badge }} ({{ xp }} XP)</a></li>
                    
                    {% endwith %}
                    {% endif %}

                {% empty %}

                    <li>None.</li>

                {% endfor %}
            </ul>
        </div>
    </div>
    
</div>