# Contains secrets
.env
.env.production
*.pem

#these files have might have production keys and passwords etc.
production_*.py


# MEDIA AND COLLECTED STATIC FILES
# python manage.py collectstatic
_media_uploads/
_collected_static/
_sent_mail/
collected_static/
static_in_venv/
local_static_root/

#celery
celerybeat.pid

# Linux:
bin/
include/
share/

# Windows:
Scripts/
tcl/
Include/
Lib/

# Mac:
*.DS_Store

# PyCharm
.idea

#VS Code
*.code-workspace
.vscode/

# user uploaded media files
media_root/

*.sqlite3

pip-selfcheck.json


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Ignore this comment.

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
