version: '2.2'

###############################################################################
#
# FOR DOCKER-COMPOSE SETTINGS SPECIFIC TO AWS PRODUCTION
#
# Run with:
# `docker-compose -f docker-compose.yml -f docker-compose.prod.aws.yml up -d`
#
# https://docs.docker.com/compose/extends/
################################################################################

services:
  web:
    command: bash -c "cd /app/src/ &&
                      python manage.py migrate_schemas --shared &&
                      python manage.py migrate_schemas --executor=parallel &&
                      python manage.py collectstatic --noinput &&
                      uwsgi --ini uwsgi.aws.ini"
    volumes:
      - .:/app
      # - static_data:/app/src/static  # use static dir as a fallback for hardcoded urls hitting app directly
      # - media_data:/app/media
      # - socket_data:/bytedeck-volume
    user: $WUID:$WGID

  celery:
    user: $WUID:$WGID

  nginx:
    build:
      context: ./nginx
      args:
        WUID: $WUID
        WGID: $WGID
    #volumes:
    #   - static_data:/var/www/bytedeck/static
    #   - socket_data:/bytedeck-volume
    #   - media_data:/var/www/bytedeck/media/
    ports:
      - "443:8088"
      - "80:8080"
    depends_on:
      - web
    user: $WUID:$WGID
    networks:
      - backend-network

# volumes:
#  static_data:       # commenting static_data volume as collectstatic cmd picking this up instead of S3 for STATIC_ROOT.
#  socket_data:
#  media_data:


