version: '3'

services:
  web:
    restart: unless-stopped
    build: . # current directory
    env_file:
      .env
    command: bash -c "python /app/src/manage.py migrate &&
                      python /app/src/manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:11-alpine
    container_name: hackerspace_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
     env_file: .env

  redis:
    image: "redis:latest"
    env_file:
      .env
    hostname: redis
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

  celery:
    build: .
    command: bash -c "cd /app/src/ && celery -A hackerspace_online worker -l info -c 3 -Q default"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis
      - web

volumes:
  postgres_data:
  redis_data: