backports.csv>=1.0.7,<1.1
beautifulsoup4>=4.8,<4.9
celery>=4.4,<5.0
Django>=2.2.9,<2.3
django-allauth>=0.41.0,<0.42
django-attachments>=1.4.1,<1.5
django-bootstrap-datepicker-plus>=3.0.5,<3.1
django-celery-beat>=1.5.0,<1.6
django-colorful>=1.3,<2.0
django-crispy-forms>=1.8.1,<1.9
django-datetime-widget>=0.9.3,<1.0
django-djconfig>=0.10.0,<0.11
django-embed-video>=1.1.2,<1.2
django-grappelli>=2.10.1,<2.11
django-import-export>=1.2.0,<1.3
django-jchart>=0.4.2,<0.5
django-postman>=3.6.2,<3.7
django-redis>=4.10.0,<4.11
django-select2>=6.3.1,<6.4
django-summernote>=0.8.11.6,<0.9
django-url-or-relative-url-field>=0.1.1,<0.2
numpy>=1.18.0,<1.19
Pillow>=6.2.0,<6.3
psycopg2-binary>=2.8.3,<2.9
python-memcached>=1.58,<2.0
#SQLAlchemy==1.3.3
workdays>=1.4,<2.0