{% extends "base.html" %}

{% block head_title%}{% endblock%}
{% block extrahead %}{% endblock %} {# needed by django-postman #}
{% block head %}{% endblock %}
{% block head_css %}{% endblock %}

{% block content_first %}{% endblock %}

{% block content_outer %}
<div class="row row-offcanvas row-offcanvas-left">
    <nav class="column col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
        {% include 'sidebar.html' %}
    </nav>
    <div class="col-xs-12 col-sm-9" id="main"> <!-- These settings need to compliment the sidebar settings -->
        {% block pre_heading %}{% endblock %}
        <h1 class="clearfix">{% block heading %}{% endblock %}</h1>
        {% block postman_menu %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    {% block extra_body %}{% endblock %}
</div> <!-- off canvass -->
{% endblock content_outer %}
{% block content_last %}{% endblock %}

{% block js %}{% endblock %}

{#{% block tour_js %}#}
{#{% if config.hs_tour_on %}#}
{#{% if request.user.profile.intro_tour_completed = False %}#}
{#{% include 'intro_tour.html' %}#}
{#{% endif %}#}
{#{% endif %}#}
{#{% endblock %}#}
