{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title%}{% endblock%} | Timberline's Digital Hackerspace</title>

    {% include 'head_css.html' %}

    <style>
      {% block css %}
      {% endblock %}
    </style>

  </head>

  <body>

    {% include 'navbar-fixed.html' %}

    {% block jumbotron %}
    {% endblock %}

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
          {% include 'sidebar.html' %}
          {% block content_outer %}
        </div>
        <div class="col-xs-11 col-sm-10" id="main"> <!-- These settings need to compliment the sidebar settings -->
          {% block content %}
          {% endblock %}
        </div>
        {% endblock %}

        {% block extra_body %}
        {% endblock %}
      </div> <!-- off canvass -->
    </div> <!-- /container -->

    {% include 'javascript.html' %}

  </body>
</html>
