{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title%}{% endblock%} {{ config.site_name }}</title>
    {% include 'head_css.html' %}

    <!-- Added at the top because too many components can't handle lazy loading of Jquery and BS at the bottom.. -->
    <!-- Summernote and date-time picker for sure, probably others too -->
    <script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


    <!-- ** head block ** -->
    {% block head %}{% endblock %}
    <!-- ** end head block ** -->

    <!-- ** head_css block ** -->
    <style>{% block head_css %}{% endblock %}</style>
    <!-- ** end head_css block ** -->

    {% if request.user.profile.custom_stylesheet %}<!-- User custom stylesheet -->
    <link rel="stylesheet" href="{{ request.user.profile.custom_stylesheet.url }}">
    {% endif %}
</head>

<body {% if request.user.profile.dark_theme %}data-theme="dark"{% endif %}>
<div id='popover-fake-orphan-anchor'></div>

<!-- ** content_first block ** -->
{% block content_first %}{% endblock %}
<!-- ** end  content_first block ** -->
{% include 'navbar-fixed.html' %}
<div class="container-fluid" id="main-container">
    {% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        {% if not request.user.profile.silent_mode %}
            <audio src="{% static 'sounds/error_small.mp3' %}" autoplay prelaod='auto'></audio>
        {% endif %}
    {% elif 'warning' in message.tags %}
    {% elif 'info' in message.tags %}
    {% elif 'success' in message.tags %}
        {% if not request.user.profile.silent_mode %}
            <audio src="{% static 'sounds/success_small.mp3' %}" autoplay prelaod='auto'></audio>
        {% endif %}
    {% endif %}
    <div role="alert" class="alert alert-dismissible fade in
          {% if 'error' in message.tags %}alert-danger
          {% elif 'warning' in message.tags %}alert-warning
          {% elif 'info' in message.tags %}alert-info
          {% elif 'success' in message.tags %}alert-success
          {% endif %}
          ">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% if 'safe' in message.tags %}
        {{ message|safe }}
        {% else %}
        {{ message|safe }}
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}

    {% if not config.hs_closed or request.user.is_staff %}
        <!-- ** content_outer block ** -->
        {% block content_outer %}{% endblock %}
        <!-- ** end content_outer block ** -->
    {% else %}
    <img class="img-responsive jumbo-banner banner1"
         src="{% static 'img/banner_closed.jpg' %}"
         alt="{{ config.site_name }} is Closed for Maintenance"/>
    {% endif %}
</div> <!-- /container -->

<!-- ** content_last block ** -->
{% block content_last %}{% endblock %}
<!-- ** end content_last block ** -->

{% include 'footer.html' %}

{% include 'javascript.html' %}

<!-- ** js block ** -->
{% block js %}{% endblock %}
<!-- ** end js block ** -->

{#{% block tour_js %}{% endblock %}#}
</body>
</html>
