{% extends "base.html" %}

{% block head_title%}{% endblock%}
{% block head %}{% endblock %}
{% block head_css %}{% endblock %}

{% block content_first %}{% endblock %}

{% block content_outer %}
<div class="row row-offcanvas row-offcanvas-left">
  <nav class="column col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
    {% include 'sidebar.html' %}
  </nav>
  <div class="col-xs-11 col-sm-9" id="main"> <!-- These settings need to compliment the sidebar settings -->
    {% block pre_heading %}{% endblock %}
    <h1>{% block heading %}{% endblock %}</h1>
    {% block content %}{% endblock %}
  </div>
  {% block extra_body %}{% endblock %}
</div> <!-- off canvass -->
{% endblock content_outer %}
{% block content_last %}{% endblock %}

{% block js %}{% endblock %}

{% block tour_js %}
    {% if request.user.profile.intro_tour_completed = False %}
      {% include 'intro_tour.html' %}
    {% endif %}
{% endblock %}
