{% extends "base.html" %}

{% load static %}

{% block head_title%}{% endblock%}
{% block head %}{% endblock %}
{% block head_css %}{% endblock %}

{% block content_first %}{% endblock %}

{% block content_outer %}
<div class="row">
    <div class="col-sm-3">
        <h3 class="hidden-xs"> <!--so logo margins align with main div headings-->
            {% include "banner.html" %}
        </h3>
    </div>
    <div class="col-sm-9">
        <h1>{% block heading %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>
</div>

{% block extra_body %}{% endblock %}
{% endblock content_outer %}
{% block content_last %}{% endblock %}

{% block js %}{% endblock %}
