{% extends "base_sidebar.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Configuration | {% endblock %}
{% block head %}{% endblock %}

{% block content_first %}{% endblock %}
{% block heading %}Configuration<i class="fa fa-cog pull-right"></i>{% endblock %}
{% block content %}
<h3>Site Settings</h3>
<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Save" class="btn btn-primary"/>
</form>
<h3>Management Functions</h3>
<div class="row">
    <div class="col-sm-12">
        <p>
            <a class="btn btn-default"
               href="{% url 'admin:courses_semester_add' %}">Semester Admin</a>
        </p>
    </div>
</div>

{% endblock %}

{% block js %}{% endblock %}
