{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title%}Home{% endblock%}

{% block head_css %}{% endblock %}

{% block content_first %}{% endblock %}

<!-- {% block jumbotron %}
  <div class="jumbotron">
    <div class="container-fluid">
      <img class = "img-responsive banner1" src ="{% static 'img/banner.png' %}" alt="Timberline's Digital Hackerspace Landing Page" />
       <!-- <h1>Timberline's Digital Hackerspace <small>Online</small></h1>
      <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
      <p>To see the difference between static and fixed top navbars, just scroll.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
      </p>
    </div>
  </div> -->
<!-- {% endblock %} -->
{% block content_outer %}
  <img class = "img-responsive jumbo-banner banner1" src ="{% static 'img/banner.png' %}" alt="Timberline's Digital Hackerspace Landing Page" />
{% endblock %}


{% block content_last %}{% endblock %}

{% block js %}{% endblock %}
