{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title%}Home{% endblock%}

{% block head_css %}{% endblock %}

{% block content_first %}{% endblock %}

{% block content_outer %}
  <div class="jumbo-banner">
    {% include "banner.html" %}
  </div>
{% endblock %}


{% block content_last %}{% endblock %}

{% block js %}
<script>
  /* Best way to detect a mobile device
    https://stackoverflow.com/a/24600597/3788603 */
  if (/Mobi|Android/i.test(navigator.userAgent)) {
    window.location.href = "{% url 'account_login' %}";
  }
</script>
{% endblock %}
