<script>
$(document).ready(function() {

  var intro_tour = new Tour({
    storage: window.sessionStorage,

    steps: [
      {
        orphan: true,
        delay: 500,
        backdrop: true,
        title: "Welcome!",
        content: "<p>Now that you've successfully registered with \
        <b>{{ config.site_name }} - Online</b>, \
        I've prepared a tour to show you around.</p> \
        <p>Use the buttons below to navigate through the tour.</p> \
        <p>If you grow weary of my tour, you can hit the <em>End Tour</em> button, \
        however I will continue to appear each time you visit, until you have \
        completed the tour.</p>",
      },
      {
        // backdrop: true,
        element: "#navbar",
        placement: 'bottom',
        title: "Hackerspace Tour Guide",
        content: "<p>Here are a few tips for the tour.  If you stay on the marked trail, you won't have a problem.  There will be plenty of time to explore later.  But just in case...</p> \
        <p><b>If you get lost</b> during the tour, just refresh your browser and I'll pick back up where we left off.</p> \
        <p><b>As a last resort</b>, in case you get blown up by a creeper or something, close the browser tab and come back and we can try again.</p> \
        <p><b>If you end the tour</b> early and want to get me back, close this browser tab then come back. Unfortunately I'll have to start from the beginning again.</p>\
        ",
      },
      {
        // backdrop: true,
        element: "#navbar",
        placement: 'bottom',
        title: "Hackerspace - Online",
        content: "<p>You will be using this site for almost everything in your course, whether you are taking:\
        <ul><li>Computer Modelling & Animation,</li><li>Computer Programming,</li> \
        <li>Digital Art & Desgin,</li><li>Digital Hacklab,</li> \
        <li>Digital Photography, or</li><li>Game Programming & Design,</li></ul> \
        <p>this is where you will receive your lessons and assignments, where \
        your work will be marked, and where you will track your grade in the course.</p>",
      },
      {
        // backdrop: true,
        element: "#navbar",
        placement: 'bottom',
        title: "Hackerspace - Online",
        content: "<p>{{ config.site_name }} - Online uses a form of <strong>gamification</strong>:</p> \
        <blockquote><dl> \
          <dt>gam·i·fi·ca·tion</dt> \
          <dd><small>the application of typical elements of game playing (e.g., \
            point scoring, competition with others, rules of play) to other \
            areas of activity, typically as an online marketing technique to \
            encourage engagement with a product or service.</small></dd> \
        </dl></blockquote> \
        <p>That's right, I'm going to try to trick you into enjoying the course! \
        MWAHAHAAHAHA!!!</p>",
      },
      {
        // backdrop: true,
        element: "#navbar",
        placement: 'bottom',
        title: "{{ config.site_name_short }} - Online",
        content: "<p>Your lessons and assignments will be given in the form of <b>Quests</b>. \
        When you complete a quest, you will be given experience points (XP) instead of marks. \
        Instead of completing a Unit, you will embark on a <b>Campaign</b>.</p>\
        <p>As you gain XP you will go up levels, and as you complete quests and campaigns \
        you will gain <b>Badges</b> such as <b>Talents</b>, <b>Achievements</b>, and <b>Awards</b>.</p>",
      },
      {
        // backdrop: true,
        element: "#navbar",
        placement: 'bottom',
        title: "Hackerspace - Online",
        content: "<p>On the other hand, if you're too cool to have fun... </p> \
        <img class='popover-img'src='http://www.troll.me/images/brick-tamland/wow-youre-so-cool.jpg' /> \
        <p>...it's still a really nice system once you get used to it,  \
        and you can ignore all the fun stuff!</p> \
        <p>This system will provide you with the flexibility to learn what interests you most,  \
        you will always know exactly what your mark is, and you will have access to  \
        all of this from home, or from your phone.</p> \
        ",
      },
      {
        // backdrop: true,
        placement: 'bottom',
        element: "#profile",
        title: "<i class='fa fa-user'></i>&nbsp;&nbsp;Profile",
        content: "<p>You can click your username to view or edit your profile.</p> \
        <p>One of the quests in the introductory campaign will ask you to update your profile and create an avatar.</p>\
        <p>That little symbol to the left of your username is your Rank.</p>\
        ",
      },
      {
        // backdrop: true,
        element: "#announcements-menu",
        title: "<i class='fa fa-newspaper-o'></i>&nbsp;&nbsp;Announcements",
        content: "<p>This button will take you to the announcements page. \
        Every day there will be a new announcement.</p> \
        <p>You are expected to read the daily announcement as the first thing you do \
        each class, after logging in to the Hackerspace - Online.</p> \
        <p>A little number will show up on this menu button if you have unread announcements.</p>",
        path: "{% url 'announcements:list' %}",
      },
      {
        // backdrop: true,
        placement: 'bottom',
        element: "#notifications-menu",
        title: "<i class='fa fa-inbox'></i>&nbsp;&nbsp;Notifications",
        content: "<p>This inbox symbol shows your notifications.</p> \
        <p>New announcements will also show up in this menu, but so will a lot more.</p> \
        <p>A little number will appear here too, showing how many new notifications you have.</p>",
      },
      {
        // backdrop: true,
        element: "#navbar",
        placement: 'bottom',
        title: "An adorable asparagus",
        content: "<img class='popover-img' src='/static/img/asparagus.jpg' />",
      },
      {
        // backdrop: true,
        element: "#groups-menu",
        title: "<i class='fa fa-users'></i>&nbsp;&nbsp;Group",
        content: "<p>The group page will allow you to view how other students are doing, if they choose to share this info.</p> \
        ",
        path: "{% url 'profiles:profile_list' %}",
      },
      {
        // backdrop: true,
        element: "#badges-menu",
        title: "<i class='fa fa-certificate'></i>&nbsp;&nbsp;Badges",
        content: "<p>This page will list all of the badges that are available.</p> \
        <p>Badges you have earned will appear in color.  You can also view your badges on your profile page.</p> \
        <p>You can explore these later on your own</p>",
        path: "{% url 'badges:list' %}",
      },
      {
        // backdrop: true,
        element: "#quests-menu",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Quests",
        content: "<p>You will probably spend most of you time on the Quests page.</p> \
        <p><b>Click the Quests button</b> now so I can give you more details.</p> \
        ",
        reflex: true,
      },
      {
        backdrop: true,
        placement: 'bottom',
        element: "#quest-tabs",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Quest Tabs",
        content: "<p>There are three tabs on this page:</p> \
        <p><b>Available</b>: quests you can try. When you first join, you should have one quest available to you.</p> \
        <p><b>In progress</b>: quests you  have already started, or quests that have been returned to you.</p> \
        <p><b>Completed</b>: quests that you have submitted for approval.</p> \
        ",
        path: "{% url 'quests:quests' %}",
      },
      {
        backdrop: true,
        placement: 'bottom',
        element: "#accordion-available",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Quest Preview",
        content: "<p>A list of available quests will show up here. You can click them to get a short description and a few more details.</p> \
        ",
        path: "{% url 'quests:quests' %}",
      },
      {
        // backdrop: true,
        placement: 'bottom',
        element: "#preview-btns-1",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Quest  Preview Buttons",
        content: "<p><b>View Details:</b> This will allow you to see the full contents of a quest.  Choose this if you are curious, but might not want to actually do the quest.</p> \
        <p><b>Start Quest:</b> This will also bring you to the full details of the quest, however it will also move the quest to your <em>In Progress</em> tab.</p>\
        <img class='pop-over-img' src='http://img4.wikia.nocookie.net/__cb20120507011516/lotr/images/0/09/Fotr0946.jpg' /> \
        <p>The footing is tricky here so follow the directions carefully. I don't want you to fall off a cliff!</p> \
        <p>Click <b>Next &raquo;</b> to start the quest and continue the tour. \
        If you hit the start button and go on without me, I'm not sure I'll be able to find you again!\
        ",
        path: "{% url 'quests:quest_active' 1 %}",
      },
      {
        // backdrop: true,
        element: "#submission-inprogress-1",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Success!",
        content: "<p>OMG you made it!  You have no idea how many students \
        I've lost on that part of the tour.  We probably should have taken the \
        Mines of Moria instead.</p> \
        <img class='popover-img' src='http://i0.wp.com/static.bangordailynews.com/wp-content/blogs.dir/122/files/2013/09/you-shall-not-pass.jpg' />\
        ",
        path: "{% url 'quests:start' 1 %}",
      },
      {
        backdrop: true,
        placement: 'top',
        element: "#quest-instructions-1",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Quest Details",
        content: "<p>After starting a quest, you should carefully read through \
        the <em>Quest Details</em>.  This is your lesson.</p>\
        ",
        path: "{% url 'quests:start' 1 %}",
      },
      {
        backdrop: true,
        placement: 'top',
        element: "#submission-instructions-1",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Submission Instructions",
        content: "<p>After carefully reading the <em>Quest Details</em> above, \
        You will usually be given a task.  The <em>Submission Instructions</em> \
        will explain how to complete the task using the information \
        you gained from the <em>Quest Details</em>.</p>\
        ",
        path: "{% url 'quests:start' 1 %}",
      },
      {
        backdrop: true,
        placement: 'top',
        element: "#submission-form-1",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Quest Submission Form",
        content: "<p>You will use this form to provide the information that \
        the <em>Submission Instructions</em> asked you to submit.</p> \
        ",
        path: "{% url 'quests:start' 1 %}",
      },
      {
        backdrop: true,
        placement: 'top',
        element: "#submission-comments-1",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Past Submissions and Replies",
        content: "<p>When you first start, this section will be empty. \
        However, after you complete a quest your submission will appear here, as \
        well as your teacher's comments.  You can always add more details by \
        using the <em>Quest Submission Form</em> again.</p> \
        ",
      },
      {
        // backdrop: true,
        element: "#navbar",
        placement: 'bottom',
        title: "Break",
        content: "<p>We've been at this for a while, I think you deserve a break.  Enjoy this short video interlude.</p>\
        <p>I highly recommend you wear your headphones!</p>\
        <div class='embed-responsive embed-responsive-4by3'>\
          <iframe class='embed-responsive-item' src='https://www.youtube.com/embed/6-HUgzYPm9g?rel=0&amp;controls=0&amp;showinfo=0'></iframe>\
        </div>\
        ",
      },
      {
        backdrop: true,
        placement: 'top',
        element: "#submission-instructions-1",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Quest Completion",
        content: "<p>The submission details for this quest ask you to \
        complete this tour that I'm giving you right now.</p>\
        Although the tour isn't over yet, I trust you to complete it.  Besides,\
        if you don't complete it, I will harrass you every time your log in \
        for the rest of the year! HA!</p>\
        ",
      },
      {
        backdrop: true,
        placement: 'top',
        element: "#submission-form-1",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Quest Completion",
        content: "<p>Type 'Completed' in the <em>Quest Submission Form</em>.</p>\
        <p><b>Do not</b> hit any buttons yet!</p>",
      },
      {
        backdrop: true,
        placement: 'top',
        element: "#submission-form-1",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Quest Completion",
        content: "<p>Ok, I'm not smart enough to tell if you actually wrote something, so I'm trusting you here...</p>\
        ",
      },
      {
        backdrop: true,
        placement: 'top',
        element: "#submission-form-1",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Quest Completion",
        content: "<p>Seriously, if you haven't typed anything in there yet, please do, or I'm going to lose you.</p>\
        ",
      },
      {
        backdrop: true,
        placement: 'bottom',
        element: "#tour-submit-quest",
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Quest Completion",
        content: "<p>Ok, you can hit the button now.</p>\
        ",
        reflex: true,
      },
      {
        placement: 'bottom',
        element: "#quest-tabs",
        delay: 1000,
        title: "<i class='fa fa-shield'></i>&nbsp;&nbsp;Quest Completed",
        content: "<p>Ok, if you did that properly, you should noticed that you \
        now have several new quests in your <em>Available</em> tab (see that little number?)</p> \
        <p>You should also notice that you now have one quest in your \
        <em>Completed</em> tab as well. Congratulations!\
        ",
      },
      {
        // backdrop: true,
        placement: 'bottom',
        element: "#menu-xp",
        title: "Experience Points!",
        content: "<p>You'll also notice that you have 10XP!</p>\
        <p>5 of those XP came from completing the quest.</p>\
        <p>(If you don't have any XP, you should probably go back and complete \
        the quest properly before continuing.)</p>\
        ",
      },
      {
        // backdrop: true,
        placement: 'bottom',
        element: "#notifications-menu",
        title: "You First Achievement!",
        content: "<p>The other 5 XP came from a <em>Badge</em> that is automatically awarded \
        when you complete your first quest.</p> \
        <p>You should see a notification appear letting you know about the Achievement.</p>\
        <p>You can click to check it out.</p>\
        ",
        path: "{% url 'profiles:profile_detail' request.user.profile.id  %}",
      },
      {
        // backdrop: true,
        element: "#navbar",
        placement: 'bottom',
        title: "Finished",
        content: "<p>Well, that brings us to the end of the tour.  I encourage you to \
        explore the site more on your own.  </p> \
        <p>Hit <b>Next &raquo;</b> one more time and I'll never bug you again.</p>\
        <p>Good luck!</p> \
        ",
      },
      {
        // backdrop: true,
        element: "#navbar",
        placement: 'bottom',
        title: "Huh?",
        content: "<p>You really shouldn't be seeing this.  Can you please tell your teacher?</p> \
        ",
        path: "{% url 'profiles:tour_complete' %}",
      },
    ]
  });

  // Initialize the tour
  intro_tour.init();

  // Start the tour
  intro_tour.start();

});


</script>
