{% load staticfiles %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<!-- js via static files -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

<!-- js via CDN (TOO SLOW!)-->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

<!-- Bootstrap Tables: Latest compiled and minified JavaScript -->
<!-- http://bootstrap-table.wenzhixin.net.cn/getting-started/ -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script> -->
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<!-- Latest compiled and minified Locales -->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/locale/bootstrap-table-zh-CN.min.js"></script>-->


<!-- Custom js -->
<script src="{% static 'js/custom.js' %}"></script>

<script src="{% static 'js/bootstrap-tour.min.js' %}"></script>

<script src="{% static 'js/jquery-double-submission.js' %}"></script>


<script>

    var timeout = 30000; //milliseconds

    // this method contain your ajax request
    function ajaxApprovalsBadge() { //function to ajax request
      //Update quests awaiting approval badge
      $.ajax({
        type: "POST",
        url: "{% url 'quests:ajax' %}",
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function(data){
          var count = data.count;
          if(count!=0) {
            $("#approvals_badge").html(count);
          }
        }
      });
    }

    //Update badge to show number of new Notifications
    function ajaxNotificationsBadge() {
      $.ajax({
        type: "POST",
        url: "{% url 'notifications:ajax' %}",
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function(data){
          var count = data.count;
          if(count!=0) {
            $("#notification_badge").html(count);
            var announcements_count = 0;
            $(data.notifications).each(function(){
              var link = this;
              if (this.indexOf("announcements")>0) {
                announcements_count++;
              }
            })
            if(announcements_count!=0) {
              $("#announcements-badge").html(announcements_count);
            }
          }
        }
      });
    }

    $(document).ready(function() {

      // http://stackoverflow.com/questions/2830542/prevent-double-submission-of-forms-in-jquery
      $('form').preventDoubleSubmission();

      // Ensure external links and media open in new tabs by adding target="_blank"
      $("a[href^='http://']").attr("target","_blank");
      $("a[href^='https://']").attr("target","_blank");
      $("a[href^='/media/']").attr("target","_blank");

      // Dismiss bootstrap alerts
      if ($('.dismiss-in-3').length) {
        setTimeout(function(){ $('.dismiss-in-3').slideUp(); }, 3000);
      }
      if ($('.dismiss-in-5').length) {
        setTimeout(function(){ $('.dismiss-in-5').slideUp(); }, 5000);
      }

      ajaxNotificationsBadge()
      setInterval(ajaxNotificationsBadge, timeout);

      {% if request.user.is_staff %}
        ajaxApprovalsBadge()
        setInterval(ajaxApprovalsBadge, timeout);
      {% endif %}

      // notifications dropdown
      $(".notification-toggle").click(function(e){
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "{% url 'notifications:ajax' %}",
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function(data){
            $("#notification_dropdown").html("");
            var count = data.count;
            // console.log(count);
            if(count!=0) {
              // $("#notification_badge").html(count);
              $("#notification_dropdown").append("<li class='dropdown-header'>New Notifications</li>");
              $(data.notifications).each(function(){
                var link = this;
                $("#notification_dropdown").append("<li>"+link + "</li>");
              })
              // console.log(data.notifications);
              $("#notification_dropdown").append("<li role='separator' class='divider'></li>");
            }
            var overflow = "";
            if(count > data.limit) {
              overflow = "<i class='fa fa-fw fa-2x fa-stack-overflow text-danger'></i>";
            }
            var url = "{% url 'notifications:list' %}";
            $("#notification_dropdown").append("<li><a href='"+url+"'>"+ overflow+" View All Notifications</a></li>");

          },
          error: function(rs, e) {
            console.log(rs);
            console.log(e);
          }
        });
      });

    }); //(document).ready(function(){




</script>
