{% load staticfiles %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <!-- js via static files -->
      <!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

    <!-- js via CDN -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Bootstrap Tables: Latest compiled and minified JavaScript -->
    <!-- http://bootstrap-table.wenzhixin.net.cn/getting-started/ -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
      <!-- Latest compiled and minified Locales -->
      <!--<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/locale/bootstrap-table-zh-CN.min.js"></script>-->


    <!-- Custom js -->
    <script src="{% static 'js/custom.js' %}"></script>

    <script>

    $(document).ready(function() {
      //Update badge to show number of new Notifications
      $.ajax({
        type: "POST",
        url: "{% url 'notifications:ajax' %}",
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function(data){
          var count = data.count;
          console.log(count);
          if(count!=0) {
            $("#notification_badge").html(count);
          }
        }
      });

      // notifications dropdown
      $(".notification-toggle").click(function(e){
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "{% url 'notifications:ajax' %}",
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function(data){
            $("#notification_dropdown").html("");
            var count = data.count;
            // console.log(count);
            if(count!=0) {
              // $("#notification_badge").html(count);
              $("#notification_dropdown").append("<li class='dropdown-header'>New Notifications</li>")
              $(data.notifications).each(function(){
                var link = this;
                $("#notification_dropdown").append("<li>"+link + "</li>")
              })
              // console.log(data.notifications);
              $("#notification_dropdown").append("<li role='separator' class='divider'></li>")
            }

            var url = "{% url 'notifications:list' %}"
            $("#notification_dropdown").append("<li><a href='"+url+"'>View All Notifications</a></li>")

          },
          error: function(rs, e) {
            console.log(rs);
            console.log(e);
          }
        });
      });
    });


    </script>
