{% load staticfiles %}
{% load utility_tags %}

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top {% if request.user.profile.chillax %} chillax {% endif %}">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- mobile notifications button -->
            <button type="button" class="navbar-toggle collapsed mobile-notifications"
                    data-toggle="collapse" data-target="#mobile-notifications-dropdown"
                    aria-expanded="false" aria-controls="mobile-notifications-dropdown"><!--
                --><span class="sr-only">Toggle notifications</span><!--
                --><i class="fa fa-bell"></i><!--
                --><span class="badge alert-danger notification-badge"></span><!--
            --></button>

            <!-- Stuff that doesn't collapse on mobile -->
            <a title="Home" class="navbar-brand" href="{% url 'home' %}">
                <img alt="Logo" src="{% site_logo_url %}">
            </a>

            <ul class="nav navbar-nav navbar-no-collapse">
                <li>&nbsp;</li>
                {% if request.user.is_authenticated %}
                <li class="navbar-packed-listitem">
                    <a title="Quests" href="{% url 'quests:quests' %}"><i class="fa fa-shield fa-fw"></i></a></li>
                <li class="navbar-packed-listitem">
                    <a title="Badges" href="{% url 'badges:list' %}"><i class="fa fa-certificate fa-fw"></i></a></li>
                <li class="navbar-packed-listitem">
                    <a title="Quest Maps" href="{% url 'maps:primary' %}"><i class="fa fa-map-signs fa-fw"></i></a></li>
                <li class="navbar-packed-listitem">
                    <a title="Announcements" href="{% url 'announcements:list' %}"><i class="fa fa-newspaper-o fa-fw"></i></a>
                </li>
                {% else %}
                <li>
                    <a title="Public Portfolios" href="{% url 'portfolios:public_list' %}">
                        <i class="fa fa-picture-o fa-fw"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div> <!-- navbar-header -->


{#        <ul class="collapse navbar-collapse nav navbar-nav visible-xs-block notification-dropdown"#}
{#            id="mobile-notification-dropdown">#}
{#        </ul>#}


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- <li class="dropdown-header">Content</li> -->
                        <li><a href="{% url 'quests:flagged' %}">Flagged Submissions</a></li>
                        <li><a title="This may take a few moments..."
                                href="{% url 'profiles:recalculate_xp_current' %}">
                          Recalculate XP for all current users</a></li>
                        <li><a href="/config">Site Configuration</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Database</li>
                        <li><a href="/admin">Django Admin</a></li>
                        <!-- <li class="dropdown-header">Debug</li> -->
                    </ul>
                </li>
                {% else %}
                <li id="menu-xp">
                    <a href="{% url 'courses:marks' request.user.id %}"
                       class="navbar-text-large-container">XP:
                        <span class="navbar-text-large"> {{ request.user.profile.xp_cached }}</span>
                    </a>
                </li>
                {% endif %}
                <li id="profile" class="navbar-group">
                    <a title="Profile" class="navbar-avatar"
                       href="{% url 'profiles:profile_detail' request.user.profile.id %}">
                        <img src="{{ request.user.profile.get_avatar_url }}">
                    </a><!--
                 --><a title="Profile" href="{% url 'profiles:profile_detail' request.user.profile.id %}">
                        {{ request.user }}
                    </a><!-- removes whitespace
                 --><a title="Rank: {{request.user.profile.rank}}" href="{% url 'courses:ranks' %}">
                        <i class="{% if request.user.is_staff %}fa fa-user-secret
                            {% else %} {{request.user.profile.rank.fa_icon}} {% endif %}">
                        </i>
                    </a>
                </li>

                <!-- only show this in wide view, this is repeated above for the mobile collapsed menu -->
                <li id='notifications-menu' class="dropdown hidden-xs">
                    <a title="Notifications" href="#"
                       class="dropdown-toggle notification-toggle"
                       data-toggle="collapse" data-target="#notification-dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i><!--
                     --><span id="notification_badge" class="badge alert-danger notification-badge"></span>
                    </a>
                    <ul class="dropdown-menu notification-dropdown" id="notification-dropdown">
                    </ul>
                </li>

                <li id="extras-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'courses:ranks' %}"><i class="fa fa-fw fa-star-o"></i>&nbsp;&nbsp;Ranks List</a></li>
                        <li><a href="/pages/FAQ"><i class="fa fa-fw fa-question-circle-o"></i>&nbsp;&nbsp;FAQ</a></li>
                        <li><a href="https://github.com/timberline-secondary/hackerspace/blob/master/CHANGELOG.md">
                          <i class="fa fa-fw fa-cog"></i>&nbsp;&nbsp;Changelog</a>
                        </li>

                        <li>
                            <a href="https://docs.google.com/spreadsheets/d/1dICnxDSHkQV2HMuuYLNsQLdUGFrSMskdFe_vSz41_Zw/edit#gid=1467638221">
                                <i class="fa fa-fw fa-dollar"></i>&nbsp;&nbsp;{{ config.hs_site_name_short }} Budget</a>
                        </li>
                        <!-- <li><a href="#">#</a></li> -->
                        <!-- <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Debug</li> -->
                    </ul>
                </li>
                <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                {% else %}

                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
            {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
            <form class="navbar-form navbar-right" method="POST" action="{% url 'account_login' %}"> {% csrf_token %}
                <div class="input-group input-group-unified input-group-sm">
                    <input type="text" class="form-control" name="login" placeholder="Username" autofocus />
                    <input type="password" class="form-control" name="password" placeholder="Password"/>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Sign In</button>
              </span>
                </div>
            </form>

            {% endif %}
        </div><!--/.nav-collapse -->



{#        <div class="navbar navbar-centered">#}
{#            <a href="{% url 'courses:marks' request.user.id %}"#}
{#               class="navbar-text-large-container">XP:#}
{#                <span class="navbar-text-large"> {{ request.user.profile.xp_cached }}</span>#}
{#            </a>#}
{#        </div>#}


    </div> <!-- .container-fluid -->
</nav>
