{% load utility_tags %}
        <li><a href="{% url 'config:site_config_update_own' %}"><i class="fa fa-fw fa-sliders"></i>&nbsp;Site Configuration</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Course Setup</li>
        <li><a href="{% url 'courses:ranks' %}"><i class="fa fa-fw fa-star"></i>&nbsp;Ranks</a></li>
        <li><a href="{% url 'courses:block_list' %}"><i class="fa fa-fw fa-group"></i>&nbsp;{% group_name %}s</a></li>
        <li><a href="{% url 'courses:course_list' %}"><i class="fa fa-fw fa-book"></i>&nbsp;Courses</a></li>
        <li><a href="{% url 'courses:semester_list' %}"><i class="fa fa-fw fa-calendar-o"></i>&nbsp;Semesters</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Quest Setup</li>
        <li><a href="{% url 'tags:list' %}"><i class="fa fa-fw fa-tags"></i>&nbsp;{% tag_name %}s</a></li>
        <li><a href="{% url 'quests:categories' %}"><i class="fa fa-fw fa-compass"></i>&nbsp;Campaigns</a></li>
        <li><a href="{% url 'quests:commonquestinfo_list' %}"><i class="fa fa-shield fa-flip-horizontal fa-fw"></i>&nbsp;Common Info</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Custom Pages</li>
        <li><a href="{% url 'utilities:flatpage_list' %}"><i class="fa fa-list"></i>&nbsp;Pages</a></li>
        <li><a href="{% url 'utilities:flatpage_create' %}"><i class="fa fa-pencil-square-o"></i>&nbsp;Create Page</a></li>
        {% if request.user.is_superuser %}
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Advanced</li>
        <li><a href="/admin"><i class="fa fa-fw fa-database"></i>&nbsp;Django Admin</a></li>
        {% endif %}
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">ByteDeck</li>
        <li><a title="Ask a question, report a bug, or request a feature!" href="https://github.com/bytedeck/bytedeck/discussions"><i class="fa fa-fw fa-comments-o"></i>&nbsp;ByteDeck Forum</a></li>
        <li><a href="https://github.com/bytedeck/bytedeck/blob/develop/CHANGELOG.md"><i class="fa fa-fw fa-history"></i>&nbsp;Changelog</a></li>
