{% extends "base_no_sidebar_wide.html" %}

{% block head_title %}Secret | {% endblock %}

{% block content_first %}{% endblock %}
{% block heading %}Super Secret Page!<i class="fa fa-key pull-right"></i>{% endblock %}

{% block content %}
  <p>You found me!  Congratulations. Yay for you.  I bet you think you're so great. But what if I told you this is only
    the first step in a not-quite-impossible hunt that was only created to make you angry and frustrated?
    If you want to have any hope of surviving this hunt, without breaking down and quitting in a hissy fit because it's
    "too hard", then I suggest you heed the following tips:</p>

  <ul>
  <li>How will you know when you've reached the end?  Trust me, you'll know, because the end is accompanied by extreme disappointment.</li>
  <li>You will have much greater chances of success if you team up with someone to do this.</li>
  <li>If you get stuck, ask around.  Other students may have noticed things around the class that you haven't.</li>
  <li>You don't need to leave the Hackerspace.</li>
    <li>All clues require a different method to solve them.  For example, you've already used binary to get here, so no other clue will use binary.</li>
  <li>When all else fails, try punching it in to the Entrance Theme Machine.</li>
  <li>At some point, you'll need a number.  That number is 2^20. </li>
  <li>The next clue is here, on this page.  Kind of.</li>
  <!-- THIS IS THE NEXT CLUE: <clue>A simple life is it's own reward</clue>.  However, you found it the super hard way.  You could have just looked at the url at the top of the page. -->
  <!-- But since you went to all this trouble, I'll make it even easier for you: http://bit.ly/1ViqRpd -->
  </ul>
{% endblock %}
