{% load staticfiles %}
<!-- modified from http://www.bootply.com/render/96266 -->

<!-- sidebar -->


    <ul class="nav">
    <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
  </ul>

    <ul class="nav hidden-xs" id="lg-menu">
        <li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Featured</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-list"></i> Stories</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> Saved</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>
    </ul>
    <!-- <ul class="list-unstyled hidden-xs" id="sidebar-footer">
        <li>
          <a href="http://www.bootply.com"><h3>Bootstrap</h3> <i class="glyphicon glyphicon-heart-empty"></i> Bootply</a>
        </li>
    </ul> -->

    <!-- tiny only nav-->
  <ul class="nav visible-xs" id="xs-menu">
        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
    </ul>

<!-- /sidebar -->
