{% load staticfiles %}
<!-- modified from http://www.bootply.com/render/96266 -->

<!-- sidebar -->

<div id="sidebar_menu">
  <ul class="nav">
    <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="fa fa-chevron-right fa-fw"></i></a></li>
  </ul>

    <!--so logo margins align with main div headings-->
   <h3 class="hidden-xs">
    <img id="logo" src ="{% static 'img/banner.png' %}"  class="img-responsive" alt="Timberline's Digital Hackerspace Logo" />
  </h3>
  <div class="nav list-group hidden-xs" id="lg-menu">
      <a class="list-group-item
        {% if '/quests/' in request.path_info and not '/approvals/' in request.path_info %}active{% endif %}"
        href="{% url 'quests:quests' %}">
        <i class="fa fa-shield fa-fw"></i>&nbsp; Quests
      </a>
      <a class="list-group-item {% if '/achievements/' in request.path_info %}active{% endif %}"
        href="{% url 'badges:list' %}">
        <i class="fa fa-trophy fa-fw"></i>&nbsp;
        <span class="visible-sm-inline visible-xs-inline shrinktextmore">Acheive...</span>
        <span class="hidden-sm hidden-xs">Achievements</span>
      </a>
      <a class="list-group-item {% if '/profiles/' in request.path_info %}active{% endif %}"
        href="{% url 'profiles:profile_list' %}">
        <i class="fa fa-users fa-fw"></i>&nbsp; Group
      </a>
      <a class="list-group-item {% if '/announcements/' in request.path_info %}active{% endif %}"
        href="{% url 'announcements:list' %}">
        <i class="fa fa-newspaper-o fa-fw"></i>&nbsp;
        <span class="visible-sm-inline visible-xs-inline visible-md-inline shrinktextmore">Announce...</span>
        <span class="hidden-sm hidden-xs hidden-md">Announcements</span>
        <span id="announcements-badge" class="badge alert-danger list-group-item-badge "></span>
      </a>
  </div>

  {% if request.user.is_staff %}
  <div class="nav list-group hidden-xs" id="lg-menu-staff">
      <a class="list-group-item {% if '/approvals/' in request.path_info %}active{% endif %}"
        href="{% url 'quests:approvals' %}">
        <i class="fa fa-shield fa-fw"></i>&nbsp; Quest Approval
      </a>
  </div>
  {% endif %}

    <!-- <ul class="list-unstyled hidden-xs" id="sidebar-footer">
        <li>
          <a href="http://www.bootply.com"><h3>Bootstrap</h3> <i class="glyphicon glyphicon-heart-empty"></i> Bootply</a>
        </li>
    </ul> -->

    <!-- tiny only nav-->
  <ul class="nav visible-xs" id="xs-menu">
        <li><a href="{% url 'quests:quests' %}"><i class="fa fa-shield fa-fw"></i></a></li>
        <li><a href="#" class="text-center"><i class="fa fa-trophy fa-fw"></i></a></li>
        <li><a href="{% url 'profiles:profile_list' %}"><i class="fa fa-users fa-fw"></i></a></li>
        <li><a href="#" class="text-center"><i class="fa fa-newspaper-o fa-fw"></i></a></li>
    </ul>
</div>

<!-- /sidebar -->
