{% load static %}
<!-- modified from http://www.bootply.com/render/96266 -->

<!-- sidebar -->

<div id="sidebar_menu">
{#  <ul class="nav sidebar-menu-nav">#}
{#    <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="fa fa-chevron-right fa-fw"></i></a>#}
{#    </li>#}
{#  </ul>#}

  <!--so logo margins align with main div headings-->
  <h3 class="hidden-xs">
    {% include "banner.html" %}
  </h3>


  {#    Group Menus #}
  <div class="nav list-group hidden-xs sidebar-menu" id="lg-menu-main">
    <div class="clearfix">
     <a id="quests-menu" class="list-group-item left-side
        {% if '/quests/' in request.path_info and not '/approvals/' in request.path_info and not '/inprogress/' in request.path_info and not '/drafts/' in request.path_info%}active{% endif %}"
       href="{% url 'quests:quests' %}"><i class="fa fa-shield fa-fw"></i>&nbsp; Quests</a>
    {% if request.user.is_staff %}
     <a title="Jump to your Drafts quest list." class="list-group-item right-side text-center
      {% if 'quests/drafts/' in request.path_info %}active{% endif %}"
      href="{% url 'quests:drafts' %}"><i class="fa fa-shield fa-flip-horizontal"></i></a>
     {% else %}
     <a title="Jump to your In Progress quest list." class="list-group-item right-side text-center
       {% if 'quests/inprogress/' in request.path_info %}active{% endif %}"
        href="{% url 'quests:inprogress' %}"><i class="fa fa-shield fa-flip-horizontal"></i></a>
     {% endif %}

    </div>
{#    <a id="quests-menu" class="list-group-item#}
{#        {% if '/quests/' in request.path_info and not '/approvals/' in request.path_info %}active{% endif %}"#}
{#       href="{% url 'quests:quests' %}">#}
{#      <i class="fa fa-shield fa-fw"></i>&nbsp; Quests#}
{#    </a>#}
      {% if request.user.is_staff %}
        <div class="clearfix">
          <a id="achievements-menu"
          class="list-group-item left-side {% if '/achievements/' in request.path_info %}active{% endif %}"
          href="{% url 'badges:list' %}"><i class="fa fa-certificate fa-fw"></i>&nbsp; Badges</a>
          <a title="Badge Types" class="list-group-item right-side text-center
          {% if 'achievements/types/' in request.path_info %}active{% endif %}"
          href="{% url 'badges:badge_types' %}"><i class="fa fa-certificate fa-fw"></i></a>
        </div>
      {% else %}
        <a id="achievements-menu"
        class="list-group-item {% if '/achievements/' in request.path_info %}active{% endif %}"
        href="{% url 'badges:list' %}">
        <i class="fa fa-certificate fa-fw"></i>&nbsp; Badges</a>
      {% endif %}
    <a id="maps-menu" class="list-group-item
        {% if '/maps/' in request.path_info %}active{% endif %}"
       href="{% url 'maps:primary' %}">
      <i class="fa fa-map-signs fa-fw"></i>&nbsp; Maps
    </a>
 </div>

  <div class="nav list-group hidden-xs sidebar-menu" id="lg-menu-secondary">
    <a id="announcements-menu"
       class="list-group-item {% if '/announcements/' in request.path_info %}active{% endif %}"
       href="{% url 'announcements:list' %}">
      <i class="fa fa-newspaper-o fa-fw"></i>&nbsp;
      <span class="visible-sm-inline visible-xs-inline visible-md-inline shrinktextmore">Announce...</span>
      <span class="hidden-sm hidden-xs hidden-md">Announcements</span>
      <span id="announcements-badge" class="badge alert-danger list-group-item-badge "></span>
    </a>

    <a id="groups-menu" class="list-group-item {% if '/profiles/list/' in request.path_info %}active{% endif %}"
       href="{% url 'profiles:profile_list_current' %}">
      <i class="fa fa-users fa-fw"></i>&nbsp; Students
    </a>

  </div>

  {#  Student Menus #}
  {% if request.user.is_authenticated %}
    <div class="nav list-group hidden-xs sidebar-menu" id="lg-menu-student">
      <a id="profile-menu" class="list-group-item
          {% if '/profiles/' in request.path_info and not '/list/' in request.path_info %}
          active{% endif %}"
         href="{% url 'profiles:profile_detail' request.user.profile.id %}">
        <i class="fa fa-user fa-fw"></i>&nbsp; Profile
      </a>
      <a id="portfolio-menu" class="list-group-item {% if '/portfolios/' in request.path_info %}active{% endif %}"
         href="{% url 'portfolios:detail' request.user.id %}">
        <i class="fa fa-picture-o fa-fw"></i>&nbsp; Portfolio
      </a>
    </div>
  {% endif %}

  {% if request.user.is_staff %}
    <div class="nav list-group hidden-xs sidebar-menu" id="lg-menu-staff">
      <a class="list-group-item {% if '/approvals/' in request.path_info %}active{% endif %}"
         href="{% url 'quests:approvals' %}">
        <i class="fa fa-shield fa-fw fa-rotate-180"></i>&nbsp;
        <span class="visible-sm-inline visible-xs-inline visible-md-inline">Approvals</span>
        <span class="hidden-sm hidden-xs hidden-md">Quest Approvals</span>
        <span id="approvals_badge" class="badge alert-danger list-group-item-badge "></span>
      </a>
    </div>
  {% endif %}

  <!-- COMMON DATA FOR QUEST SUBJECT -->
  <div class="hidden-xs" id="common-data">
    {% if q.common_data %}
      {% include "common_data.html" %}
    {% endif %}

  </div>

</div>

<!-- /sidebar -->
