{% extends "badges/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    {{ form.media.css }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
{% endblock %}

{% block heading_inner %} {{ heading }}{% endblock %}

{% block content %}
<form action="{{ action_value }}" enctype="multipart/form-data" method="post">{% csrf_token %}
  {{ form|crispy }}
  <a href="{% url 'badges:list' %}" role="button" class="btn btn-danger">Cancel</a>
  <input type="submit" value="{{ submit_btn_value }}" class="btn btn-success" />
</form>

{% endblock %}
{% block js %}
    {{ form.media.js }}


    <script>
        $.fn.select2.defaults.set( "theme", "bootstrap" );
    </script>


{% endblock %}
