{% extends "badges/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
  <!-- need these loaded first for date-time picker widgets to work I think -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
  {{ form.media }}
{% endblock %}

{% block heading_inner %} {{ heading }}{% endblock %}

{% block content %}
<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
  <a href="{% url 'badges:list' %}" role="button" class="btn btn-danger">Cancel</a>
  <input type="submit" value="{{ submit_btn_value }}" class="btn btn-success" />

  {% if object.id %}
    <a role="button" class="btn btn-default" href="{% url 'badges:badge_prereqs_update' object.id %}">Edit Prerequisites</a>
  {% else %}
    <button type="button" class="btn btn-default" disabled title="You need to create this new badge first, before you can add prerequisites.">Edit Prerequisites</button>
  {% endif %}
  {{ form|crispy }}
  <a href="{% url 'badges:list' %}" role="button" class="btn btn-danger">Cancel</a>
  <input type="submit" value="{{ submit_btn_value }}" class="btn btn-success" />

</form>
{% endblock %}
