{% extends "badges/base.html" %}

{% block head_title %}Badge Types | {% endblock %}
{% block head %}{% include 'snippets/bootstrap_table.html' %}{% endblock %}

{% block content_first %}{% endblock %}
{% block heading_inner %}{{ config.custom_name_for_badge }} Types
  <a class="btn btn-primary" href="{% url 'badges:badge_type_create' %}" role="button"><i class="fa fa-plus-circle"></i> Create</a>
{% endblock %}

{% block content %}
<p>This page is visible to staff only.</p>
{% include 'snippets/table_loading.html' %}
<table {% include 'snippets/list_table_attrs.html' %}>
  <thead>
    <tr>
      <th data-field="title" data-sortable="true">Title</th>
      <th data-field="icon" data-searchable="false">Icon</th>
      <th data-field="sort_order" data-sortable="true">Sort Order</th>
      <th data-field="action" data-searchable="false">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>{{ object.name }}</td>
      <td>{% if object.fa_icon_class %}<i class="{{ object.fa_icon_class }}"></i>{% endif %}</td>
      <td>{{ object.sort_order }}</td>
      <td>
        <a class="btn btn-warning" href="{% url 'badges:badge_type_update' object.id %}" role="button" title="Edit this type">
          <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-danger" href="{% url 'badges:badge_type_delete' object.id %}" role="button" title="Delete this type">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block js %}{% endblock %}
