{% extends "badges/base.html" %}
{% load crispy_forms_tags %}
{% load utility_tags %}

{% block head %}
<link href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
{% endblock %}

{% block heading_inner %} {{ config.custom_name_for_badge }}: {{ heading }}{% endblock %}

{% block content %}

  <div class="media">
    <div class="media-left">
      <img class="media-object icon-lg img-rounded" src="{{ badge.get_icon_url }}" alt="icon" />
    </div>
    <div class="media-body">
      {{ badge.short_description|safe }}
    </div>
  </div>
  <p></p>
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3 class="panel-title">{{ config.custom_name_for_badge }} Details</h3></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-unstyled">
            <li><h4>XP: {{badge.xp}}</h4></li>
            <li><p>Type: <span title="{{badge.badge_type.description}}"><i class="fa {{badge.badge_type.fa_icon}}"></i> {{badge.badge_type}}</span></p></li>
            <li><p>Rarity: {{badge.get_rarity_icon|safe}} {{badge.percent_of_active_users_granted_this|floatformat:1 }}% have earned this {{ config.custom_name_for_badge|lower }}</p></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="list-unstyled">
            {% if not request.user.is_staff %}
            <li>{% tag_name %}s: {% include 'tags/snippets/tag-list.html' with object=badge user_obj=request.user %}<br></li>
            {% else %}
            <li>{% tag_name %}s: {% include 'tags/snippets/tag-list.html' with object=badge %}<br></li>
            {% endif %}
            <li>Prerequisites:
                  {% if request.user.is_staff %}<a class="btn btn-info btn-xs" href="{% url 'badges:badge_prereqs_update' badge.id %}">Edit</a>{% endif %}
                  {% with badge as object %}{% include 'prerequisites/current_prereq_list.html' %}{% endwith %}
            </li>
          </ul>
        </div>
      </div> <!-- /.row -->



      {% if assertions_of_this_badge %} {# If a student is looking at this, it will show which badges they have earned #}
      <p>Earned: </p>
      <ol>
      {% for assertion in assertions_of_this_badge %}
        <li>{{assertion.timestamp}}
          {% if request.user.is_staff %} {# staff can revoke badges #}
          <a class="btn btn-danger btn-xs" href="{% url 'badges:revoke' assertion.id %}" role="button">
            <i class="fa fa-trash-o"></i>
          </a>
          {% endif %}
        </li>
      {% endfor %}
      </ol>
      {% endif %} {# if assertions #}

      {% if request.user.is_staff %} {# staff can manage badges from popup #}
      <div class="btn-group block" role="group">
        <a class="btn btn-warning" title="Edit" href="{% url 'badges:badge_update' badge.id %}" role="button">
          <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-primary" title="Copy" href="{% url 'badges:badge_copy' badge.id %}" role="button">
          <i class="fa fa-copy"></i>
        </a>
        <a class="btn btn-danger" title="Delete" href="{% url 'badges:badge_delete' badge.id %}" role="button">
          <i class="fa fa-trash-o"></i>
        </a>
      </div>
      <div class="btn-group block pull-right" role="group">
        <a class="btn btn-success" title="Grant to a student"
          href="{% url 'badges:grant' badge.id 0 %}" role="button">
          <i class="fa fa-user"></i>
        </a>
        <a class="btn btn-success" title="Bulk grant to multiple student"
          href="{% url 'badges:bulk_grant_badge' badge.id %}" role="button">
          <i class="fa fa-users"></i>
        </a>
      </div>
      {% endif %} {# if staff #}
    </div>
  </div>


  {% if request.user.is_staff %}
  <h3>Assertions of this Badge</h3>
  <table
        data-toggle='table'
        data-search='true'
        data-classes="table table-striped"
        data-pagination='true'
        data-page-size=15
        data-page-list="[15, 50, 100, all]"
    >
        <thead>
            <tr>
                <th data-sortable='true' data-field='tag' class="col-sm-4">User</th>
                <th data-sortable='true' data-field='earned' class="col-sm-2">Badges Earned</th>
            </tr>
        </thead>

        <tbody>
            {% for user in user_assertion_count %}
                <tr>
                    <td><a href="{{ user.profile.get_absolute_url }}">{{ user.username }}</a></td>
                    <td>{{ user.assertion_count }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    {% endif %}


{% endblock %}
