{% extends "badges/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block heading_inner %}{{heading}}
{% if request.user.is_staff %}
  <a class="btn btn-primary" href="{% url 'badges:badge_create' %}" role="button">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for badge_type in badge_types %}
<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="pull-right fa {{badge_type.fa_icon}}"></i>
      {{badge_type.name}}s
    </h3>
  </div>
  <div class="panel-body panel-body-badge">
    <div class="row">
      {% for badge in badge_type.badge_set.all %}
          {% if request.user.is_staff or badge.active %}
              <div class="col-xs-4 col-sm-3 col-md-2 col-badge">
                <a tabindex="0" class="badge-popover" role="button" data-toggle="popover"
                    data-trigger="focus" data-placement="auto left" data-html="true"
                    title="<h3 class='panel-title'>{{badge.name}}</h3>"
                    data-content='
                    {% if not badge.active %}
                        <p class="text-danger"><i class="fa fa-eye-slash"></i> INACTIVE</p>
                    {% endif %}
                    <p>{{badge.short_description}}</p>
                    <p>XP: {{badge.xp}}</p>
                    <!-- <p>Series: {{badge.series}}</p> -->
                    <p>Requirements:<ul><small>
                    {% for p in badge.prereqs %}
                      <li>{{ p }}</li>
                    {% empty %}
                      <li>None (granted manually)</li>
                    {% endfor %}</ul></small></p>
                    {% if request.user.is_staff %}
                    <div class="btn-group block" role="group">
                      <a class="btn btn-warning" title="Edit" href="{% url 'badges:badge_update' badge.id %}" role="button">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a class="btn btn-primary" title="Copy" href="{% url 'badges:badge_copy' badge.id %}" role="button">
                        <i class="fa fa-copy"></i>
                      </a>
                      <a class="btn btn-danger" title="Delete" href="{% url 'badges:badge_delete' badge.id %}" role="button">
                        <i class="fa fa-trash-o"></i>
                      </a>
                    </div>
                    <div class="btn-group block pull-right" role="group">
                      <a class="btn btn-success" title="Grant to a student"
                        href="{% url 'badges:grant' badge.id 0 %}" role="button">
                        <i class="fa fa-user"></i>
                      </a>
                      <a class="btn btn-success" title="Bulk grant to multiple student"
                        href="{% url 'badges:bulk_grant_badge' badge.id %}" role="button">
                        <i class="fa fa-users"></i>
                      </a>
                    </div>
                    {% endif %}
                '>
                    <div class="thumbnail thumbnail-badge">
                        {% if not badge.active %}
                            <i class="fa fa-2x fa-eye-slash pull-right text-danger" style="position:absolute;"></i>
                        {% endif %}
                        <img class="hackerbadge img-rounded
                            {% if not badge in earned_badges %} hackerbadge-unearned {% endif %}"
                            src="{{badge.get_icon_url}}" alt="badge icon">
                        <div class="caption caption-badge text-center">
                            {{badge.name}}
                        </div>
                    </div>
                </a>
              </div>
          {% endif %}
      {% empty %}
      <div class='col-sm-12'>None.</div>
      {% endfor %}

    </div>

  </div>

</div> <!--panel -->
{% endfor %}

{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
  $('[data-toggle="popover"]').popover(

  )
});
</script>
{% endblock %}
