{% extends "badges/base.html" %}
{% load crispy_forms_tags %}
{% load webdesign %}
{% load staticfiles %}

{% block heading_inner %}{{heading}}
{% if request.user.is_staff %}
  <a class="btn btn-primary" href="{% url 'badges:badge_create' %}" role="button">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for type, badges in badge_type_dicts %}
<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">
      {{type}}s
    </h3>
  </div>
  <div class="panel-body panel-body-badge">
    <div class="row">
      {% for badge in badges %}
      <div class="col-xs-4 col-sm-3 col-md-2 col-badge">
        <a tabindex="0" class="badge-popover" role="button" data-toggle="popover"
        data-trigger="focus" data-placement="left" data-html="true"
        title="<h3 class='panel-title'>{{badge.name}}</h3>"
        data-content='
        <p>{{badge.short_description}}</p>
        <p>XP: {{badge.xp}}</p>
        <p>Series: {{badge.series}}</p>
        {% if request.user.is_staff %}
        <div class="btn-group block" role="group">
          <a class="btn btn-warning " href="{% url 'badges:badge_update' badge.id %}" role="button">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn btn-primary" href="{% url 'badges:badge_copy' badge.id %}" role="button">
            <i class="fa fa-copy"></i>
          </a>
          <a class="btn btn-danger" href="{% url 'badges:badge_delete' badge.id %}" role="button">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
        {% endif %}
        '>
        <div class="thumbnail thumbnail-badge">
          <img class="hackerbadge hackerbadge-unearned" src="{{badge.get_icon_url}}" alt="badge icon">
          <div class="caption caption-badge text-center">
            {{badge.name}}
          </div>
        </div>
      </a>
      </div>
      {% empty %}
      <div class='col-sm-12'>None.</div>
      {% endfor %}

    </div>

  </div>

</div> <!--panel -->
{% endfor %}

{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
  $('[data-toggle="popover"]').popover(

  )
});
</script>
{% endblock %}
