{% extends "utilities/base.html" %}
{% load utility_tags %}

{% block head_title %}Menu Items | {% endblock %}
{% block head %}{% include 'snippets/bootstrap_table.html' %}{% endblock %}

{% block content_first %}{% endblock %}
{% block heading_inner %}Menu Items
{% if request.user.is_staff %}
  <a class="btn btn-primary" href="{% url 'utilities:menu_item_create' %}" role="button">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% include 'snippets/table_loading.html' %}
<table {% include 'snippets/list_table_attrs.html' %}>
  <thead>
    <tr>
      <th data-field="label" data-sortable="true">Label</th>
      <th data-field="icon" data-searchable="false">Icon</th>
      <th data-field="url" data-sortable="true">Url</th>
      <th data-field="sort_order" data-sortable="true">Sort Order</th>
      <th data-field="visible" data-searchable="false">Visible</th>
      <th data-field="action" data-searchable="false">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
  <tr>
    <td>{{ object.label }}</td>
    <td>{% if object.fa_icon_class %}<i class='{{ object.fa_icon_class }}'></i>{% endif %}</td>
    <td><a href="{{ object.url }}">{{ object.url }}</a></td>
    <td>{{ object.sort_order }}</td>
    <td><i class="{{ object.visible | checkcross }}"></i></td>
    <td>
      <a class="btn btn-warning" href="{% url 'utilities:menu_item_update' object.id %}" role="button" title="Edit this menu item">
        <i class="fa fa-edit"></i>
      </a>
      <a class="btn btn-danger" href="{% url 'utilities:menu_item_delete' object.id %}" role="button" title="Delete this menu item">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block js %}{% endblock %}