{% extends "base_sidebar.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Configuration | {% endblock %}
{% block head %}{% endblock %}

{% block content_first %}{% endblock %}
{% block heading %}Configuration<i class="fa fa-cog pull-right"></i>{% endblock %}
{% block content %}

<h3>Site Settings</h3>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <p><input type="submit" value="Update" class="btn btn-primary"/></p>
   {{ form|crispy }}
    <input type="submit" value="Update" class="btn btn-primary"/>
</form>


{% endblock %}

{% block js %}{% endblock %}
