{% extends "base_sidebar.html" %}
{% load crispy_forms_tags %}

{% block head_title%}{{ flatpage.title }} | {% endblock%}

{% block head_css %}{% endblock %}
{% block content_first %}{% endblock %}

{% block content %}
  <div class="pull-right">
  {% if  request.user.is_staff %}

  {% endif %}
  </div>
  <h1>{{ flatpage.title }}
    <i class="pull-right fa fa-file-text-o"></i>
    <a class="btn btn-info btn-sm" href="/admin/flatpages/flatpage/{{ flatpage.id }}/change/" role="button"
      title = "Edit this page" >
      <i class="fa fa-edit"></i></a>
  </h1>
  {{ flatpage.content }}
{% endblock %}


{% block content_last %}{% endblock %}

{% block js %}
  <script>

    var ToC =
      "<nav role='navigation' class='table-of-contents'>" +
        "<h4>Contents:</h4>" +
        "<ul>";

    $("#main h3").each(function() {

        var $el = $(this);
        var title = $el.text();
        $el.attr("id", title);

        var tocEntry =
            "<li>" +
            "<a href='#" + title + "'>" +
            title +
            "</a>" +
            "</li>";

        ToC += tocEntry;

    });


    ToC +=
        "</ul>" +
        "</nav>";

    $("#TOC").append(ToC);

  </script>


{% endblock %}