{% extends "suggestions/base.html" %}
{% load crispy_forms_tags %}
{% block heading_inner %}Delete a suggestion{% endblock %}
{% block content %}
<form action="" method="post">{% csrf_token %}
  <p>Are you sure you want to delete this suggestion?  All suggestion comments and votes will be deleted.<p>
  <div class="well">
    <p>User: {{object.user}}</p>
    <p>Title: {{object.title}}</p>
    <p>Date: {{object.timestamp}}</p>
  </div>
  <a href="{% url 'suggestions:list' %}" role="button" class="btn btn-info">Cancel</a>
  <input type="submit" value="Delete" class="btn btn-danger" />
</form>
{% endblock %}
