{% extends "suggestions/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_css %}

{% endblock %}
{% block head %}
{% endblock %}


{% block heading_inner %}Suggestions
  <div class="btn-group">
    <a href="{% url 'suggestions:list' %}"
       class="btn {% if not completed_list %}btn-primary{% else %}btn-default{% endif %}">Active</a>
    <a href="{% url 'suggestions:list_completed' %}"
       class="btn {% if completed_list %}btn-primary{% else %}btn-default{% endif %}">Completed</a>
  </div>
  <br>
  <small>You've voted {{ votes_this_semester }} times this semester</small>
{% endblock %}

{% block content %}
  <br>
  {% if not config.hs_suggestions_on %}
      <p>Suggestions have been deactivated on this site due to lack of student participation. Sorry!</p>
  {% elif request.user.is_staff or semester.is_open and request.user.profile.has_current_course %}
    <div class="panel panel-primary">
      <div class="panel-heading" title="This section is only visible to you">
        How to get XP by helping to improve the {{ config.hs_site_name_short }}.
      </div>
      <div class="panel-body">
        <p>Look through the list of suggestions below and vote on those you like or dislike by
          clicking the thumbs up/down buttons beside an active suggestion.</p>
        <ul>
          <a class="btn btn-primary pull-right"
             href="{% url 'suggestions:create' %}">Make a Suggestion</a>
          <li>For every {{ num_votes }} votes, you will automatically receive a {{ vote_badge.xp }} XP
            {{ vote_badge.name }} Award.
          </li>
          <li>If you make a suggestion and it is approved, you will automatically receive a
            {{ suggestion_badge.xp }} XP {{ suggestion_badge.name }} Award.
          </li>
        </ul>
      </div>
    </div>


    <!-- TABLE -->
    <table id="suggestions-table"
           data-toggle="table"
           data-id-field="id"
           data-unique-id="id"
           data-detail-view="true"
           data-detail-formatter="detailFormatter"
           data-sort-name="score"
           data-sort-order="desc"
           data-search="true"
           data-classes="table table-no-bordered table-hover table-accordian"
    >
      <thead>
      <tr>
        <th data-field="id" data-visible="false">ID</th>
        <th data-field="vote" data-class="text-center">{% if not completed_list %}Vote{% endif %}</th>
        <th data-field="score" data-class="text-center" data-sortable='true'>Score</th>
        <th data-field="suggestion">Suggestion</th>
        <th data-field="status" data-sortable='true'>Status</th>
        <th data-field="date" data-sortable='true' data-sorter="dateSorter">Date</th>
      </tr>
      </thead>
      <tbody>
      {% for object in object_list %}
        <tr class="
          {% if object.status == 1 %}info
          {% elif object.status == 2 %}
          {#    {% elif object.status == 3 %}panel-success#}
          {% elif object.status == 4 %}info
          {% elif object.status == 5 %}text-muted
          {% else %}
          {% endif %}
        ">
          <td>{{ object.id }}</td>
          <!-- VOTING CELL can't have extra whitespace or arrows won't align in chrome...
          should prolly align it properly with css -->
          <td class="col-md-1 text-center">{% if not completed_list and object.status == 2 %}<a
              href="{% url 'suggestions:upvote' object.id %}"
              class="dont-expand"><i class="fa fa-fw fa-lg fa-chevron-circle-up"></i></a><br><a
              href="{% url 'suggestions:downvote' object.id %}"
              class="dont-expand"><i class="fa fa-fw fa-lg fa-chevron-circle-down"></i></a>{% endif %}</td>
          <td class="col-md-1 text-center">{{ object.get_score }}</td>
          <td class="col-md-6">{{ object.title }}
            {% if request.user.is_staff %}<br>
              <small><a href="{% url 'profiles:profile_detail' object.user.profile.id %}" class="dont-expand">
                {{ object.user }}</a> - {{ object.user.profile }}</small>
            {% elif request.user == object.user %}<br>
              <small>(Your suggestion)</small>
            {% endif %}

          </td>
          <td class="col-md-2">
            {% if object.status == 1 %}Awaiting Approval
            {% elif object.status == 2 %}Approved
            {% elif object.status == 3 %}Completed
            {% elif object.status == 4 %}Unlikely
            {% elif object.status == 5 %}Denied
            {% endif %}
          </td>
          <td class="col-md-2">
            <small>{{ object.status_timestamp|timesince }} ago</small>
            <div style="display:none;">{{ object.status_timestamp|date:'Ymd' }}</div> <!-- for sorting -->
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {#  Content for detailed view #}
    {% for object in object_list %}
      <div style="display: none;" id="collapse{{ object.id }}">
        <ul class="list-group">
          <li class="list-group-item list-group-item-buttons">
            {% if request.user.is_staff %}
              <div class="pull-right">
                <a class="btn btn-info" href="{% url 'suggestions:edit' object.id %}" role="button">Edit</a>
                {% if object.status != 3 %}
                  <a class="btn btn-warning" href="{% url 'suggestions:reject' object.id %}" role="button">Reject</a>
                {% endif %}
                {% if object.status != 2 %}
                  <a class="btn btn-danger" href="{% url 'suggestions:delete' object.id %}" role="button">Delete</a>
                  <a class="btn btn-success" href="{% url 'suggestions:approve' object.id %}" role="button">Approve</a>
                {% endif %}
                {% if object.status == 2 %}
                  <a class="btn btn-success" href="{% url 'suggestions:complete' object.id %}"
                     role="button">Complete</a>
                {% endif %}
              </div>
            {% endif %}
            <div>
              {{ object.description }}
            </div>
          </li>

          {% with object.get_comments as target_comments %}
            {% if target_comments %}
              <li class="list-group-item list-group-item-info">Suggestion Comments</li>
              {% include "comments/comments.html" %}
            {% endif %}
          {% endwith %}

          <li class="list-group-item list-group-item-info">Comment</li>
          <li class="list-group-item">
            {% if not request.user.profile.banned_from_comments %}
              <form method="POST" action="{% url 'suggestions:comment' object.id %}">{% csrf_token %}
                {{ comment_form | crispy }}
                <input type='submit' name='comment_button' class='btn btn-primary' value='Add Comment'/>
              </form>
            {% else %}
              <p><i class="fa fa-ban text-danger"> </i>
                Sorry Spammy McTrollson, you've been banned from commenting. If you would like this
                privilege back, you can discuss it with your teacher.</p>
            {% endif %}
          </li>
        </ul>

      </div>  <!-- collapsible content -->
    {% endfor %}



  {% else %}
    {% if semester.is_open %}
      <p>You need to join a course before voting or suggesting improvements.</p>
      <p><a href="{% url 'courses:create' %}" class="btn btn-info" role="button">Join a Course</a></p>
    {% else %}
      <p>The semester is currently closed. This semester runs from {{ semester.first_day }}
        to {{ semester.last_day }}</p>
    {% endif %}
  {% endif %}
{% endblock %}


{% block js %}

  <script src="{% static 'js/bootstrap-table.min.js' %}"></script>

  <script>
      // https://jsfiddle.net/dabros/6ony6cs2/1/
      var active_id={{ active_id|default_if_none:"null" }}
      var $table = $('#suggestions-table');
  </script>

  <script src="{% static 'js/bootstrap-table-accordion.js' %}"></script>

{% endblock %}
