{% load static %}
<div class="BG-BD-White" id="top">
    <div class="row justify-content-center" >
      <!-- <div class="col-lg-1"></div> -->
      <div class="col-lg-6 col-xl-5 BD-content1 ">
        <div class="BD-title BD-title-pixels">
          <img class="bd-wordmark img-fluid" src="{% static 'public/images/wordmark-v2.png' %}">
        </div>
        <p class="lead">ByteDeck is a learning management system created BY teachers and students FOR teachers and students.</p>
        <p class="lead">ByteDeck is different than other learning management systems. It's flexible in how teachers deliver content, and supports teachers who take a less traditional approach to education.</p>
        <p class="lead">ByteDeck is easy for both teachers and students to use. Teachers and students can use it in any setting, whether you are working in a classroom, remotely, or both. </p>
        <div class="row">
          <div class="col-md-4">
            <a class="btn btn-block BD-btn BD-bg-LightBlue BD-btn-LightBlue-1" href="#how" role="button">HOW IT WORKS</a>
          </div>
          <div class="col-md-4">
            <a class="btn btn-block BD-btn BD-bg-LightBlue BD-btn-LightBlue-1" href="#teachers" role="button">TEACHERS</a>
          </div>
          <div class="col-md-4">
            <a class="btn btn-block BD-btn BD-bg-LightBlue BD-btn-LightBlue-1" href="#contact" role="button">TRY IT</a>
          </div>
        </div>
        <!-- /row -->
      </div>
      <div class="col-lg-5 d-flex justify-content-center align-items-center">
        <img class="BD-main-img img-fluid" src="{% static 'public/images/undraw_press_play_revised2.png' %}" alt="">
      </div>
      <!-- <div class="col-lg-1"></div> -->
    </div>

      <!-- /row -->
  </div>