{% load static %}
<div class="BD-bg-DarkBlue" id="WhatisByteDeck">

    <div class="row BD-content2 text-center">
      <div class="col-12">
        <h1-BD>WHY CHOOSE BYTEDECK?</h1-BD>
      </div>
    </div>

    <div class="row justify-content-center mx-5 mx-md-0 mx-lg-5 mx-xl-0">
      <!-- <div class="col-lg-1 col-xl-2"></div> -->

      <div class="col-md-3 col-xl-2 text-center BD-content3">
        <img class="img-center console-img-size-1 " src="{% static 'public/images/laptop-code-solid 1.png' %}">
        <h2 style="font-size:23px">Easy to Use</h2>
        <p style="font-size:16px">The interface is intuitive, responsive, and mobile-friendly. Students can use ByteDeck on any device, anywhere they have access to the internet.</p>
      </div>

      <div class="col-md-3 col-xl-2 offset-md-1 text-center BD-content3">
        <img class="img-center gamepad-img-size-1 " src="{% static 'public/images/gamepad-solid 1.png' %}">
        <h2 style="font-size:23px">Quest-Based Learning</h2>
        <p style="font-size:16px">The quest format makes it easy for teachers to break learning into small chunks. Students are motivated to "level up" as they work through quests.</p>
      </div>

      <div class="col-md-3 col-xl-2 offset-md-1 text-center BD-content3">
        <img class="img-center  apple-img-size-1" src="{% static 'public/images/apple-alt-solid 1.png' %}">
        <h2 style="font-size:23px">Flexibility and Choice</h2>
        <p style="font-size:16px">Students work through quests at their own pace. Create one learning path for all students, or multiple paths to provide students with more choice.</p>
      </div>

      <!-- <div class="col-lg-1 col-xl-2"></div> -->

    </div>
    <!-- /.row -->
  </div>