{% load static %}
<div id="parents">
    <div class="row">
      <div class="col-lg-6 d-flex justify-content-center align-items-center BD-bg-White">
        <img class="BD-parent-img BD-banner-img-left img-fluid BD-undraw-img" src="{% static 'public/images/undraw_teacher_35j2 1.png' %}" alt="">
      </div>
      <div class="col-lg-5 BD-content BD-bg-White">
        <div class="BD-title BD-title-pixels"><h1-BD>PARENTS</h1-BD>
          <div>
            <img class="parents-pixels BD-img-pixels" src="{% static 'public/images/pixels 2.png' %}">
          </div>
        </div>
        <p class="lead">We understand the importance of providing your child with engaging educational tools. That’s why there’s no special software required to access our program! <br><br> We’ve also made it easy to understand how your child is progressing by providing real-time, automatic updates to allow students’ learning progress to be tracked.</p>
      </div>
  </div>
  <!-- /row -->
</div>