{% load static %}
<div id="teachers">
    <div class="row">
      <div class="col-lg-5 d-flex justify-content-center align-items-center BD-bg-White">
        <img class="img-fluid BD-undraw-img BD-undraw-img-left" src="{% static 'public/images/undraw_teaching_revised2.png' %}" alt="">
      </div>
      <div class="col-lg-7 BD-bg-Yellow">
        <div class="row">
          <div class="col-lg-10  offset-lg-1 BD-content1">
            <div class="BD-title BD-title-pixels">
              <h1-BD>TEACHERS</h1-BD>
              <div>
                <img class="BD-img-pixels-topright BD-img-pixels" src="{% static 'public/images/pixels 2.png' %}">
              </div>
            </div>
            <p class="lead">As a teacher, you decide whether students will all follow a single learning pathway, or have access to a range of pathways they can choose from. Either way, students can always see what their options are, and what comes next.</p>
            <p class="lead">Students can submit quests regularly, whether their work is complete or in-progress. Teachers can provide feedback as needed, and assessment is ongoing.</p>
            <p class="lead">Students' progress through campaigns is continuously tracked, so both students and teachers know exactly where they're at.</p>
            <div class="row">
              <div class="col-lg-4">
                <a class="btn btn-block BD-btn BD-bg-LightBlue BD-bg-LightBlue BD-btn-LightBlue-2"  href="#contact" role="button">TRY IT!!</a>
              </div>
            </div>
          </div>
        </div> <!-- /content row -->
      </div> <!-- /content col -->
    </div><!-- /row -->

  </div>