{% load static %}
  <div id="how">
    <div class="row">
      <div class="col-lg-7 BD-bg-LightBlue">
        <div class="row">
          <div class="col-lg-10 offset-lg-1 BD-content1">
            <div class="BD-title BD-title-pixels ">
              <h1-BD>HOW IT WORKS</h1-BD>
              <div>
                <img class="BD-img-pixels-topright BD-img-pixels" src="{% static 'public/images/pixels 3.png' %}">
              </div>
            </div>
            <p class="lead">ByteDeck uses quest-based learning, an instructional design theory that leverages game mechanics to support student engagement and motivation.
            <ul class="lead">
              <li>Your lessons become "quests."</li>
              <li>Units of study become "campaigns."</li>
              <li>Marks become experience points, "XP."</li>
            </ul>
            <p class="lead">Quests are a great way to scaffold student learning. Break down your lessons into small chunks, and support students as they "level up" and move from basic to more complex concepts.</p>
            <p class="lead">Learning is continuous. Students work through quests at their own pace.</p>
            <p class="lead">Quests can vary. Some may be short, prescribed activities that show students' understanding. Others may be open-ended, self-directed activities, where students can showcase their learning and creativity.</p>
            <div class="row">
              <div class="col-lg-4 BD-title-pixels">
                <a class="btn btn-block BD-btn BD-bg-DarkBlue" href="#contact" role="button">TRY IT!</a>
                <!-- <div>
                  <img class="students-pixels BD-img-pixels" src="{% static 'public/images/pixels 3.png'  %}">
                </div> -->
              </div>
            </div> <!-- /button row -->
          </div> <!-- /col-10 -->
        </div> <!-- /content row -->
      </div> <!-- /content col -->
      <div class="col-lg-5 d-flex justify-content-center align-items-center order-xl-last order-lg-last order-first order-sm-first order-md-first BD-bg-White">
        <img class="img-fluid BD-undraw-img BD-undraw-img-right" src="{% static 'public/images/undraw_video_game_night_rev.png' %}" alt="">
      </div>
    </div>

  </div>