<footer class="BD-content1 BD-bg-LightBlue">
    <div class="container">
       <div class="row">
         <div class="col-md-6 BD-footer-about">
          {% comment %}
           <h1-BD>BYTEDECK</h1-BD>
           <hr style="width:200px">
           <p class="text-justify">ByteDeck was created BY teachers and students FOR teachers and students. This is why our effective courses are strategically modelled to allow students to work independently and develop self-directions skills, while allowing teachers to administer multi-grade courses and continue to offer and encourage peer support amongst their students</p>
          {% endcomment %}
          </div>
  
         <div class="col-xs-6 col-md-3">
           {% comment %}
           <h1-BD>Links</h1-BD>
           <hr style="width:100px">
           <ul class="BD-footer-links">
             <li><a href="#teachers">Teachers</a></li>
             <li><a href="#how">Students</a></li>
             <li><a href="#parents">Parents</a></li>
             <li><a href="#">Additional Link</a></li>
             <li><a href="#">Additional Link</a></li>
             <li><a href="#">Additional Link</a></li>
             <li><a href="#">Additional Link</a></li>
             <li><a href="#">Additional Link</a></li>
           </ul>
           {% endcomment %}
         </div>
  
         <div class="col-xs-6 col-md-3">
           <h1-BD>Contact</h1-BD>
           <hr style="width:100px">
           <div class="BD-footer-contact">
             <li><i class="fa fa-envelope mr-3"></i><a href="mailto:contact@bytedeck.com"> contact@bytedeck.com</a></li>
             <li><i class="fa fa-home mr-3"></i><a> Campbell River, BC &nbsp;🇨🇦</a></li>
             <!-- <li><i class="fa fa-phone mr-3"></i><a href="tel:0001234567"> +1 (000) 123-4567 </a></li> -->
           </div>
         </div>
       </div>
     </div>
  </footer>