<footer class="BD-content1 BD-bg-LightBlue">
    <div class="container">
       <div class="row">
         <div class="col-md-4 BD-footer-about">
           <h1-BD>ByteDeck</h1-BD>
           <hr style="width:100px">
           <ul class="BD-footer-links">
            <li><a href="/pages/request-a-deck/">Try it</a></li>
            <li><a href="/pages/subscribe/">Pricing</a></li>
            <li><a href="https://github.com/bytedeck/bytedeck/discussions">Help Forum</a></li>

          </ul>

           <!-- <p class="text-justify">ByteDeck was created BY teachers and students FOR teachers and students. This is why our effective courses are strategically modelled to allow students to work independently and develop self-directions skills, while allowing teachers to administer multi-grade courses and continue to offer and encourage peer support amongst their students</p> -->
          </div>

         <div class="col-xs-6 col-md-4">

           <h1-BD>More Info</h1-BD>
           <hr style="width:100px">
           <ul class="BD-footer-links">
             <li><a href="/pages/about-us/">About us</a></li>
             <li><a href="/pages/privacy/">Privacy</a></li>
             <li><a href="/pages/accessibility/">Accessibility</a></li>
           </ul>

         </div>

         <div class="col-xs-6 col-md-4">
           <h1-BD>Contact</h1-BD>
           <hr style="width:100px">
           <div class="BD-footer-contact">
             <li><i class="fa fa-envelope mr-3"></i><a href="mailto:contact@bytedeck.com"> contact@bytedeck.com</a></li>
             <li><i class="fa fa-home mr-3"></i><a> Vancouver Island, BC &nbsp;🇨🇦</a></li>
             <!-- <li><i class="fa fa-phone mr-3"></i><a href="tel:0001234567"> +1 (000) 123-4567 </a></li> -->
           </div>
         </div>
       </div>
     </div>
  </footer>