{% load static %}
<nav class="mb-1 navbar navbar-expand-lg navbar-light BD-bg-LightBlue">
    <a class="navbar-brand ml-5" href="/"><img class="BD-nav-img" src="{% static 'public/images/pixels-4-icon.png' %}"></a>

    {% comment %}

    <button class="mr-5 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5 mr-5 nav-socials" id="navbarSupportedContent-333">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item inline">
          <a class="nav-link" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#2a56a6"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="nav-item inline">
          <a class="nav-link" href="">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color:#2a56a6"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
          </a>
        </li>
        <li class="nav-item inline">
          <a class="nav-link" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#2a56a6"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
    {% endcomment %}
  </nav>