{% extends "courses/base.html" %}
{% load utility_tags %}}

{% block head_title %}{% group_name %}s | {% endblock %}
{% block head %}{% endblock %}

{% block content_first %}{% endblock %}
{% block heading %}<i class="fa fa-group pull-right"></i>{% group_name %} List
  {% if request.user.is_staff %}
    <a class="btn btn-primary" href="{% url 'courses:block_create' %}" role="button">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Current Teacher</th>
    <th>Action</th>
  </tr>
  {% for object in object_list %}
  <tr>
    <td>{{ object.name }}</td>
    <td>{{ object.description|truncatechars:40 }}</td>
    <td>{{ object.current_teacher }}</td>
    <td>
      <a class="btn btn-warning" href="{% url 'courses:block_update' object.id %}" role="button" title="Edit this block">
        <i class="fa fa-edit"></i>
      </a>
      <a class="btn btn-danger" href="{% url 'courses:block_delete' object.id %}" role="button" title="Delete this block">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
