{% extends "courses/base.html" %}
{% load crispy_forms_tags %}
{% load utility_tags %}

{% block heading_inner %}Delete {% group_name %} {% endblock %}

{% block content %}

{% if not populated %}

<form action="" method="post">{% csrf_token %}
  <p>Are you sure you want to delete this block?<p>
  <div class="well">
    <p>Block ID: {{ object.id }}</p>
    <p>Block Description {{ object.descrription }}</p>
    <p>Current Teacher: {{ object.current_teacher }}</p>
  </div>
  <a href="{% url 'courses:block_list' %}" role="button" class="btn btn-info">Cancel</a>
  <input type="submit" value="Delete" class="btn btn-danger" />
</form>

{% else %}

<p>Unable to delete '{{ object.name }}' as it still has students registered. Consider disabling the block by toggling the <a href="{% url 'courses:block_update' pk=object.pk %}">active</a> field instead.</p>
<div class="well">
  <p>Registered Students: {{ population }}</p>
</div>

{% endif %}

{% endblock %}
