<script type="text/javascript">
  {% if request.user.pk == user.pk %}
  var userLabel = "Your mark range";
  {% else %}
  var userLabel = "{{user.username}}'s mark range";
  {% endif %}

  function InstantiateGraph(binLabels, studentData, userIndex) {
    var COLORS = {
      students: {bg: 'rgba(128, 128, 128, 0.3)', border: 'rgba(0, 0, 0, 0.2)'},
      you: {
        {% if request.user.profile.dark_theme %}
          // dark theme
          bg: 'rgba(150, 150, 150, 0.5)', 
          border: 'rgba(0, 0, 0, 0.1)'
        {% else %}
          // light theme
          bg: 'rgba(25, 25, 25, 0.5)', 
          border: 'rgba(0, 0, 0, 0.1)'
        {% endif %}
      },
    }

    // set bar colors to be student colors if userIndex is == to barIndex
    var studentBGs = Array.from({ length: studentData.length }, _ => COLORS.students.bg);
    var studentBorders = Array.from({ length: studentData.length }, _ => COLORS.students.border);
    studentBGs[userIndex] = COLORS.you.bg;
    studentBorders[userIndex] = COLORS.you.border;

    // generate chart
    var MCtx = document.getElementById("chart-mark-distribution").getContext('2d');
    var MarkChart = new Chart(MCtx, {
        type: 'bar',
        data: {
          labels: binLabels,
          datasets: [
            // Student distribution
            {
              label: '# of students at each mark range',
              data: studentData,
              backgroundColor: studentBGs,
              borderColor: studentBorders,
              borderWidth: 1,
              stack: 0,
            },
            // You (Empty dataset, so label can show)
            {
              label: userLabel,
              backgroundColor: COLORS.you.bg,
              borderColor: COLORS.you.border,
              borderWidth: 1,
              stack: 0,
            }, 
          ]
        },
        
        options: {
          maintainAspectRatio: false,
          scales: {
            xAxes: [{
              barPercentage: 0.99,  
              categoryPercentage: 0.99,
              gridLines: {
                offsetGridLines: false,
                display: false,
              }
            }],
            y: {
                beginAtZero: true,
            }
          },
          tooltips: {
            callbacks: {
              // custom title text
              title: function(tooltipItem, data) { 
                var index = tooltipItem[0].index;

                // -2 since we have to skip overempty label
                if (index >= data.labels.length-2)
                  return data.labels[data.labels.length-2]; 

                return `${data.labels[index].slice(0, -1)}-${data.labels[index+1]}`; 
              },
              // show different label when hovering over bar where user is in
              label: function(tooltipItem, data) {  
                var label = data.datasets[tooltipItem.datasetIndex].label;
                var label_text = `${label}: ${tooltipItem.yLabel}`;

                if (tooltipItem.index == userIndex )
                  return (tooltipItem.yLabel > 1) ? ` ${userLabel}: ${tooltipItem.yLabel} students` : ` ${userLabel}`;

                return " " + label_text;
              },

            },
          },

          // should stop data hiding when clicking on label
          legend: {
            onClick: (e) => e.stopPropagation()
          },

        }
    });

  }
  
  window.addEventListener("load", function() {
    $.ajax({
      url: "{% url 'courses:mark_distribution_chart' user.id %}",
      type: "GET",
      dataType:"json",
      success: function(json) {

        InstantiateGraph(
          json.labels,
          json.data.students,
          json.data.user_id,
        );
        
      }
    });
  }, false);


</script>