<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<!-- https://github.com/chartjs/Chart.Zoom.js/blob/master/samples/zoom.html -->
<!-- <script type="text/javascript" src="https://raw.githubusercontent.com/chartjs/Chart.Zoom.js/master/Chart.Zoom.min.js"></script></script> -->

<script type="text/javascript">

  /*jshint esversion: 6 */

  var ctx2 = document.getElementById("chart-mark-distribution");

  data = {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    }

  options = {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }

  var myBarChart = new Chart(ctx2, {
    type: 'bar',
    data: data,
    options: options
  });


{#  function ajax_update_plot() {#}
{#    // user in this view is the request.user, if a student,#}
{#    // or the user matching the id in the url#}
{#    $.ajax({#}
{#      type: "POST",#}
{#      url: "{% url 'courses:ajax_progress_chart' user.id %}",#}
{#      data: {#}
{#        csrfmiddlewaretoken: "{{ csrf_token }}",#}
{#      },#}
{#      success: function(data){#}
{#        // console.log(data.xp_data);#}
{#        XPData.data = data.xp_data;#}
{#        console.log(data.xp_data);#}
{#        generate_trend(data.days_in_semester);#}
{#        generate_mark_lines(data.days_in_semester);#}
{#        myChart.options.scales.xAxes[0].ticks.max = data.days_in_semester;#}
{##}
{#        //console.log(myChart);#}
{##}
{#        $('div.loading').remove();#}
{#        $('#myChart').show("slow");#}
{#        myChart.update();#}
{##}
{#      }#}
{#    });#}
{#  }#}

  // prevent page from scrolling when scrolling to zoom chart
  //http://stackoverflow.com/questions/1459676/prevent-scroll-bubbling-from-element-to-window
  // here we store the window scroll position to lock; -1 means unlocked
  var forceWindowScrollY = -1;

  $(window).scroll(function(event) {
    if(forceWindowScrollY != -1 && window.scrollY != forceWindowScrollY) {
      $(window).scrollTop(forceWindowScrollY);
    }
  });

  $("#chart-mark-distribution").hover(function() {
    if(forceWindowScrollY == -1) {
      forceWindowScrollY = $(window).scrollTop();
    }
  }, function() {
    forceWindowScrollY = -1;
  });


{#  $(document).ready(function() {#}
{#    ajax_update_plot();#}
{#  });#}


</script>
