<script type="text/javascript">

  /*jshint esversion: 6 */

  var max_xp = {{courses.first.course.xp_for_100_percent}}

  var ctx = document.getElementById("myChart");

  function DataPoint(x, y) {
      this.x = x;
      this.y = y;
  }

  var days = 85;
  var chillax = 72.5;

  // XP DATA SET
  var XPData = {
      type: 'line',
      label: 'XP Earned',
      fill: false,
      backgroundColor: "#aaa", //used for legend
      borderColor: "#1c1e22", //used for legend
      showLine: false,
      pointBorderColor: "#1c1e22",
      pointBackgroundColor: "#aaa",
      data: [{x: 0, y: 0}],
  };
{#  // XP DATA SET FOR BAR STYLE#}
{#  var XPDataBar = {#}
{#      type: 'bar',#}
{#      xAxisID: "x-axis-0",#}
{#      yAxisID: "y-axis-XP",#}
{#      label: 'XP Earned',#}
{#      fill: false,#}
{#      backgroundColor: "#cc1111", //used for legend#}
{#      borderColor: "#11cc11", //used for legend#}
{#      showLine: false,#}
{#      borderWidth: 2,#}
{#      data: [100,150,2,300,4,5,6,7,8,9],#}
{#  };#}



  // XP Trend Data
  var XPTrendData = {
      type: 'line',
      label: 'If you continue at your current rate',
      fill: false,
      pointRadius: 0,
      lineTension: 0,
      borderDash: [5, 5],
      borderColor: "#aaa",
      backgroundColor: "rgba(150,150,150,0)",
      data: [{x: 0, y: 0}],
  };


  // var GradeAData = {
  //     type: 'line',
  //     label: 'A (86%)',
  //     pointRadius: 0,
  //     backgroundColor: "rgba(255,255,0,0)",
  //     borderColor: "rgba(255, 236, 179,50)",
  //     data: [{x: 0, y: 0}],
  // };

  // var GradeFData = {
  //     type: 'line',
  //     label: 'Pass (50%)',
  //     pointRadius: 0,
  //     backgroundColor: "rgba(255, 0, 0, 0)",
  //     borderColor: "rgba(255, 179, 179, 50)",
  //     data: [{x: 0, y: 0}],
  // };

  // // Chillax Line Data Set = B
  // var ChillaxLineData = {
  //     type: 'line',
  //     label: 'B (73%)',
  //     pointRadius: 0,
  //     backgroundColor: "rgba(0,255,255,0)",
  //     borderColor: "rgba(0,255,255,255)",
  //     data: [{x: 0, y: 0}],
  // };


  var markranges = []
  {% for mr in markranges %}
  var border;
  {% if request.user.profile.dark_theme %}
  border = "{{ mr.color_dark }}";
  {% else %}
  border = "{{ mr.color_light }}";
  {% endif %}

  markranges.push({
    type: 'line',
    label: '{{ mr.name }} ({{ mr.minimum_mark|floatformat:"0" }}%)',
    mark: {{ mr.minimum_mark }},
    pointRadius: 0,
    backgroundColor: "rgb(0,0,0,0)",
    borderColor: border,
    data: [{x: 0, y: 0}],
  });
  {% endfor %}

  var data = {
      datasets: [
          XPData,
{#          XPDataBar,#}
          XPTrendData,
      ].concat(markranges)
  };

  // need some starting data for the animation to work it seems..
  generate_mark_lines(100)

  var options = {

      responsive: true,
      maintainAspectRatio: false,

      scales: {

          xAxes: [{
              type: 'linear',
              position: 'bottom',
              ticks: {
                  max: 5,
                  min: 0,
                  stepSize: 5,
              },
              scaleLabel: {
                  display: true,
                  labelString: 'Days of Class'
              },
          }], //xaxes

          yAxes: [{
                  id: "y-axis-XP",
                  position: 'left',
                  ticks: {
                      max: max_xp,
                      min: 0,
                      stepSize: max_xp/20,
                  },

                  scaleLabel: {
                      display: true,
                      labelString: 'XP'
                  },

                  gridLines: {},
              }, {
                  id: "y-axis-percent",
                  position: 'right',

                  ticks: {
                      max: 100,
                      min: 0,
                      stepSize: 5,
                  },

                  scaleLabel: {
                      display: true,
                      labelString: 'Percent'
                  },

                  gridLines: {
                      /*show: true,
                      color: "rgba(255, 255, 255, 1)",
                      lineWidth: 1,
                      drawOnChartArea: true,
                      drawTicks: true,
                      zeroLineWidth: 1,
                      zeroLineColor: "rgba(255,255,255,1)", */
                  },
              }


          ], //yaxes
      }, //scales

      title: {
          text: 'A Map of Your Progress',
          display: false,
      }, //title

      legend: {
          position: 'top',
          labels: {
              usePointStyle: true,
          },
      }, //legend

      tooltips: {
          //mode: 'label', //too slow!
          callbacks: {

          },
      },


      // Pan & Zoom option not working well, try again when the libraries have progressed
      //https://github.com/chartjs/Chart.Zoom.js
      // pan: {
      //     // Boolean to enable panning
      //     enabled: true,
      //
      //     // Panning directions. Remove the appropriate direction to disable
      //     // Eg. 'y' would only allow panning in the y direction
      //     mode: 'xy'
      // },
      //
      // // Container for zoom options
      // zoom: {
      //     // Boolean to enable zooming
      //     enabled: true,
      //
      //     // Zooming directions. Remove the appropriate direction to disable
      //     // Eg. 'y' would only allow zooming in the y direction
      //     mode: 'xy',
      //     limits: {
      //       max: 1.5,
      //       min: 0.5,
      //     },
      // },

  };


  function generate_trend(days_in_semester) {
    // XP Trend calculation
    // Just a linear extrapolation of the average XP per day
    var total = 0;
    XPTrendData.data = [];
    var days_so_far = XPData.data.length;
    total = XPData.data[days_so_far - 1].y;
    var average_per_day = total / days_so_far;

    var trend_total = total;
    for (var i = days_so_far; i <= days_in_semester; i++) {

        var p = new DataPoint(i, trend_total);
        XPTrendData.data.push(p);
        trend_total += average_per_day;

    }
  }

  function generate_mark_lines(days) {
    // Mark Line Generation
    for(let range of markranges) {
      range.data = [];
    }

    for (var i = 1; i <= days; i++) {
        for (let range of markranges) {
          var point = new DataPoint(i, Math.floor(i * max_xp*range.mark/100 / days))
          range.data.push(point);
        }

    }
  }

  var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: options,
  });

  function ajax_update_plot() {

    // user in this view is the request.user, if a student,
    // or the user matching the id in the url

    $.ajax({
      type: "POST",
      url: "{% url 'courses:ajax_progress_chart' user.id %}",
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: function(data){
        // console.log(data.xp_data);
        XPData.data = data.xp_data;
        console.log(data.xp_data);
        generate_trend(data.days_in_semester);
        generate_mark_lines(data.days_in_semester);
        myChart.options.scales.xAxes[0].ticks.max = data.days_in_semester;

        //console.log(myChart);

        $('div.loading').remove();
        $('#myChart').show("slow");
        myChart.update();

      }
    });
  }

  // prevent page from scrolling when scrolling to zoom chart
  //http://stackoverflow.com/questions/1459676/prevent-scroll-bubbling-from-element-to-window
  // here we store the window scroll position to lock; -1 means unlocked
  var forceWindowScrollY = -1;

  $(window).scroll(function(event) {
    if(forceWindowScrollY != -1 && window.scrollY != forceWindowScrollY) {
      $(window).scrollTop(forceWindowScrollY);
    }
  });

  $("#myChart").hover(function() {
    if(forceWindowScrollY == -1) {
      forceWindowScrollY = $(window).scrollTop();
    }
  }, function() {
    forceWindowScrollY = -1;
  });

  $(document).ready(function() {
    ajax_update_plot();
  });


</script>
