{% extends "courses/base.html" %}
{% load crispy_forms_tags %}

{% block heading_inner %}Join a course{% endblock %}

{% block content %}

<p>{% if form.instance.user and form.instance.user != user %}Adding a course for {{form.instance.user}}
{% else %}Please enter information about your course as it appears on your schedule
{% endif %}
</p>
<div class="row">
  <div class="col-sm-6">
    <form method="post">{% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="Join" />
    </form>
  </div>
</div>

{% endblock %}
