{% extends "courses/base.html" %}
{% load crispy_forms_tags %}

{% block heading_inner %}{{ heading }}{% endblock %}

{% block content %}

{% if submit_btn_value != 'Update' %}
  <p>
  {% if form.instance.user and form.instance.user != user %}
    Adding a course for {{form.instance.user}}
  {% else %}
    Please select the options for your course as directed by your teacher.
  {% endif %}
  </p>
{% endif %}
<div class="row">
  <div class="col-sm-6">
    <form method="post" id="coursestudentform">{% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="{{ submit_btn_value }}" class="btn btn-primary" />
        {% if object.id %}<a class="btn btn-danger" href="{% url 'courses:coursestudent_delete' object.id %}" role="button">Delete</a>{% endif %}
    </form>
  </div>
</div>

{% endblock %}