{% extends "courses/base.html" %}

{% block head_title %}Courses | {% endblock %}
{% block head %}{% endblock %}

{% block content_first %}{% endblock %}
{% block heading %}<i class="fa fa-book pull-right"></i>{% block heading_inner %}Courses
{% if request.user.is_staff %}
  <a class="btn btn-primary" href="{% url 'courses:course_create' %}" role="button">New</a>
{% endif %}
{% endblock %}{% endblock %}

{% block content %}
<p>This page is visible to staff only.</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>XP for 100%</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr {% if not object.active %} class="text-muted" {% endif %}>
      <td>{{ object.title }}</td>
      <td>{{ object.xp_for_100_percent }}</td>
      <td>{{ object.active }}</td>
      <td>
        <a class="btn btn-warning" href="{% url 'courses:course_update' object.id %}" role="button" title="Edit this course">
          <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-danger" href="{% url 'courses:course_delete' object.id %}" role="button" title="Delete this course">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block js %}{% endblock %}
