{% extends "courses/base.html" %}

{% block head_title %}Courses | {% endblock %}
{% block head %}{% include 'snippets/bootstrap_table.html' %}{% endblock %}

{% block content_first %}{% endblock %}
{% block heading %}<i class="fa fa-book pull-right"></i>{% block heading_inner %}Courses
{% if request.user.is_staff %}
  <a class="btn btn-primary" href="{% url 'courses:course_create' %}" role="button">New</a>
{% endif %}
{% endblock %}{% endblock %}

{% block content %}
<p>This page is visible to staff only.</p>
{% include 'snippets/table_loading.html' %}
<table {% include 'snippets/list_table_attrs.html' %}>
  <thead>
    <tr>
      <th data-field="title" data-sortable="true">Title</th>
      <th data-field="xp" data-sortable="true">XP for 100%</th>
      <th data-field="marks" data-sortable="true">Marks</th>
      <th data-field="active" data-sortable="true">Active</th>
      <th data-field="action" data-searchable="false">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr {% if not object.active %} class="text-muted" {% endif %}>
      <td>{{ object.title }}</td>
      <td>{{ object.xp_for_100_percent }}</td>
      <td>{% if object.uses_marks %}Percentages{% else %}XP only{% endif %}</td>
      <td>{{ object.active }}</td>
      <td>
        <a class="btn btn-warning" href="{% url 'courses:course_update' object.id %}" role="button" title="Edit this course">
          <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-danger" href="{% url 'courses:course_delete' object.id %}" role="button" title="Delete this course">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block js %}{% endblock %}
