{% extends "courses/base.html" %}
{% load crispy_forms_tags %}
{% load jchart %}

{% block heading_inner %}Mark Calculations{% endblock %}

{% block content %}
  <p>Hello {{ user.profile.get_preferred_name }},
    {% if not courses %}
      I can't calculate your mark because you haven't joined a course for this
      semester yet. Please <a href="{% url 'courses:create' %}">go here</a>
      and join your course.</p>
    {% elif obj.semester.days_so_far < 0 %}
      I can't calculate your mark because semester hasn't started yet!  According
      to my records, the semester is scheduled to start on
      <strong>{{ obj.semester.first_day }}</strong>.</p>
    {% else %}
      {% if num_courses == 1 %}
        your current mark is:
      {% else %}
        your current marks are:
      {% endif %}
      </p>
      <table class="table">
        {% for course in courses %}
          <tr>
            <td>{{ course.block }} Block</td>
            <td>{{ course.course }} {{ course.grade_fk }}</td>
            <td><strong>{{ course.user.profile.mark|floatformat }}%</strong></td>
          </tr>
        {% endfor %}
      </table>
      <h3>Explanation</h3>
      <p>
        Here is an explanation of how I calculated your mark. If you have any questions about this please ask!
      </p>
      <div>
        <ul>
          <li>
            {% if num_courses > 1 %}
              You are a multicourse student currently registered in {{ num_courses }} courses.
              Your <strong>{{user.profile.xp_cached}}</strong> total XP must be divided among each of your courses.  This gives you
              <a tabindex="0" data-toggle="popover" data-trigger="hover"
                 data-placement="top" data-html="true" href="#"
                 data-content="You have a total of {{ user.profile.xp_cached }} XP
            to be divided among {{ num_courses }} courses: <br/><br/>
              <pre>{{ user.profile.xp_cached }}/{{ num_courses }} = {{ xp_per_course|floatformat }} XP</pre>
            ">
                <strong>{{ xp_per_course|floatformat }}</strong> XP</a> per course.
            {% else %}
              So far, you have earned <strong>{{ user.profile.xp_cached }}</strong> XP in your course.
            {% endif %}
          </li>
          <li>We are currently
            <a tabindex="0" data-toggle="popover" data-trigger="hover"
               data-placement="top" data-html="true"
               data-content="There are {{ obj.semester.num_days }} days of class in the semester.
              So far, we've had {{ obj.semester.days_so_far }} days:<br/><br/>
              <pre>{{ obj.semester.days_so_far }}/{{ obj.semester.num_days }} = {{ obj.semester.fraction_complete|floatformat:3 }} &times; 100 = {{ obj.semester.percent_complete|floatformat }}%</pre>
            ">
              {{ obj.semester.fraction_complete|floatformat:3 }} or {{ obj.semester.percent_complete|floatformat }}%</a>
            of the way through the semester.
          </li>
          <li>At this pace you will have
            <a tabindex="0" data-toggle="popover" data-trigger="hover"
               data-placement="top" data-html="true"
               data-content="You currently have {{ xp_per_course|floatformat }} XP, and the semester is
              {{ obj.semester.fraction_complete|floatformat:3 }} complete:<br/><br/>
              <pre>{{ xp_per_course|floatformat }}/{{ obj.semester.fraction_complete|floatformat:3 }} = {% widthratio xp_per_course obj.semester.fraction_complete 1 %} XP</pre>
            ">
              {% widthratio xp_per_course obj.semester.fraction_complete 1 %} XP</a>
            by the end of the semester.
          </li>
          <li>
            Your course is out of {{courses.first.course.xp_for_100_percent}} XP, which means that if you get {{courses.first.course.xp_for_100_percent}} XP, you'll have 100% in the course.
          </li>
          <li>
            This means that your mark is currently <a tabindex="0" data-toggle="popover" data-trigger="hover"
               data-placement="top" data-html="true"
               data-content="If you get {% widthratio xp_per_course obj.semester.fraction_complete 1 %} XP by the end of semester,
               and your course is out of {{courses.first.course.xp_for_100_percent}} XP:<br/><br/>
              <pre>{% widthratio xp_per_course obj.semester.fraction_complete 1 %}/{{courses.first.course.xp_for_100_percent}} = {{ obj.user.profile.mark|floatformat }} % </pre>
            ">{{ obj.user.profile.mark|floatformat }}%</a>
          </li>
        </ul>
      </div>
      <p>Another way to look at it:</p>
      <ul>
        <li>
          On average you have earned
          <a tabindex="0" data-toggle="popover" data-trigger="hover"
             data-placement="top" data-html="true"
             data-content="You currently have {{ xp_per_course|floatformat }} XP, and we've had {{ obj.semester.days_so_far }}
            days of class so far:<br/><br/>
            <pre>{{ xp_per_course|floatformat }}/{{ obj.semester.days_so_far }} = {{ obj.xp_per_day_ave|floatformat }} XP per day</pre>
          ">
            {{ obj.xp_per_day_ave|floatformat }} XP per day</a> so far.
        </li>
        <li>
          If you continue at this pace, you will have
          <a tabindex="0" data-toggle="popover" data-trigger="hover"
             data-placement="top" data-html="true"
             data-content="You are averaging {{ obj.xp_per_day_ave|floatformat }}
            XP per day, and there are a total of {{ obj.semester.num_days }}
            days of class in the semester:<br/><br/>
            <pre>{{ obj.xp_per_day_ave|floatformat }} x {{ obj.semester.num_days }} = {% widthratio xp_per_course obj.semester.fraction_complete 1 %} XP</pre>
          ">
            {% widthratio xp_per_course obj.semester.fraction_complete 1 %} XP</a>
          by the end of the semester.
        </li>
      </ul>

      <h3>Charts</h3>

      <p>Here are some pretty charts I made just for you, to help you visualize your progress so far:</p>
      <div>
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a href="#progress" role="tab" data-toggle="tab">XP Progress</a></li>
          <li role="presentation"><a href="#distribution" role="tab" data-toggle="tab">Mark Distribution</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="progress">
            <div class="well chart-container">
              <div class="loading">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                &nbsp;Calculating data for chart...
              </div>
              <canvas id="myChart" class="xp-chart" style="display: none; ">
                <!-- content will be set by js in xp_chart.html -->
              </canvas>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="distribution">
            <div class="well chart-container">
              {% render_chart 'courses:mark_distribution_chart' user.id %}
            </div>
          </div>


        </div> <!-- tab-content -->
      </div>  <!-- tab container -->

      {% comment %} Need to update this to use new Mark Ranges {% endcomment %}
      {% comment %} <h3>Chillax Line</h3>
      <p>{% if obj.semester.chillax_line_started %}
        You are free to chillax if your XP {% if num_courses > 1 %}in all courses{% endif %} is at or above:
          {% if num_courses > 1 %}
              {# Multiply by 2 #}
              {% widthratio obj.semester.chillax_line 1 2 %}
          {% else %}
              {{ obj.semester.chillax_line}}
          {% endif %}
          XP
      {% else %}
        The Chillax Line has not started yet.  It will begin the day after 1st Interim marks are taken.
      {% endif %}
      </p> {% endcomment %}
    {% endif %}

{% endblock %}

{% block js %}
  <script>
      $(document).ready(function () {
          $('[data-toggle="popover"]').popover(
          )
      });
  </script>
  {% include 'courses/chart_xp_progress.html' %}
  {% include 'courses/chart_mark_distribution.html' %}

{% endblock %}
