{% extends "base_sidebar.html" %}

{% block head_title %}Ranks | {% endblock %}
{% block head %}{% endblock %}

{% block content_first %}{% endblock %}
{% block heading %}<i class="fa fa-star pull-right"></i>Ranks
  {% if request.user.is_staff %}
    <a class="btn btn-primary" href="/admin/courses/rank/" role="button">Edit</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <table class="table table-striped">
      <tr>
        <th></th>
        <th>Rank</th>
        <th>XP</th>
        <th>Quest Map</th>
      </tr>
      {% for object in object_list %}
        <tr>
          <td class="text-center"><i class="{{object.fa_icon}} fa-lg fa-fw text-warning"></i></td>
          <td>{{object.name}}</td>
          <td>{{object.xp}} XP</td>
          <td>
            {% if object.get_map.get_absolute_url %}
            <a href="{{object.get_map.get_absolute_url}}"><i class="fa fa-map-signs"></i> </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}

{% block js %}{% endblock %}
