{% load static %}
{% load utility_tags %}
<!DOCTYPE html>
<html>
<body>
  <p>Hello,</p>

  <p>A new announcement was just published! Note that images may not appear as intended, and embedded videos may not appear at all.
     You can view the original announcement <a target="_blank" href="{{ root_url }}{{ absolute_url }}">online here.</a></p>

  <hr>

  <div>
  {{content|safe}}
  </div>

  <hr>

  <p>
    {% firstof config.outgoing_email_signature config.site_name %}
  </p>

  <p><img alt="[Logo]" src="{% site_logo_url %}"></p>
  <p>If you no longer want to receive these emails, <a target="_blank" href="{{root_url}}{{profile_edit_url}}">edit your profile</a>.</p>
</body>
</html>
