{% extends "announcements/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head %}
    <!-- need these loaded first for date-time picker and summernote widgets to work -->

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>

    <!-- form.media -->
    {{ form.media }}
{% endblock %}

{% block heading_inner %} {{ heading }}{% endblock %}

{% block content %}
<form action="{{ action_value }}" enctype="multipart/form-data" method="post">{% csrf_token %}
  <a href="{% url 'announcements:list' %}" role="button" class="btn btn-danger">Cancel</a>
  <input type="submit" value="{{ submit_btn_value }}" class="btn btn-success" />
  {{ form|crispy }}
  <a href="{% url 'announcements:list' %}" role="button" class="btn btn-danger">Cancel</a>
  <input type="submit" value="{{ submit_btn_value }}" class="btn btn-success" />
</form>
{% endblock %}

{% block js %}
{#    {{ form.js }}#}
{% endblock %}

