{% extends "announcements/base.html" %}
{% load crispy_forms_tags %}
{% load notification_tags %}

{% block heading_inner %}Announcements
{% if request.user.is_authenticated and request.user.is_staff %}
  <div class="btn-group">
    <a class="btn {% if not archived %}btn-primary{% else %}btn-default{% endif %}" href="{% url 'announcements:list' %}" role="button">Current</a>
    <a class="btn {% if archived %}btn-primary{% else %}btn-default{% endif %}" href="{% url 'announcements:archived' %}" role="button">Archived</a>
  </div>
  <a class="btn btn-primary" href="{% url 'announcements:create' %}" role="button"><i class="fa fa-plus-circle"></i> New</a>
{% endif %}
{% endblock %}

{% block content %}
{% if archived %}<p>Archived Announcements are not visible to students.</p>{% endif %}
<div class="panel-group panel-group-packed" id="accordion" role="tablist" aria-multiselectable="true">
{% for object in object_list %}
  <div id="{{object.id}}"
    class="panel accordian anchor
    {% if object.id == active_id %} active active-anchor{% endif %}
    {% if object|notification_unread:request.user %}panel-warning note-unread
      {% elif object.not_yet_released %}panel-warning
      {% elif object.draft %}panel-warning
      {% elif object.sticky %}panel-info
    {% else %}
      panel-default
    {% endif %}">
    <div
      {% if object|notification_unread:request.user %}
        href="{{ object|notification_url:request.user }}"
      {% endif %}
      class="panel-heading accordian accordian-trigger
      {% if object.id == active_id %} active {% endif %}"
      role="tab" id="heading{{object.id}}"
      aria-expanded="{% if object.id == active_id %}true{% else %}false{% endif %}"
      aria-controls="collapse{{object.id}}"
      data-parent="#accordion" data-toggle="collapse" data-target="#collapse{{object.id}}">
      <h4 class="panel-title">
        <!-- <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{object.id}}" aria-expanded="true" aria-controls="collapse{{object.id}}"> -->
        {% if object.draft %}
          {% if object.auto_publish %}<i class="fa fa-magic">&nbsp;</i>{% endif %}
          <i class="fa fa-wrench">&nbsp;</i>
        {% endif %}
        {% if object.sticky %}<i class="fa fa-exclamation-circle">&nbsp;</i>{% endif %}
        <span>
          {{object.title}}
        </span>
        <!-- </a> -->

        <div class="dropdown announcement-dropdown pull-right">
          <a class="dropdown-toggle" type="button" id="announcement-dropdown-id" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-ellipsis-v"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="announcement-dropdown-id">
            {% if request.user.is_staff %}
            <li class="announcement--delete"><a href="{% url 'announcements:delete' object.id %}">Delete</a></li>
            <li class="announcement--edit"><a href="{% url 'announcements:update' object.id %}">Edit</a></li>
            <li class="announcement--copy"><a href="{% url 'announcements:copy' object.id %}">Copy</a></li>
            {% if object.draft %}
              <li><a href="{% url 'announcements:publish' object.id %}" title="Publish and broadcast this announcement to students.">Publish</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>
            {% endif %}
            <li>
              <a href="#"
                 title="Copy permalink"
                 class="text-muted permalink"
                 data-clipboard-text="{{ object.get_absolute_url }}#{{ object.id }}">
                Copy permalink
              </a>
            </li>
          </ul>
        </div>

        <span class="announcement-date pull-right">
          <small>{{object.datetime_released|date:'D, N j, Y'}}</small>
        </span>
      </h4>

    </div>

    <div id="collapse{{object.id}}"
      class="panel-collapse collapse {% if object.id == active_id %} in {% endif %}"
      role="tabpanel" aria-labelledby="heading{{object.id}}">
      <ul class="list-group">
        <li class="list-group-item announcement-content">
          <!-- <i class="fa fa-quote-left fa-2x pull-left"></i> -->
          <div class="clearfix announcement-content">
            {{object.content|safe}}
          </div>
        </li>

        {% with object.get_comments as target_comments %}
          {% if target_comments %}
            <li class="list-group-item list-group-item-info">Announcement Comments</li>
            {% include "comments/comments.html" %}
          {% endif %}
        {% endwith %}

        <li class="list-group-item list-group-item-info">Comment </li>
        <li class="list-group-item">
          {% if not request.user.profile.banned_from_comments %}
          <form method="POST" action="{% url 'announcements:comment' object.id %}">{% csrf_token %}
            {{ comment_form | crispy }}
            <input type='submit' name='comment_button' class='btn btn-primary' value='Add Comment' />
          </form>
          {% else %}
            <p><i class="fa fa-ban text-danger"> </i>
              Sorry Spammy McTrollson, you've been banned from commenting on announcements.  If you would like this privilege back, you can grovel for forgiveness from Mr C.</p>
          {% endif %}
        </li>
      </ul>

    </div>
  </div>
{% endfor %}
</div>
{% if object_list.paginator.num_pages > 1 %}
<ul class="pagination pagination-centered">
    {% if object_list.has_previous %}
        <li><a href="{% url 'announcements:list' %}?page=1"><<</a></li>
        <li><a href="{% url 'announcements:list' %}?page={{ object_list.previous_page_number }}"><</a></li>
    {% endif %}

    {% for i in object_list.paginator.page_range %}
        <li {% if object_list.number == i %} class="active" {% endif %}><a href="{% url 'announcements:list' %}?page={{i}}">{{i}}</a></li>
    {% endfor %}

    {% if object_list.has_next %}
        <li><a href="{% url 'announcements:list' %}?page={{ object_list.next_page_number }}">></a></li>
        <li><a href="{% url 'announcements:list' %}?page={{ object_list.paginator.num_pages }}">>></a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}


{% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
  <script>
    const permalinks = document.querySelectorAll('.permalink');

    permalinks.forEach(function (permalink) {
      permalink.addEventListener("click", function(e) {
        e.preventDefault();
        e.stopPropagation();
      });
    });

    const clipboard = new ClipboardJS(permalinks, {
      text: function(trigger) {
        return trigger.origin + trigger.getAttribute('data-clipboard-text');
      }
    });

    clipboard.on('success', function(e) {
      $(e.trigger).attr('title', 'Copied').tooltip('fixTitle').tooltip('show');
      $(e.trigger).attr('title', 'Copy permalink').tooltip('fixTitle');
    });

    // https://stackoverflow.com/a/37406402/3788603
    $('.announcement-dropdown .dropdown-toggle').click(function(e) {
      e.stopPropagation();
      $(this).closest('.dropdown').toggleClass('open');
      $('.annoncement-dropdown .open').removeClass('open');
    });

    $('.announcement--delete, .announcement--edit, .announcement--copy').click(function(e) {
      e.stopPropagation();
      $(this).closest('.dropdown').toggleClass('open');
      $('.annoncement-dropdown .open').removeClass('open');
    });


  </script>
{% endblock %}
