{% extends "djcytoscape/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block heading_inner %}Update Quest Map{% endblock%}

{% block head %}
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap-0.1.0-beta.10.min.css' %}">
{% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <a href="{% url 'maps:index' %}" role="button" class="btn btn-danger">Cancel</a>
    <input type="submit" value="Update" class="btn btn-success"/>
    {{ form|crispy }}
    <a href="{% url 'maps:index' %}" role="button" class="btn btn-danger">Cancel</a>
    <input type="submit" value="Update" class="btn btn-success"/>
</form>

{% endblock %}

{% block js %}
    {{ form.media.js }}
{% endblock %}
