{% extends "flatpages/base.html" %}
{% load crispy_forms_tags %}

{% block heading_inner %}
    Custom Pages

    {% if request.user.is_staff %}
        <a class="btn btn-primary" href="{% url 'utilities:flatpage_create' %}" role="button">New</a>
    {% endif %}
{% endblock %}

{% block content %}

    <table class="table table-striped">
        <thead class="thead-light">
            <tr class="row">
                <th class="col-sm-5" scope="col">Title</th>
                <th class="col-sm-4" scope="col">Registration Required</th>
                <th class="col-sm-3" scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for page in flatpages %}
                <tr class="row">
                    <td class="class-sm">
                        {{page.title}}
                    </td>
                    <td class="class-sm">
                        {{page.registration_required}}
                    </td>
                    <td class="class-sm">
                        <a class="btn btn-info" href="{{ page.get_absolute_url }}" role="button" title="View page">
                            <i class="fa fa-eye"></i>
                        </a>
                        {% if request.user.is_staff %}
                                <a class="btn btn-warning" href="{% url 'utilities:flatpage_edit' pk=page.pk %}" role="button" title="Edit this page">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-danger" href="{% url 'utilities:flatpage_delete' pk=page.pk %}" role="button" title="Delete this page">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}