{% extends "flatpages/base.html" %}
{% load crispy_forms_tags %}

{% block head %}
    <!--here-->
    {{ form.media }}
    <!--here-->
{% endblock %}

{% block head_title%}
    {% if not update%}
        Create Page | 
    {% else %}
        Update Page | 
    {% endif %}
{% endblock%}

{% block content %}
    <div>
        <form action="" method="post">
            {% csrf_token %}

            {{ form|crispy }}

            <a href="{% url 'utilities:flatpage-list' %}" role="button" class="btn btn-danger">Cancel</a>
            <input type="submit" value="Submit" class="btn btn-success"/>
            {% if update %}
                <a href="{% url 'utilities:flatpage-delete' pk=flatpage.pk %}" role="button" class="btn btn-danger">Delete</a>
            {% endif %}
        </form>

    </div>
{% endblock %}