{% extends "base_no_sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %} | {% endblock %}

{% block heading %}{% trans "Sign In" %}<i class="pull-right fa fa-sign-in"></i>{% endblock %}

{% block content %}
  {% comment %}
    Conditions are setup this way because checking socialaccount_providers returns a list of strings based on the INSTALLED_APPS
    If you look at the get_providers tag, it returns all social account providers whether it is configured or not
  {% endcomment %}
  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers|length > 0 and config.enable_google_signin %}
    <p>{% blocktrans %} Sign in via: {% endblocktrans %}</p>
      <div class="socialaccount_ballot">
        {% include "socialaccount/snippets/login_extra.html" %}
        <p>
          <a href="{% provider_login_url 'google' process='login' %}" class="">
            <img src="{% static 'img/btn_google_signin_dark_normal_web.png' %}" alt="Google Sign-In" />
          </a>
        </p>
      </div>

      <p class="login-or">{% trans 'or' %}</p>
  {% endif %}

  <p>{% blocktrans %}Sign in with your username and password. If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
  </form>

{% endblock %}
