{% extends "base_no_sidebar.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %} | {% endblock %}
{% block heading %}{% trans "Password Reset" %}<i class="pull-right fa fa-key"></i>{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %} A password reset link has been sent to your email.{% endblocktrans %}</p>
    <p>{% blocktrans %}Please contact your teacher if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}

