
body{
    padding: 0px !important;

}

.logo img{
    margin-left: 0px !important;
    width: 50px !important;
}
.btn-mobile-navbar{
    background: none;
    border: none !important;
}
.icon .admin{
    font-size: 30px !important  ;
}
.navbar-header i{
    color: #777 !important;
}
.icon span{

    color: #777 !important;
}
.badge.alert-danger{
    border-radius: 25px !important;
}
.icon .btn-light{
    color: #777 !important;
}
.list-group-item.left-side{
    border-bottom: 1px solid #ececec !important;
}
.list-group-item.right-side{
    border-bottom: 1px solid #ececec !important;
}

 .warning{
    background:  #f9f9e1  !important;
}
/* .list-group  ,.dropdown{
    margin-top: 15px;
} */
table > tbody{
    background-color: #fff ;
}
.list-group-item.right-side{
    padding-left: 15px;
}
.bootstrap4 .fixed-table-toolbar {
    display: flex;
    justify-content: flex-end;
}
.bootstrap-table .toggle {
    float: left;
    margin-right: 10px;
  }
.main-dropdown li a{
  color: #777 !important;

}

/* Move icons and toggle button to right side */
.table-icons {
    text-align: right;
  }

  /* Hide export button if user is not staff */
  .table-export {
    display: none;
  }

  /* Adjust column width to fit icons and toggle button */
  .table td:nth-child(1) {
    width: 10%;
  }

  /* Adjust column width to fit export button */
  .table td:nth-child(2) {
    width: 10%;
  }
  .modal-backdrop{
    background: none !important;
    display: none;

  }
  .dots-menu{
    margin-left: -23px;
  }
  .offcanvas.offcanvas-start{
    top: 7%;
    left: 3px;
    background: #f2f2f2;
    height: 118px;
    padding: 2px 13px;
    width: 100%;
  }
  button:focus:not(:focus-visible){
    outline: none;
  }
.offcanvas{
position: fixed;
bottom: 0;
z-index: var(--bs-offcanvas-zindex);
display: flex;
flex-direction: column;
max-width: 100%;
color: var(--bs-offcanvas-color);
visibility: hidden;
background-color: var(--bs-offcanvas-bg);
background-clip: padding-box;
outline: 0;
  }
  @media only screen and (max-width: 768px) {
    .main-position{
        position: absolute !important;
        right: 0px;
    }
    .logo img{
        width: 35px !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .notification_table{
         position: relative !important;
     }
     .navbar-nav{
         display: none !important;
     }

 }