/********** BASIC ELEMENTS ***********/


body {
    /* This is because default bootstrap styling uses Helvetica, but that messes thngs up in Firefox
    so force Arial for consistancy between Chrome and Firefox
    see https://github.com/bytedeck/bytedeck/issues/866
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: Arial,sans-serif;
}

h5 {
    font-weight: 700;
}


/********* PROFILE PAGE *************/

.bd-profile-row {
    display: flex;
}

.bd-profile-avatar-col {
    width: 170px;
    height: 170px;
}

.bd-profile-xp-col {
    padding-left: 30px;
    flex: 1;
}

/********** CUSTOM APPLIED STYLES ***********/

ul.left-aligned, ol.left-aligned {
    padding-left: 20px;
}

.list-spaced > li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tight {
    line-height: 1.2;
}

/* offset anchor links for fixed header */
.anchor {
    scroll-margin-top: 60px;
}

.anchor:target, .active-anchor li.announcement-content {
    animation-delay: 2s;
    animation: temporaryHighlight 2s;
}


/********** Figures ****************/

figure {
    display: inline-block;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 4px;
    max-width: 100%;
}

figure img {
    margin-bottom: 5px;
    line-height: 1;
    max-width: 100%;
    height: auto;
}

figcaption {
    font-size: 90%;
    color: #636c72;
    line-height: 1.2;
}

figure.pull-right {
    margin-left: 15px;
    max-width: 40%; /* just a default */
}

figure.pull-left {
    margin-right: 15px;
    max-width: 40%; /* just a default */
}

/** arrays of figures and images ***/

div.three-wide, div.two-wide {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

div.three-wide > figure, div.three-wide > img {
    margin-right: 2%;
    width: 32%;
}

div.two-wide > figure, div.two-wide > img {
    margin-right: 2%;
    width: 49%;
}

div.three-wide > :last-of-type, div.two-wide > :last-of-type {
    margin-right: 0;
}

/***************************
*
*      NAVBAR
*
****************************/

/* https://codepen.io/bootstrapped/pen/KwYGwq */
.navbar-brand {
    padding: 0px;
}

.navbar-brand > img {
    max-height: 100%;
    width: auto;
    padding: 7px 10px; /* creates large logo within navbar */

}

/* PREVENT OVERWRITING OF NAVBAR COLOR IN CUSTOM STYLES */
.navbar-fixed-top > div, .navbar-fixed-top #navbar {
    background-color:transparent !important;
    background-image:none !important;
}

/*.navbar-nav > li > a.navbar-avatar {*/
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
/*}*/

.navbar-avatar {
    /* leaves room for learger img within navbar */
    /*padding-top: 7px;*/
    /*padding-bottom: 7px;*/
    margin-top: -9px;
    margin-bottom: -9px;
    height: 36px;
    width: 36px;
    margin-right: 10px;
    border-radius: 4px;

}

/*.navbar-avatar > img {*/
    /*box-sizing: content-box;*/
    /*height: 36px;*/
    /*width: 36px;*/
    /*border-radius: 4px;*/
/*}*/

.navbar-fixed-top {
    margin-bottom: 0px !important;
}

.navbar-text-large {
    font-size: 24px;
}

/*.navbar-text-large-container {*/
    /*margin-bottom: -3px;*/
/*}*/

.navbar-nav > li > a {
    border-left: none;
    border-right: none;
}

li.navbar-packed-listitem > a {
    padding-left: 5px;
    padding-right: 5px;
}

li.navbar-group > a {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

li.navbar-group > a:first-child {
    padding-left: 15px;
}

li.navbar-group > a:last-child {
    padding-right: 15px;
}

.navbar-no-collapse {
    float: left;
    margin: 0;
}

.navbar-no-collapse > li {
    float: left;
}

.navbar-no-collapse >li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

button.btn-mobile-navbar {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 15px;
}

button.btn-mobile-navbar.btn-mobile-navbar-left {
    margin-left: 0px;
}

.mobile-dropdown-container > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

/* .dropdown.open > ul.notification-dropdown
{
    display: table-caption;
} */

.notification-dropdown > li.dropdown-horizontal-group
{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-mobile-xp > li > a, .navbar-nav > li.navbar-xp > a {
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
}


/*********************************/

.fullscreen {
    position:fixed !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    height:100% !important;
    z-index:8999 !important;
    background-color: white !important;
}

.fullscreen-toggle {
    position: fixed !important;
    top: 5px !important;
    right: 5px !important;
    z-index:9000 !important;
}


.jumbo-banner {
    padding-top: 20px;
}

#main-container {
    min-height: 950px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 30px;
    margin-bottom: 5px;
}

body {
    /*padding to remove gap between navbar and jumbotron*/
    padding-top: 50px;
    min-height: 660px; /* 660+50 = 720 */
}

blockquote {
    font-size: 1em;
    font-style: italic;
}

.footer {
    min-height: 50px;
    padding: 20px 0px;
    /*text-align: center;*/
    margin-top: 0px
}

.footer img {
    width: 80px;
    margin: 5px;
}

iframe, .embed-responsive video {
    border-radius: 8px;
}


/********* EMOJI ************************/
img.emoji-img-inline {
    display: inline-block;
    margin-top:-0.2em;
    height: 1.2em;
    width: auto;

}


/************* IMG *************************/

img.note-float-right, img.pull-right {
    margin-left: 10px;
}

img.note-float-left, img.pull-left {
    margin-right: 10px;
}

/*************** Lists *******************/

ol > ol {
    list-style-type: lower-alpha;
}

ol > ol > ol {
    list-style-type: lower-roman;
}


/************ BADGES/Achievements **********************/
.panel-body-badge {
    padding-bottom: 0px;
}

.panel-body-badge > .row {
    margin-left: -8px;
    margin-right: -8px;
}

.badge-icon-lg {
    position: absolute;
    bottom: 2px;
    left: 2px;
    border-radius: 6px;
    padding: 3px 6px;

}

.icon-badge-container {
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
}

.hackerbadge {
    min-height: 64px;
    height: 64px !important;
}

.hackerbadge-unearned {
    -webkit-filter: grayscale(100%) blur(3px) opacity(.5);
    filter: grayscale(100%) blur(3px) opacity(.5);
    -webkit-transition: filter .5s;
    transition: filter .5s;
}

.hackerbadge-unearned:hover {
    -webkit-filter: none;
    filter: none;
}

.hackerbadge-transfer {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: filter .5s;
    transition: filter .5s;
}

.hackerbadge-transfer:hover {
    -webkit-filter: none;
    filter: none;
}

.col-badge {
    padding-right: 8px;
    padding-left: 8px;
}

.caption-badge {
    height: 58px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.popover {
    max-width: 400px; /* Is this still required? What was this for? */
    /*width: auto;*/
}

/*********** PROFILE PAGE ********************/

.progress-xp {
    /*margin-left: 10px;
    margin-right: 10px;*/
    margin-bottom: 10px;
}

/************ ANNOUNCEMENT *******************/

.announcement-dropdown {
    margin-left: 15px;
}

/* SEE THEME SPECIFIC STYLESHEET For color */
.announcement-dropdown a{
    text-shadow: none;
}

.announcement-dropdown a:hover {
    color: black;
}

.announcement-content {
    overflow-wrap: break-word;
}

.announcement-action-btns {
    margin: 10px 0;
}

/*********** Bootstrap BADGES **************************/

.badge.list-group-item-badge {
    margin-top: 3px;
}

.nav-tabs .badge {
    margin-top: -2px;
    margin-left: 10px;
}

.notification-badge {
    margin-top: 0px;
    margin-left: 5px;
}

form > div.alert.alert-block.alert-danger {
  margin-top: 8px;
}

/************ ICONS **********************/

.icon-text {
    padding-left: 3px;
}

.icon-xs {
    width: 16px;
    border-radius: 2px;
}

.icon-sm {
    width: 24px;
    height:24px;
}

.icon-md {
    width: 32px;
    height:32px;
}

.icon-md2 {
    width: 48px;
    height:48px;
}

.icon-lg {
    width: 64px;
    height:64px;
}

.icon-xl {
    width: 72px
}

.icon-xxl {
    width: 128px
}

.icon-avatar {
    width: 170px;
}

.quest-icon {
    margin-right: 10px;
}

td.notification-icons {
    text-align: center;
    padding-bottom: 0px !important;
}

/*td.notification-icons .fa {
  margin-top: 8px;
}*/

td.notification-icons .fa-stack {
    margin-top: -4px;
}

td.notification-icons .fa-stack {
    margin-top: -4px;
}

/********************************************
 *
 *          SUMMERNOTE WIDGET
 *
 ********************************************/

.panel-summernote, .list-group-item-summernote {
    padding: 0px;
    border-radius: 0px;
    /*DOM height on load so doesn't grow when Summernote finishes loading */
    min-height: 544px;
}

iframe#id_comment_text_iframe {
    border-radius: 0px;
}

iframe.summernotewidget.form-control {
    padding: 0px;
    /*border: none;*/
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-radius: 0px;
}

.form-group-summernote, .panel-summernote #div_id_docfile,
.panel-summernote #div_id_files,
.panel-summernote #div_id_attachments,
.panel-summernote #div_id_award,
.panel-summernote #div_id_awards,
.panel-summernote #div_id_xp_requested {
    margin-left: 15px;
    margin-right: 15px;
}

.multifileinput {
    border: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    height: auto;
}

form .panel-body {
    padding-top: 0px;
}

.panel-body .note-editor.note-frame.panel {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.panel-body .note-editor.note-frame.panel .panel-heading,
.panel-body .note-editor.note-frame.panel .note-statusbar {
    border-radius: 0px;
}

/************ALERTS *************************/
#main-container > .alert:first-of-type {
    margin-top: 10px;
}

#main-container > .alert {
    margin-bottom: 8px;
}

.alert-block ul {
    padding-left: 20px;
}

form > div.alert.alert-block.alert-danger {
  margin-top: 8px;
}

/******* Accordian ***********************/

.panel-heading-tall {
    min-height: 65px;
}

.panel-title > img, .panel-title-img {
    max-height: 48px;
}

.panel-heading > .col-icon {
    margin-right: -5px;
}

.panel-title > .col-icon {
    padding-right: 0px;
    padding-left: 10px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: -5px;
}

/*Make clickable accordian tabs change to pointer cursor*/
.accordian-trigger {
    cursor: pointer;
}

.panel-top {
    margin-top: 15px;
}

/**** panel packed together: add packed class to panel group div ***/
/**** INSTEAD OF THIS FANCY CRAP, TRY changing the top or bottom margin to -1px
to overlap borders ****/
.panel-group-packed > .panel {
    margin-top: 0px !important;
    border-radius: 0px;
    border-bottom-style: none;
}

.panel-group-packed > .panel > .panel-heading {
    padding-top: 15px;
    padding-bottom: 15px;
}

.panel-group-packed > .panel:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.panel-group-packed > .panel:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
}

.panel-group-packed .panel-heading.active {
    border-radius: 0px;
}

.list-group-item-buttons {
    min-height: 55px;
}

.list-group-item-buttons > .pull-right {
    margin-left: 15px;
    margin-bottom: 15px;
}

.list-group-item-packed {
    padding-top: 3px;
    padding-bottom: 3px;
}

/***********Submission ********************************/

li.file-link {
    margin-bottom: 5px;
}

.panel-title small {
    /* default 65% is too small here */
    font-size: 75%
}

.panel-body-comments {
    padding: 0px;
}

.panel-body-comments .panel {
    margin: 0px;
    border-style: none;
}

.panel-body-comments .list-group-item {
    border-style: none none solid none;
    margin: 0px;
}

.avatar-left-sm {
    padding-left: 70px;
    min-height: 70px;
}

.avatar-left-sm > .avatar {
    position: absolute;
    /*top: 10px;*/
    left: 10px;
    height: 48px;
    width: 48px;
}

.comment-heading-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3.comment-heading {
    margin-top: 5px
}

.panel-body h3 {
    margin-top: 25px;
}

.comment-content img {
    max-width: 100%;
}

/***********ACCORDIAN COMMENTS *******************************/

/* lists within list-groups */
ul.list-group ul, ul.list-group ol {
    margin-bottom: 10px;
}



.panel > .list-group > .list-group-item > .list-group {
    margin-bottom: 0px
}

.reply_comment {
    display: none;
}

/************ TABS *****************************************/
/*Get rid of the focus outline on selected tabs.  For accessibility, the tabs are
already distinguished*/
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    outline: 0;
}

.nav-tabs a {
    font-size: 125%;
}

.tab-content {
    /*border-left: 1px solid #ddd;*/
    /*border-right: 1px solid #ddd;*/
    /*border-bottom: 1px solid #ddd;*/
    border-radius: 0px 0px 5px 5px;
    padding-top: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

/*******************************************************/

/*#input-group-unified { width: 100%;}*/
.input-group-unified input {
    width: 50% !important;
}

.input-group-unified input:last-of-type {
    border-left: 0;
}

h3 > img#banner {
    width:100%;  /* fix for Edge browser which can't handle max-width:100% */
}

.sidebar-menu {
    font-size: 125%;
    /*display:inline-block
    .text-overflow();*/
}

.sidebar-menu-nav > li > a:focus {
    background-color: transparent;
}

.list-group-item.left-side, .list-group-item.right-side {
  margin: 0;
  float: left;
  border-bottom: none;
}

.list-group-item.left-side {
  border-top-right-radius: 0px ;
  width: 80%;
}

.list-group-item.right-side {
  width: 20%;
  border-top-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  padding-left:0px;
  padding-right: 0px;
}


/*this allows us to use contextual badges (-success, -primary, etc)*/
.label-as-badge {
    border-radius: 1em;
}

.shrinktext {
    letter-spacing: -1px;
}

.shrinktextmore {
    letter-spacing: -2px;
}


kbd
{
    border-width: 1px;
    border-style: solid;
    border-radius:3px;
    display:inline-block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    line-height:1.4;
    margin:0 .1em;
    padding:.1em .6em;
}

/* Make action buttons have a fixed width so they would only expand horizontally */
div.btn-group.action-btn-group {
    width: 100px;
}

/*Make the container act like container-fluid at small and medium sizes*/

/*LESS to mimic Bootstrap without importing the less files.*/
/*@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;*/


/*xs only*/
@media (max-width: 767px) {


}

/*small and up*/
@media (min-width: 768px) {

}

/*sm only*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*md and up*/
@media (min-width: 992px) {

}

/*md only*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*lg and up*/
@media (min-width: 1200px) {
    .container-fluid {
        width: 1170px;
    }

}


/* mobile in portrait and landscape, small browser */
@media screen and (max-width: 767px) {

    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left.active {
        left: 60%;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -60%;
        position: absolute;
        top: 0;
        width: 60%;
        margin-left: 5px;
    }

    #sidebar {
        /*padding-left:3px;*/
        padding-left: 5px;
    }

    #sidebar a, #sidebar-footer a {
        padding-left: 10px;
    }

    .navbar-mobile-xp-container {
        margin: 0 auto;
        display: table !important;
    }

    .navbar-mobile-xp {
        margin: 0;
    }

    .navbar .navbar-nav > li > a {
        border: none;
    }

    #navbar, .navbar-mobile-dropdown, .navbar-mobile-dropdown-item {
        font-size: 125%;
    }

}

/* mobile in portrait and tiny squashed browsers */
@media screen and (max-width: 480px) {

    /********** Figures ***************/

    figure {
        display: block;
        max-width: 100% !important;
    }

    figure.pull-right, figure.pull-left {
        margin-left: 0px;
        float: none !important;
    }


    #main-container {
        padding-left: 7px;
        padding-right:7px;
    }

    .navbar-brand > img {
        margin-left: -7px;
    }

    .navbar-toggle {
        margin-right: 7px;
    }



    li.navbar-packed-listitem > a {
        padding-left: 2px;
        padding-right: 2px;
    }

    .chart-container.well {
        padding: 5px;
        margin-left:-7px;
        margin-right:-7px;
        border-radius: 0px;
    }

}

/*************** select2 ****************/
.select2 {
    width: 100% !important;
}

.select2-selection--single {
    height: 34px !important;
}

.select2-selection__clear {
    font-size: 1.2em; /* increase size of little `x` button */
}

/*************** SECRET ****************/

.secret-link, .secret-link:hover {
    color: #333 !important;
    cursor: default;
}


/************** FORMS *********************/

.select2-container--bootstrap .select2-selection--single {
    height: 38px !important;
    padding: 8px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
}

.select2-container--bootstrap .select2-selection--multiple {
    min-height: 38px !important;
    padding-top: 2px !important;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    padding-left: 8px;
}

.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    padding-left: 0px !important;
}

.select2-container--bootstrap .select2-results__group {
    color: #333 !important;
}

/* .select2-container .select2-selection--single .select2-selection__rendered {
padding-right: 20px !important;
} */

 /*****  PREREQUISITE FORMS *************/
.table td > .controls > .numberinput.form-control {
    padding-right: 3px;
    padding-left: 3px;
    text-align: center;
}

#id_prereq_formset td[id$="DELETE"] {
    text-align: right;
}



