/* Used in the summernote iframe which can't see the our other css files

  See settings/base.py:

  # You can add custom css/js for SummernoteWidget.
  'css': (
      os.path.join(STATIC_URL, 'custom_summernote_widget.css'),
  ),

*/

/*.note-editor.note-frame {*/
    /*border-radius: 0px;*/
    /*border-left-style: none;*/
    /*border-top-style: none;*/
    /*border-right-style: none;*/
/*}*/

/*.panel {*/
  /*margin-bottom: 0px;*/
/*}*/

/*.note-editable {*/
  /*!*need to override inline height which is 20px too short*!*/
  /*height: 382px !important;*/
/*}*/

body {
    padding: 0;
    min-height: 0;
    max-width: 850px; /* so that it appears similar to the regular editor and how ti will be displayed */
}

/* bytedeck_summernote custom widgets */

body.bytedecksummernoteadvancedwidget .note-view .btn-codeview {
}
body.bytedecksummernoteadvancedwidget .note-view .btn-codeview:hover {
   color: #fff;
   background-color: #c82333;
   border-color: #bd2130;
}
