
/*
Darkest: var(--slate-bg-color)
Med: #32383e
Light: #3e444c
Text: #c8c8c8
*/

:root {
  --black: black;
  --almost-black: #1d1f22;
  --slate-bg-color: #272b30;
  --slate-primary-ui-color: #32383e;
  --slate-alt-ui-color: #3e444c;
  --slate-default-bs-color: #3a3f44;
  --slate-primary-bs-color: #7a8288;
  --slate-text-color: #c8c8c8;
}

h5 {
  color: white;
}

figure {
    border-color:#0c0d0e;
    background-color: var(--slate-bg-color);
}

/* .navbar-fixed-top.chillax {
  background-color: #337AB7;
  background-image: none;
  text-shadow: none;
} */

.jumbotron {
  background-color: black;
}


#main-container {
  background-color: var(--slate-bg-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.075) ;
}

body {
  background-color: var(--slate-primary-ui-color);
}

.footer {
  background-color: var(--slate-primary-ui-color);
}

a {
  color: #91c8ff;
}

a:hover {
  color: #2b669a;
}

b, strong {
  color: white;
}

.help-block {
  color: #777777;
}

/************ TABLES **************************************/

.fixed-table-container {
  border: 1px solid black;
}

.bootstrap-table .table {
  border-bottom: 1px solid black;
}

.bootstrap-table .table > thead > tr > th {
  border-bottom: 1px solid black;
}

/************ SAMP PRE CODE KBD TAGS **********************/

pre, code {
  background-color: var(--slate-bg-color);
  color: #f5f5f5;
  border: none;
}

kbd {
  border-color:  #151515;
  text-shadow:0 1px 0 #000;
  background-color:#333;
  box-shadow:2px 2px 0 0 #282828 inset, -2px -2px 0 0 #1d1d1d inset;
  color:rgb(200, 200, 200);
}


/************ BADGES/Achievements **********************/

.thumbnail-badge:hover, .thumbnail-badge:focus {
  border-color: #337ab7;
  color: #337ab7 !important;;
}

.badge-popover:hover, .badge-popover:focus{
  text-decoration: none ;
  color: #337ab7;
}

/*********** PROFILE PAGE ********************/


/*********** Bootstrap BADGES **************************/

.badge.alert-danger {
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A;
  background-image: none;
  /*background-image: linear-gradient(to bottom, #D9534F 0px, #D43F3A 100%);*/
}

.badge.badge-muted {
    color: #fff;
    background-color: #777;
}

.nav-tabs > .active .badge {
  color: #337ab7;
  background-color: #fff;
  text-shadow: none;
}

tr.detail-view{
  background-color: #EEE;
}


/******* Accordian ***********************/

.panel-default > .panel-heading.accordian-trigger {
  /*background-color: #FFF;*/
  background-image: none;
}

.panel-default > .panel-heading.accordian-trigger:hover {
  /*  background-image: linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%);
    background-repeat: repeat-x;*/
  background-color: var(--slate-primary-ui-color);
}

.panel-default > .panel-heading.accordian-trigger.active {
  /*background-color: #337AB7;*/
  color: #FFF !important;
  text-shadow: 0px -1px 0px #286090;
  background-image: linear-gradient(to bottom, #337AB7 0px, #2B669A 100%);
  background-repeat: repeat-x;
  border-color: #2B669A;
}

.panel-default > .panel-heading.accordian-trigger.active small {
  color: #FFF !important;
}

.panel-danger > .panel-heading small {
  color: #c6c9cc;
}

.panel-default.active {
  border-color: #2B669A;
}

.panel-danger.active {
  border-color: rgb(169, 68, 66);
}

.panel-warning.active {
  border-color: rgb(138, 109, 59);
}

.panel-group-packed .panel.active + .panel {
  border-top-color: #2B669A;
}

.panel-group-packed .panel.active:last-child {
  border-bottom-color: #2B669A;
}

.list-group-item-info {
   background-color: #1c4466;
}

.list-group-item-muted {
    color: #999;
    background-color: #F5F5F5;
}

a.list-group-item-muted {
    color: #999;
}

.panel-muted {
  /*color: #999;*/
  background-color:var(--slate-alt-ui-color);
  border-color: #111;
  opacity: 0.5;
  /*color: #FFF !important;
  text-shadow: 0px -1px 0px #286090;
  background-image: linear-gradient(to bottom, #337AB7 0px, #2B669A 100%);
  background-repeat: repeat-x;
  border-color: #2B669A;*/
}

/***********ACCORDIAN COMMENTS *******************************/

/************ TABS *****************************************/

.nav-tabs > li > a {
  border-bottom-color: #2B669A !important;
}

/*to match other elements, taken from .list-group-item.active in bootstrap-theme.css*/
.nav-tabs > .active > a {
  color: #FFF;
  text-shadow: 0px -1px 0px #286090;
  background-image: linear-gradient(to bottom, #337AB7 0px, #2B669A 100%);
  background-repeat: repeat-x;
  border-color: #2B669A !important;
}

.nav-tabs a {
  border-color: #111;
  color: #c8c8c8;
}

.nav-tabs > li > a {
  border-color: #111;
}


/********* FORM STUFF **************/
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control  {
    background-color:var(--slate-alt-ui-color);
}

.form-control {
  color: #c8c8c8;
}

.form-control, 
.select2-container--bootstrap .select2-selection {
  background-color: var(--slate-primary-ui-color) !important; 
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  color: #3e444c !important;
}

.select2-container--bootstrap .select2-selection {
    color: #c8c8c8 !important;
    border-color: #000000 !important;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    border-color: #66afe9 !important;
}

.select2-container--bootstrap .select2-results__option {
    color: #3e444c !important;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #337ab7;
    color: #fff !important;;
}

.multifileinput,
.clearablefileinput,
.select2-selection__rendered,
input, textarea {
    color: #c8c8c8 !important;
}

/* COMMENT and annoucnement higlights */

@keyframes temporaryHighlight {
  0% { background:  black}
  50% { background:  black}
  100% { background: inherit }
}

/* Announcement menu button */
.announcement-dropdown a{
    color: rgb(200, 200, 200);
}