.navbar-fixed-top {
  margin-bottom: 0px !important;

}

.jumbotron {
  background-color: white;
}

.list-group-item .badge {
  margin-top: 3px;
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A;
  /*font-size: 75%;*/
  background-image: none;
  /*background-image: linear-gradient(to bottom, #D9534F 0px, #D43F3A 100%);*/
}


.panel-default > .panel-heading.accordian-trigger:hover {
  background-color: #FFF;
}

.panel-default > .panel-heading.accordian-trigger.active {
  background-color: #337AB7;
  color: #FFF;
}

/*Make clickable accordian tabs change to pointer cursor*/
.accordian-trigger {
  cursor: pointer;
}

/*Make the container act like container-fluid at small and medium sizes*/

/*LESS to mimic Bootstrap without importing the less files.*/
/*@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;*/

/*xs only*/
@media (max-width: 767px) {

}
/*small and up*/
@media (min-width: 768px) {

}
/*sm only*/
@media (min-width: 768px) and (max-width: 991px) {

}
/*md and up*/
@media (min-width: 992px) {

}
/*md only*/
@media (min-width: 992px) and (max-width: 1199px) {

}
/*lg and up*/
@media (min-width: 1200px) {
  .container-fluid {
    width: 1170px;
  }

}




/*Get rid of the focus outline on selected tabs.  For accessibility, the tabs are
already distinguished*/
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  outline: 0;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

/*#input-group-unified { width: 100%;}*/
.input-group-unified input {width: 50% !important;}
.input-group-unified input:last-of-type { border-left: 0;}

/*.banner1 {
  margin-left: -4%;
  margin-right: 8%;
}*/

body {
  /*padding to remove gap between navbar and jumbotron*/
  padding-top: 50px;
  min-height: 300px;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
/*#logo {
 padding-top: 10px;
 padding-bottom: 10px;
}*/

#lg-menu a {
  font-size: 125%;
  /*display:inline-block
  .text-overflow();*/

}

/*this allows us to use contextual badges (-success, -primary, etc)*/
.label-as-badge {
    border-radius: 1em;
}

.shrinktext {
  letter-spacing: -1px;
}
.shrinktextmore {
  letter-spacing: -2px;
}

@media screen and (max-width: 768px) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;width:
  }

  .row-offcanvas-left.active {
    left: 60%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -60%;
    position: absolute;
    top: 0;
    width: 60%;
    margin-left: 5px;
  }

  #sidebar {
    /*padding-left:3px;*/
    padding-left: 5px;
  }

  #sidebar a, #sidebar-footer a {
    padding-left: 10px;
  }

}
