.navbar-fixed-top {
  margin-bottom: 0px !important;

}



/*Get rid of the focus outline on selected tabs.  For accessibility, the tabs are
already distinguished*/
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  outline: 0;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

/*#input-group-unified { width: 100%;}*/
.input-group-unified input {width: 50% !important;}
.input-group-unified input:last-of-type { border-left: 0;}

/*.banner1 {
  margin-left: -4%;
  margin-right: 8%;
}*/

body {
  /*padding to remove gap between navbar and jumbotron*/
  padding-top: 50px;
  min-height: 300px;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
/*#logo {
 padding-top: 10px;
 padding-bottom: 10px;
}*/

#lg-menu a {
  font-size: 125%;
}

.shrinktext {
  letter-spacing: -1px;
}
.shrinktextmore {
  letter-spacing: -2px;
  /*display: inline !important;*/
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 60%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -60%;
    position: absolute;
    top: 0;
    width: 60%;
    margin-left: 5px;
  }

  #sidebar, /*#sidebar a,*/ #sidebar-footer a {
    /*padding-left:3px;*/
    padding-left: 5px;
  }

  #sidebar a {
    padding-left: 10px;
  }

}
