{% load static %}
{% load utility_tags %}
<!DOCTYPE html>
<html>
<body>
  <p>Hello {{user.get_full_name}},</p>

  <p>You have unread notifications:</p>

  <ul>
  {% for notice in notifications %}
  <li>{{notice|safe}}</li>
  {% endfor %}
  </ul>
  <hr>

  <p>
    {% firstof config.outgoing_email_signature config.site_name %}
  </p>

  <p><img alt="[Logo]" src="{{ root_url }}{% site_logo_url %}"></p>
  <p>If you no longer want to receive these emails, <a target="_blank" href="{{root_url}}{{profile_edit_url}}">edit your profile</a>.</p>
</body>
</html>
