{% load static %}
{% load utility_tags %}
<!DOCTYPE html>
<html>
<body>
<p>Hello {{user.get_full_name}},</p>

<p>You have unread notifications:</p>

<ul>
{% for notice in notifications %}
<li>{{notice|safe}}</li>
{% endfor %}
</ul>
<hr>

<p>Have a day!</p>
<p>Love, {{ config.deck_ai }}</p>

<p><img alt="[Logo]" src="{{ scheme_and_domain }}{% site_logo_url %}"></p>
<p>If you no longer want to receive these emails, <a href="{{scheme_and_domain}}{{profile_edit_url}}">edit your profile</a>.</p>
</body>