{% extends "base_sidebar.html" %}
{% block head_title %}Notifications |{% endblock %}
{% block heading %}Notifications
<small>
  <a href="{% url 'notifications:list' %}">All</a> |
  <a href="{% url 'notifications:list_unread' %}">Unread</a> |
  <a href="{% url 'notifications:read_all' %}">Mark all read</a>
</small>
<i class="fa fa-bell pull-right"></i>{% endblock %}
{% block content %}

<table class='table'>
{% for note in notifications %}
<tr>
  <td class='notification-icons'>{{note.font_icon|safe}}</td>
  <td>{{note|safe}} </td>
  <!-- <td>{{note.timestamp|timesince}} ago</td> -->
  <td><small>{{note.timestamp}}<small></td>
  <td>{% if not note.unread %}Read {% else %} Unread {% endif %}</td>
</tr>

{% endfor %}
</table>
{% endblock %}
