{% extends "notifications/base.html" %}
{% block head_title %}Notifications |{% endblock %}
{% block heading_inner %}Notifications
<small>
  <a href="{% url 'notifications:list' %}">All</a> |
  <a href="{% url 'notifications:list_unread' %}">Unread</a> |
  <a href="{% url 'notifications:read_all' %}">Mark all read</a>
</small>
{% endblock %}
{% block content %}

<table class='table'>
{% for note in notifications %}
<tr>
  <td class='notification-icons'>{{note.font_icon|safe}}</td>
  <td >{{note|safe}} </td>
  <td><small>{{note.timestamp}}<small></td>
  <td>{% if not note.unread %}Read {% else %} Unread {% endif %}</td>
</tr>

{% endfor %}
</table>

{% if notifications.paginator.num_pages > 1 %}
<ul class="pagination pagination-centered">
    {% if notifications.has_previous %}
        <li><a href="{% url 'notifications:list' %}?page=1"><<</a></li>
        <li><a href="{% url 'notifications:list' %}?page={{ notifications.previous_page_number }}"><</a></li>
    {% endif %}

    {% for i in notifications.paginator.page_range %}
        <li {% if notifications.number == i %} class="active" {% endif %}><a href="{% url 'notifications:list' %}?page={{i}}">{{i}}</a></li>
    {% endfor %}

    {% if notifications.has_next %}
        <li><a href="{% url 'notifications:list' %}?page={{ notifications.next_page_number }}">></a></li>
        <li><a href="{% url 'notifications:list' %}?page={{ notifications.paginator.num_pages }}">>></a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}
