{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title%}{% if title %}{{ title }}{% endif %}{% endblock%}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h2>Profile <small>{{p.user}}</small></h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
</div>
  <div class="col-sm-12">
    {% if p %}
      {{ p.user}}
      {{ p.first_name}}
      {{ p.last_name}}
      {{ p.preferred_name}}
      {% if p.avatar %}<img class="media-object" src="{{p.avatar.url}}" alt="avatar" height="16px"/>{% endif %}
      {{ p.student_number}}
      {{ p.grad_year}}
      {{ p.datetime_created}}

    {% else %}
      <p>Profile doesn't exist.</p>
    {% endif %}

</div>
{% endblock %}
