{% extends "base_sidebar.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_css %}
<!-- BOOTSTRAP TABLES -->
<!-- http://bootstrap-table.wenzhixin.net.cn/getting-started/ -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
{% endblock %}

{% block head_title%}{% if title %}{{ title }}{% endif %}{% endblock%}

{% block heading %}Students <i class="fa fa-users pull-right"></i>{% endblock %}

{% block content %}
<!-- <table class="table table-striped"> -->
<table data-toggle="table" data-sort-name='first' data-sort-order='asc'
 data-search='true' data-show-columns='true'>
  <thead>
    <tr>
      <th data-field='avatar' {% if request.user.is_staff %}data-visible="false"{% endif %}>Avatar</th>
      <th data-sortable='true' data-field='first'>Student</th>
      <th data-sortable='true' data-field='last'>Last Name</th>
      <th data-sortable='true' data-field='alias' data-visible="false">Alias</th>
      <th data-sortable='true' data-field='xp' {% if request.user.is_staff %}data-visible="false"{% endif %}>XP</th>
      <th data-sortable='true' data-field='num_courses' {% if request.user.is_staff %}data-visible="false"{% endif %}># Blocks</th>
      <th data-sortable='true' data-field='mark'>Mark</th>
      {% if request.user.is_staff %}
      <th data-sortable='true' data-field='blocks'>Block</th>
      <th data-sortable='true' data-field='last_sub'>Last Quest</th>
      <th data-sortable='true' data-field='username'>Student #</th>
      <th data-field='comment_ban' data-switchable="false"></th>
      <th data-field='gamelab' data-switchable="false"></th>
      <th data-field='pw' data-switchable="false"></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}

    <tr {% if object.game_lab_transfer_process_on and request.user.is_staff %}class="danger"{% endif %}>
      {% if request.user.is_staff or object.visible_to_other_students %}
        <td><img class="icon-md img-rounded" src="{{object.get_avatar_url}}" alt="avatar"/></td>
        {% if object.preferred_name %}<td>{{object.preferred_name}}</td>
          {% else %}<td>{{object.first_name}}</td>{% endif %}
        <td>{{object.last_name}}</td>
        <td>{{object.alias}}</td>
        <td>{{object.xp}}</td>
        <td>{{object.num_courses}}</td>
      {% else %}
        <td></td>
        <td>*Private*</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      {% endif %}
      <td>{{object.mark|floatformat}}</td>
      {% if request.user.is_staff %}
        <td>{{object.blocks}}</td>
        <td>{{object.last_submission_completed.time_completed|date:'y/m/d'}}
          <br><small>{{object.last_submission_completed.time_completed|timesince}} ago</small></td>
        <td><a href="{% url 'profiles:profile_detail' object.id %}">
          {{object.user}}</a></td>
        <td><a href="{% url 'profiles:comment_ban_toggle' object.id %}">
          <small {% if object.banned_from_comments %}class="text-danger"{% endif %}>
            Comments <b>{{object.banned_from_comments|yesno:'BANNED,ON'}}</b></small></a>
        </td>
        <td><a href="{% url 'profiles:GameLab_toggle' object.id %}">
          <small {% if object.game_lab_transfer_process_on %}class="text-danger"{% endif %}>
            GameLab <b>{{object.game_lab_transfer_process_on|yesno:'ON,OFF'}}</b></small></a>
        </td>
        <td><a href="/admin/auth/user/{{object.user.id}}/password/"><small>Reset password</small></a>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block js %}
<!-- BOOTSTRAP TABLES -->
<!-- http://bootstrap-table.wenzhixin.net.cn/getting-started/ -->
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
{% endblock %}
