{% extends "profile_manager/base.html" %}

{% block heading_inner %}{{ object.user.username }}'s Profile
  <a class="btn btn-info" href="{% url 'profiles:profile_update' %}" role="button">Edit</a>
{% endblock %}

{% block content %}
  <p>User ID: {{object.user.id}}</p>
  <p>Profile ID: {{object.id}}</p>
  <p>Alias: {{object.alias}} </p>
  <p>First Name: {{object.first_name}} </p>
  <p>Last Name: {{object.last_name}} </p>
  <p>Preferred Name: {{ object.preferred_name}} </p>
  <p>Avatar: {% if object.avatar %}
    <img src="{{object.avatar.url}}" alt="avatar" height="16px"/>
    {% else %}None
  {% endif %}</p>
  <p>SN: {{ object.student_number}}</p>
  <p>Grad: {{ object.grad_year}}</p>
  <p>Created: {{ object.datetime_created}}</p>
{% endblock %}
