<script>

    $(document).ready(function () {

        {% if quests_available_page and request.user.is_superuser %}
            // teacher on main quest page need to load all at once since individual ajax calls for each quest will
            // overwhelm or error out or something bad (i.e. doesn't work most of time)
            $.ajax({
                  type: "POST",
                  url: "{% url 'quests:ajax_quest_all' %}",
                  data: {
                      csrfmiddlewaretoken: "{{ csrf_token }}"
                  },
                  success: function (data) {
                      var jsonData = JSON.parse(data);

                      //$(preview_content_selector).html(data.quest_info_html);
                      $(".accordian-trigger").each(function (index) {

                          // get the quest/submission id from the id of the accordian panel
                          var html_id = $(this).attr('id');
                          // http://stackoverflow.com/questions/6340180/regex-to-get-the-number-from-the-end-of-a-string
                          // quest/sub id is number at end of html_id
                          var id = parseInt(html_id.match(/\d+$/)[0], 10);

                          var preview_content_selector = "#preview-content-" + id;

                          $(preview_content_selector).html(jsonData[id]);
                      });

                  },
                  error: function (xhr, errmsg, err) {
                      if (xhr.status == 500) {
                          console.log(xhr.responseText)
                      }
                  }
              });


        {% else %} // student or approval pages

          // cycle through each quest/submission and add content to accordian panel
          $(".accordian-trigger").each(function (index) {

              // get the quest/submission id from the id of the accordian panel
              var html_id = $(this).attr('id')
              // http://stackoverflow.com/questions/6340180/regex-to-get-the-number-from-the-end-of-a-string
              // quest/sub id is number at end of html_id
              var id = parseInt(html_id.match(/\d+$/)[0], 10);

              var is_inprogress = false;
              var is_completed = false;
              var is_past = false;
              var is_approval = false;
              var is_available_quest = false; // default

              // if this is the available tab, then it will list quests, not submissions
              // if submissions, need to determine which tab
              // or could be approvals...
              if (window.location.href.indexOf("/inprogress/") > -1) {
                  is_inprogress = true;
              }
              else if (window.location.href.indexOf("/completed/") > -1) {
                  is_completed = true;
              }
              else if (window.location.href.indexOf("/past/") > -1) {
                  is_past = true;
              }
              else if (window.location.href.indexOf("/approvals/") > -1) {
                  is_approval = true;
              }
              else
                  is_available_quest = true;

              // get ajax url based on tab
              if (is_inprogress) {
                  var ajax_url = "{% url 'quests:ajax_submission_root' %}" + id + "/";
              }
              else if (is_completed) {
                  var ajax_url = "{% url 'quests:ajax_submission_root' %}" + id + "/completed/";
              }
              else if (is_past) {
                  var ajax_url = "{% url 'quests:ajax_submission_root' %}" + id + "/past/";
              }
              else if (is_approval) {
                  var ajax_url = "{% url 'quests:ajax_approval_root' %}" + id + "/";
              }
              else {
                  var ajax_url = "{% url 'quests:ajax_quest_root' %}" + id + "/";
              }

              var preview_content_selector = "#preview-content-" + id;
              var hidden_selector = "#status-icon-" + id;

              //console.log(preview_content_selector);
              //console.log(ajax_url);

              $.ajax({
                  type: "POST",
                  url: ajax_url,
                  data: {
                      csrfmiddlewaretoken: "{{ csrf_token }}",
                  },
                  success: function (data) {
                      //console.log(data)
                      $(preview_content_selector).html(data.quest_info_html);

                      // Quest status icons
                      if (data.is_prerequisite) {
                          $(hidden_selector).append("<i title='Prerequisite: completing this will cause additional quests to become available' class='fa fa-fw fa-share-alt'></i> ");
                      }
                      else {
                          $(hidden_selector).append("<i class='fa fa-fw'></i> ");
                      }
                      if (data.is_repeatable) {
                          $(hidden_selector).append("<i title='Repeat: this quest is repeatable' class='fa fa-fw fa-undo'></i> ");
                      }
                      else {
                          $(hidden_selector).append("<i class='fa fa-fw'></i> ");
                      }
                      if (data.is_hidden) {
                          $(hidden_selector).append("<i title='Hidden: this quest is on your hidden list' class='fa fa-fw fa-eye-slash'></i> ");
                      }
                      else {
                          $(hidden_selector).append("<i class='fa fa-fw'></i> ");
                      }

                      $('div.pack').pack()
                  },
                  error: function (xhr, errmsg, err) {
                      if (xhr.status == 500) {
                          console.log(xhr.responseText)
                      }
                  }
              });

          });

        {% endif %}

    });

</script>
