<script>

    $(document).ready(function () {
        $(".accordian-trigger").on("click", function () {
            // get the questor submission id from the id of the accordian panel
            var html_id = $(this).attr('id');
            // http://stackoverflow.com/questions/6340180/regex-to-get-the-number-from-the-end-of-a-string
            // quest/sub id is number at end of html_id
            // html_id will be in format "heading-quest-42", so need to get the 42, which is the quest.id
            var id = parseInt(html_id.match(/\d+$/)[0], 10);
            var $contentContainer = $(`#preview-quest-${id}, #preview-submission-${id}`);

            // If content is already loaded, do nothing
            if ($contentContainer.hasClass("ajax-content-loaded")) return;

            // Determine which tab we're in and set the correct AJAX URL
            // if this is the available or drafts tab, then it will list quests, not submissions
            // if submissions, need to determine which type (buttons are different depending on submission status)
            // or could be the approvals tab
            var ajax_url;
            var currentURL = window.location.href;

            if (currentURL.includes("/inprogress/")) {
                ajax_url = "{% url 'quests:ajax_submission_root' %}" + id + "/";
            } else if (currentURL.includes("/completed/")) {
                ajax_url = "{% url 'quests:ajax_submission_root' %}" + id + "/completed/";
            } else if (currentURL.includes("/past/")) {
                ajax_url = "{% url 'quests:ajax_submission_root' %}" + id + "/past/";
            } else if (currentURL.includes("/approvals/")) {
                ajax_url = "{% url 'quests:ajax_approval_root' %}" + id + "/";
            } else {
                ajax_url = "{% url 'quests:ajax_quest_root' %}" + id + "/"; // Default: available quests or drafts
            }

            // Fetch content
            $.ajax({
                type: "POST",
                url: ajax_url,
                data: { csrfmiddlewaretoken: "{{ csrf_token }}" },
                success: function (data) {
                    // Replace loading spinner
                    $contentContainer.html(data.quest_info_html).addClass("ajax-content-loaded");
                    $('div.pack').pack()
                },
                error: function (xhr) {
                    $contentContainer.html("<p>Error loading content. Please try again.</p>");
                    console.error(xhr.responseText);
                }
            });
        });

    });

</script>
