{% extends "base_sidebar.html" %}
{% load static %}

{% block head_title %}Quests | {% endblock %}
{% block head_css %}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-table-1.20.2.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'quest_manager/css/bootstrap-table-accordion.css' %}?v=1.1" />

{% endblock %}

{% block content_first %}{% endblock %}
{% block heading %}<i class="fa fa-shield pull-right"></i>{% block heading_inner %}{% endblock%}{% endblock %}

{% block content %}{% endblock %}
{% block js %}
    <script src="{% static 'js/bootstrap-table-1.20.2.min.js' %}"></script>

    {% comment %}CSRF token needed in bootstrap-table-accordion.js to load AJAX data {% endcomment %}
    <script>
      window.contextData = {
        csrfToken: "{{ csrf_token }}",
        ajax_submission_root: "{% url 'quests:ajax_submission_root' %}",
        ajax_approval_root: "{% url 'quests:ajax_approval_root' %}",
        ajax_quest_root: "{% url 'quests:ajax_quest_root' %}",
      };
    </script>
    <script src="{% static 'quest_manager/js/bootstrap-table-accordion.js' %}?v=1.3"></script>
{% endblock %}
