{% load quest_tags %}

<div id='preview-btns-{{ q.id }}' class="pull-right">
  {% if  request.user.is_staff %}
    <a class="btn btn-info" href="{% url 'quests:quest_detail' q.id %}" role="button"
      title = "View quest details" >
      <i class="fa fa-eye"></i>
    </a>
    <a class="btn btn-warning" href="{% url 'quests:quest_update' q.id %}" role="button"
      title = "Edit the quest" >
      <i class="fa fa-edit"></i>
    </a>
    <a class="btn btn-primary" href="{% url 'quests:quest_copy' q.id %}" role="button"
      title = "Create a copy of this quest" >
      <i class="fa fa-copy"></i>
    </a>
    <a class="btn btn-default" href="{% url 'quests:approved_for_quest' q.id %}" role="button"
      title = "View past submissions of this quest" >
      <i class="fa fa-folder-open-o"></i>
    </a>
    <a class="btn btn-danger" href="{% url 'quests:quest_delete' q.id %}" role="button"
      title = "Delete this quest" >
      <i class="fa fa-trash-o"></i>
    </a>

  {% else %}

    {% if not no_details %} <!-- no_details if you are already viewing the details =) -->
      <a title="View the content of this quest without starting it"
         class="btn btn-info" href="{% url 'quests:quest_detail' q.id %}" role="button">View Details</a>
    {% endif %}
    <a title="View the content of this quest and move it to 'In Progress', allowing you to complete it"
       class="btn btn-primary" href="{% url 'quests:start' q.id %}" role="button">Start Quest</a>

    {% if request.user.profile.game_lab_transfer_process_on %}
      <a title="Mark this quest as completed, but you won't get XP for it"
         class="btn btn-warning" href="{% url 'quests:skipped' q.id %}" role="button">Skip Quest</a>
    {% endif %}

    {% if q|is_hidden:request.user %}
      <a title="Remove this from your list of hidden quests"
         class="btn btn-success" role="button" href="{% url 'quests:unhide' q.id %}" >
        <i class="fa fa-eye"></i>
      </a>
    {% elif q.hideable %}
      <a title="Add this to your list of hidden quests"
         class="btn btn-default" role="button" href="{% url 'quests:hide' q.id %}" >
        <i class="fa fa-eye-slash"></i>
      </a>
    {% endif %}

  {% endif %}
</div>
