<div id='preview-btns-{{ q.id }}' class="pull-right">
  {% if  request.user.is_staff %}
    <a class="btn btn-info" href="{% url 'quests:quest_detail' q.id %}" role="button">
      <i class="fa fa-eye"></i>
    </a>
    <a class="btn btn-warning" href="{% url 'quests:quest_update' q.id %}" role="button">
      <i class="fa fa-edit"></i>
    </a>
    <a class="btn btn-primary" href="{% url 'quests:quest_copy' q.id %}" role="button">
      <i class="fa fa-copy"></i>
    </a>
    <a class="btn btn-danger" href="{% url 'quests:quest_delete' q.id %}" role="button">
      <i class="fa fa-trash-o"></i>
    </a>

    <!-- <a class="btn btn-warning" href="{% url 'quests:quest_update' q.id %}" role="button">Edit</a>
    <a class="btn btn-primary" href="{% url 'quests:quest_copy' q.id %}" role="button">Copy</a>
    <a class="btn btn-danger" href="{% url 'quests:quest_delete' q.id %}" role="button">Delete</a> -->
  {% else %}
    {% if not no_details %}
      <a class="btn btn-info" href="{% url 'quests:quest_detail' q.id %}" role="button">View Details</a>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'quests:start' q.id %}" role="button">Start Quest</a>
    {% if request.user.profile.game_lab_transfer_process_on %}
      <a class="btn btn-warning" href="{% url 'quests:gamelabtransfer' q.id %}" role="button">GameLab Transfer</a>
    {% endif %}
  {% endif %}
</div>
