{% load static %}
<div class="media">
  <div class="media-left">
    <img class="media-object icon-lg img-rounded"
         src="{% firstof category_icon_url category.get_icon_url %}"
         alt="icon" />
  </div>
  <div class="media-body">
    <p>{{ category.short_description|default:"<i>[No description provided]</i>" }}</p>
  </div>
</div>
<div id="category-info-{% firstof category_id category.id %}"
     class="panel panel-primary panel-top">
  <div class="panel-heading">
    <h3 class="panel-title">Campaign Info</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-unstyled">
          <li>Published quests in this campaign: {% firstof category_quest_count category.quest_count "0" %}</li>
          <li>Total XP available: {% firstof category_total_xp_available category.xp_sum "0" %}</li>
          <li>Published: {% firstof category_published category.published %}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% if category_displayed_quests %}
  <div id="available">
    <table id="accordion-available"
           class="accordian-table"
           data-classes="table table-hover"
           data-toggle="table"
           data-detail-view="true"
           data-search="true"
           data-trim-on-search="false"
           data-custom-search="multiKeywordSearch">
      <thead>
        <tr class="panel-heading">
          <th class="col-sm-1 col-xs-2 col-icon" data-field="icon"></th>
          <th class="col-sm-5 col-xs-8" data-field="name" data-sortable="true">Quest</th>
          <th class="col-sm-1 col-xs-2 text-right"
              data-field="xp"
              data-sortable="true">XP</th>
          <th class="col-sm-1 hidden-xs text-center"
              data-field="tags"
              data-sortable="true">{{ config.custom_name_for_tag }}s</th>
          <th class="col-sm-2 hidden-xs" data-field="status_icons">
            <!-- status_icons -->
          </th>
        </tr>
      </thead>
      <tbody class="panel-group panel-group-packed"
             role="tablist"
             aria-multiselectable="true">
        {% for q in category_displayed_quests %}
          <tr class="accordian-trigger panel-title
              {% if not q.published %}danger
              {% elif q.expired %}warning
              {% else %}default{% endif %}
              {% if q.id == active_q_id %} active {% endif %}"
              role="tab"
              aria-expanded="{% if q.id == active_q_id %}true{% else %}false{% endif %}"
              aria-controls="collapse-quest-{{q.id}}"
              {% comment %} ID allows bootstrap-table-accordion.js populate detailed content {% endcomment %}
              id="heading-quest-{{q.id}}"
          >
            <!-- COLUMNS -->
            <td class="col-sm-1 col-xs-2 col-icon">
              <img class="img-responsive panel-title-img img-rounded"
                   src="{{ q.get_icon_url }}"
                   alt="icon" />
            </td>
            <td class="col-sm-5 col-xs-8">{{ q.name }}</td>
            <td class="col-sm-1 col-xs-2 text-center">{{ q.xp }}</td>
            <td class="col-sm-1 hidden-xs text-center">
              <small>{{ q.tags.all|join:", "|default:"-" }}</small>
            </td>
            <td id="status-icon-{{ q.id }}" class="col-xs-2 hidden-xs text-muted">
              {% if local_quest_import_ids and q.import_id in local_quest_import_ids %}
                <i title="This quest already exists in your deck and any local changes will be overwritten." class="icon-spacing fa fa-fw fa-exclamation-triangle"></i>
              {% elif library_quest_import_ids and q.import_id in library_quest_import_ids %}
                <i title="This quest already exists in the library and will be copied as a new version during export." class="icon-spacing fa fa-fw fa-exclamation-triangle"></i>
              {% endif %}
            </td>
          </tr>
          <!-- accordian -->
        {% endfor %}
        <!-- for each quest -->
      </tbody>
    </table>
  </div><!-- #available -->
  {% for q in category_displayed_quests %}
    {% comment %}
      ### COLLAPSING CONTENT ###
      This is the content that is hidden until the row is clicked.
      bootstrap-table-accordion.js inserts quest content here.
      If the content hasn't been retrieved yet from the server, a loading icon is displayed.
    {% endcomment %}
    <div style="display: none"
         id="collapse-quest-{{ q.id }}"
         class="{% if not q.published %}danger {% elif q.expired %}warning {% else %}default{% endif %}"
         role="tabpanel"
         aria-labelledby="heading-quest-{{ q.id }}">
      <ul class="list-group">
        <li id="preview-quest-{{ q.id }}"
            class="list-group-item list-group-item-buttons">
          <p>
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            &nbsp;Loading content...
            <!-- preview_content_quests_avail.html via AJAX -->
          </p>
        </li>
      </ul>
    </div><!-- accordian panel-collapse -->
  {% endfor %} <!-- for each quest -->
{% else %}
  <p>There are no quests in this campaign.</p>
{% endif %}
