{% extends "quest_manager/base.html" %}
{% load crispy_forms_tags %}

{% block heading %}<i class="fa fa-compass pull-right"></i>{% block heading_inner %}Delete Campaign {% endblock %}{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  <p>Are you sure you want to delete this campaign?<p>
  <div class="well">
    <p>Campaign Name: {{object.title}}</p>
    <p>Campaign ID: {{object.id}}</p>
  </div>
  <a href="{% url 'quests:categories'%}" role="button" class="btn btn-info">Cancel</a>
  <input type="submit" value="Delete" class="btn btn-danger" />
</form>
{% endblock %}
