{% extends "quest_manager/base.html" %}

{% block head_title %}Campaigns | {% endblock %}
{% block head %}{% endblock %}

{% block content_first %}{% endblock %}
{% block heading_inner %}Campaigns
{% if request.user.is_staff %}
  <a class="btn btn-primary" href="{% url 'quest_manager:category_create' %}" role="button"><i class="fa fa-plus-circle"></i> Create</a>
{% endif %}
{% endblock %}

{% block content %}
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Icon</th>
    <th># of Quests</th>
    <th>XP Available</th>
    <th>Active</th>
    <!-- empty header exists to extend header table to full length of object list table -->
    <!-- header table coloring won't fill space completely otherwise -->
    <th></th>
  </tr>
  {% for object in object_list %}
  <tr>
    <td>{{ object.title }}</td>
    <td><img class="img-responsive panel-title-img img-rounded" src="{{ object.get_icon_url }}"></td>
    <td>{{ object.quest_count }}</td>
    <td>{{ object.xp_sum }}</td>

    <td>{{ object.active }}</td>
    <td>
      <a class="btn btn-info" href="{% url 'quests:category_detail' object.id %}" role="button" title="View Details: view the content of this campaign.">
       <i class="fa fa-fw fa-info-circle"></i>
      </a>
      <div class="dropdown list-submenu-dropdown pull-right">
        <a class="dropdown-toggle" type="button" id="list-submenu-dropdown-id" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-ellipsis-v"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="list-submenu-dropdown-id">
          <li class="list-submenu-action"><a href="{% url 'quests:category_delete' object.id %}">Delete</a></li>
          <li class="list-submenu-action"><a href="{% url 'quests:category_update' object.id %}">Edit</a></li>
        </ul>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block js %}{% endblock %}
