{% extends "courses/base.html" %}

{% block head_title %}Campaigns | {% endblock %}
{% block head %}{% endblock %}

{% block content_first %}{% endblock %}
{% block heading_inner %}Campaigns
{% if request.user.is_staff %}
  <a class="btn btn-primary" href="{% url 'quest_manager:category_create' %}" role="button">New</a>
{% endif %}
{% endblock %}

{% block content %}
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Icon</th>
    <th>Active</th>
    <th>Action</th>
  </tr>
  {% for object in object_list %}
  <tr>
    <td>{{ object.title }}</td>
    <td>{% if object.icon %}<img class="img-responsive panel-title-img img-rounded" src="{{ object.icon.url }}">{% endif %}</td>
    <td>{{ object.active }}</td>
    <td>
      <a class="btn btn-warning" href="{% url 'quests:category_update' object.id %}" role="button" title="Edit this campaign">
        <i class="fa fa-edit"></i>
      </a>
      <a class="btn btn-danger" href="{% url 'quests:category_delete' object.id %}" role="button" title="Delete this campaign">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block js %}{% endblock %}
