
<div class="media">
  <div class="media-left">
    <img class="media-object icon-lg img-rounded" src="{{ category.get_icon_url }}" alt="icon" />
  </div>
</div>

<div id="category-info-{{category.id}}" class="panel panel-primary panel-top">
  <div class="panel-heading">
    <h3 class="panel-title">Campaign Info</h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-6">
        <ul class="list-unstyled">
          <li>Quests in this campaign: {{ category.quest_count }}</li>
          <li>Total XP available: {{ category.xp_sum }}</li>
          <li>Active: {{category.active }}</li>
        </ul>
      </div>
    </div>

  </div>
</div>

{% if category_displayed_quests %}
  {% with category_displayed_quests as available_quests %}
    {% include "quest_manager/tab_quests_available.html" %}
  {% endwith %}
{% else %}
  <p>There are no quests in this campaign.</p>
{% endif %}

{% block js %}
  {% include "quest_manager/ajax_content_loading.html" %}
{% endblock %}
