{% extends "quest_manager/base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Campaigns | {% endblock %}

{% block heading_inner %} {{ object.title }} Campaign{% endblock %}

{% block content %}
    {% if request.user.is_staff %}
        <div class="pull-right">
            <a class="btn btn-warning" href="{% url 'quests:category_update' object.id %}" role="button"
                title = "Edit this campaign" >
            <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger" href="{% url 'quests:category_delete' object.id %}" role="button"
                title = "Delete this campaign" >
            <i class="fa fa-trash-o"></i>
            </a>
        </div>
    {% endif %}
    {% if object.active or request.user.is_staff %}
        {% with object as category %}
            {% include "quest_manager/category_detail_content.html" %}
        {% endwith %}
    {% else %}
        <p>The campaign you're trying to reach is currently unavailable. Please contact your teacher if this comes as a surprise.</p>
    {% endif %}
{% endblock %}
