{% extends "quest_manager/base.html" %}
{% block head_title %}Campaigns |{% endblock %}
{% block head %}{% endblock %}
{% block content_first %}{% endblock %}
{% block heading %}
  <i class="fa fa-compass pull-right"></i>
  {% block heading_inner %}
    Campaigns
    {% if request.user.is_staff %}
      <a class="btn btn-primary"
         href="{% url 'quest_manager:category_create' %}"
         role="button"><i class="fa fa-plus-circle"></i> Create</a>
    {% endif %}
  {% endblock %}
{% endblock %}
{% block content %}
  <p>This page is visible to staff only.</p>

  <ul id="campaign-tabs" class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation"
        class="{% if available_tab_active %}active{% endif %}">
      <a href="{% url 'quests:categories' %}">Available</a>
    </li>
    <li role="presentation"
        class="{% if inactive_tab_active %}active{% endif %}">
      <a href="{% url 'quests:categories_inactive' %}">Inactive</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel"
         class="tab-pane fade {% if available_tab_active %}in active{% endif %}"
         id="campaign-available">{% include 'quest_manager/tab_campaigns_list.html' %}</div>
    <div role="tabpanel"
         class="tab-pane fade {% if inactive_tab_active %}in active{% endif %}"
         id="campaign-inactive">{% include 'quest_manager/tab_campaigns_list.html' %}</div>
  </div>
{% endblock %}
