{% extends "quest_manager/base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Common Quest Info | {% endblock %}

{% block heading_inner %}
    Common Quest Info

    <a class="btn btn-primary" href="{% url 'quest_manager:commonquestinfo_create' %}" role="button" ><i class="fa fa-plus-circle"></i> New</a>
{% endblock %}

{% block content %}
    <p>This page if visible to staff only.</p>
    <p>Common Quest Infos are snippets of formatted text that can be used to display information
        that might be common to multiple quests. When a Common Quest Info has been assigned to
        a quest it will appear on that quest's page to the left, under the menu buttons.</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for object in object_list %}
            <tr {% if not object.active %} class="text-muted" {% endif %}>
                    <td>
                        {{object.title}}
                    </td>
                    <td>
                        {{object.active}}
                    </td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'quest_manager:commonquestinfo_update' pk=object.pk %}" role="button" title="Edit this page">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-danger" href="{% url 'quest_manager:commonquestinfo_delete' pk=object.pk %}" role="button" title="Delete this page">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
