{% load crispy_forms_tags %}
{% load comment_tags %}
  <li class="list-group-item list-group-item-info">Submission Comments</li>
  {% for comment in target_comments %}
    <li class="list-group-item avatar-left-sm">
      <img class="avatar" src="{{comment.user.profile.avatar.url}}" alt="avatar"/>
      <div class="comment-heading">
        <a href="{% url 'comments:create' %}">{{comment.user}}</a> 
        &mdash; {{comment.timestamp|timesince}} ago
        <hr/>
      </div>
      <div class="comment-text">
        {{comment.text|safe}}
      </div>
    </li>
  {% endfor %}
