{% extends "quest_manager/base.html" %}
{% load crispy_forms_tags %}

{% block head_title%} Common Quest Info |{% endblock%}

{% block head %}
    {{ form.media }}
{% endblock %}

{% block heading_inner %}{{ heading }}{% endblock %}

{% block content %}
    <div>
        <form action="" method="post">
            {% csrf_token %}

            {{ form|crispy }}

            <a href="{% url 'quest_manager:commonquestinfo_list' %}" role="button" class="btn btn-danger">Cancel</a>
            <input type="submit" value="Submit" class="btn btn-success"/>
        </form>

    </div>
{% endblock %}