{% load crispy_forms_tags %}
{% load comment_tags %}

<form method="POST" enctype="multipart/form-data" action="{% url 'comments:create' %}">{% csrf_token %}
  {{ form | crispy }}
  <!-- <input type="file" name="files" multiple /> -->
  {% with target|content_type as ctype %}
    <input type="hidden" name="target_content_type_id" value="{{ ctype.pk }}">
  {% endwith %}
  <input type='hidden' name = 'target_id' value='{{target.id}}' />
  <input type='hidden' name = 'origin_path' value='{{request.get_full_path}}' />
  {% if request.user.is_staff %}
    <input type='hidden' name = 'success_url' value='{% url "quests:approvals" %}' />
  {% else %}
    <input type='hidden' name = 'success_url' value='{% url "quests:complete" target.id %}' />
  {% endif %}
  <input type='hidden' name = 'success_message' value='Your quest was successfully submitted.' />
  <div class="panel-body">
    {% if target.is_completed %}
      <input type='submit' class='btn btn-primary' value='Add Submission Comment' />
    {% else %}
      <input type='submit' class='btn btn-primary'
        value='{% if request.user.is_staff %}Submit Comment{% else %}Submit Quest for Approval{% endif %}' />
      <a class="btn btn-danger" href="{% url 'quests:drop' target.id %}" role="button">Drop Quest</a>
    {% endif %}
  </div>
</form>
