{% load crispy_forms_tags %}
  <li class="list-group-item list-group-item-info">Submission Details</li>
  <li class="list-group-item list-group-item">{{s.quest.submission_details|safe}}</li>
  <li class="list-group-item list-group-item-info">Instructor Notes</li>
  <li class="list-group-item list-group-item">{{s.quest.instructor_notes|safe}}</li>
  <li class="list-group-item list-group-item-info">Submission Comments</li>
  {% with s.get_comments as target_comments %}
    {% include "comments/comments.html" %}
  {% endwith %}
  <li class="list-group-item list-group-item-info">
    Quick Reply Form
    (
    <a title="View the full quest details and the full comment form."
       href="{% url 'quests:submission' s.id %}">Full Reply</a> |
    <a title="Quick link to edit in case an error or typo in the quest is found."
       target="_blank"
       href="{% url 'quests:quest_update' s.quest.id %}">Edit Quest</a> |
    <a title="View past submissions of this quest from other students."
       target="_blank"
       href="{% url 'quests:approved_for_quest' s.quest.id %}">Past Submissions</a>
    )
  </li>
