{% include "quest_manager/buttons.html" %}
{{q.short_description|safe}}
{% if request.user.is_staff or request.user == q.editor %}
  <hr />
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-unstyled">
        <li>Available Date: {{q.date_available}}</li>
        <li>Available Time: {{q.time_available}}</li>
        <li>Visible to Students: {{q.visible_to_students|yesno}}</li>
        <li>Requires Approval: {{q.verification_required|yesno}}</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="list-unstyled">
      <li>Available without course: {{ q.available_outside_course|yesno }}</li>
      <li>Repeatable: {% if q.max_repeats == 0 %}no
             {% else %}
               {% if q.max_repeats == -1 %} Unlimited
               {% else %} {{q.max_repeats}} time{{q.max_repeats|pluralize}} max
               {% endif %}
               {% if q.hours_between_repeats > 0 %}
               - every {{ q.hours_between_repeats}} hrs
               {% endif %}
            {% endif %}</li>
      <li>Prerequisites:
            {% for p in q.prereqs %}
              {% if forloop.first %}<ul class="left-aligned"><small>{% endif %}
              <li>{{ p }}</li>
              {% if forloop.last %}</ul></small>{% endif %}
            {% empty %}
              None
            {% endfor %}</li>
    </ul>
  </div>
</div> <!-- row -->
{% endif %}
