<!-- inserted via AJAX into tab_quest_submissions -->
<li class="list-group-item visible-xs-block">
  <div class="row">
      <div class="col-xs-4">
          <p>Campaign: {{ s.quest.campaign|default:"-" }}</p>
      </div>
      <div class="col-xs-4">
          <p>{{ config.custom_name_for_tag }}s: <small>{{ s.quest.tags.all|join:", "|default:"-" }}</small></p>
      </div>
      <div class="col-xs-4">
          <p>Status: {% include "quest_manager/snippets/submitted_status.html" %}</p>
      </div>
  </div>
</li>
<li class="list-group-item list-group-item-info">Submission Instructions</li>
<li class="list-group-item list-group-item-buttons">
  <div class="pull-right">
    {% if not completed and not past %}

      <a title="Drop Quest: remove this quest from your In Progress tab and delete all submission comments."
           class="btn btn-danger" href="{% url 'quests:drop' s.id %}" role="button">
            <i class="fa fa-fw fa-trash"></i><span class="visible-lg-inline-block icon-text">Drop</span>
      </a>

      <a title="Continue Quest: continue working on this quest."
           class="btn btn-primary" href="{% url 'quests:submission' s.id %}" role="button">
            <i class="fa fa-fw fa-play-circle"></i><span class="visible-lg-inline-block icon-text">Continue</span>
      </a>

      {% if request.user.profile.not_earning_xp %}
        <a class="btn btn-warning" href="{% url 'quests:skip' s.id %}" role="button">Skip</a>
      {% endif %}
    {% else %}
      <a title="View Details: view the content of this quest or add to the submission."
         class="btn btn-info" href="{% url 'quests:submission' s.id %}" role="button">
          <i class="fa fa-fw fa-info-circle"></i><span class="visible-lg-inline-block icon-text">View Details</span>
      </a>
    {% endif %}
  </div>
  {{s.quest.submission_details|safe}}
</li>
{% if s.is_returned or completed %}
  <li class="list-group-item list-group-item-info">Submission Comments</li>
  {% with s.get_comments as target_comments %}
    {% include "comments/comments.html" %}
  {% endwith %}
  <li class="list-group-item list-group-item-info">
    Quick Reply Form
    <small>(To provide a fully formatted comment, include images, or attach files, click the
      {% if s.is_returned %}
        Continue
      {% else %}
        View Details
      {% endif %}
      button above)</small>
  </li>
{% endif %}
