<div class="row visible-xs-block">
  <div class="col-xs-6">
    <p>Campaign: {{ q.campaign|default:"-" }}</p>
  </div>
  <div class="col-xs-6">
    <p>{{ config.custom_name_for_tag }}s: <small>{{ q.tags.all|join:", "|default:"-" }}</small></p>
  </div>

</div>
<hr class ="visible-xs-block" >
{% include "quest_manager/buttons.html" %}
  <p>{{q.short_description|safe}}</p>
{% if request.user.is_staff or request.user == q.editor %}

  <hr />
  <div class="row">
    <div class="col-xs-6">
      <ul class="list-unstyled">
        <li>Available Date: {{q.date_available}}</li>
        <li>Available Time: {{q.time_available}}</li>
        <li>Visible to Students: {{q.visible_to_students|yesno}}</li>
        <li>Requires Approval: {{q.verification_required|yesno}}</li>
      </ul>
    </div>
    <div class="col-xs-6">
      <ul class="list-unstyled">
      <li>Available without course: {{ q.available_outside_course|yesno }}</li>
      <li>Repeatable: {% if q.max_repeats == 0 %}no
             {% else %}
               {% if q.max_repeats == -1 %} Unlimited
               {% else %} {{q.max_repeats}} time{{q.max_repeats|pluralize}} max
               {% endif %}
               {% if q.hours_between_repeats > 0 %}
               - every {{ q.hours_between_repeats}} hrs
               {% endif %}
            {% endif %}</li>
      <li>Prerequisites:
        {% with q as object %}{% include 'prerequisites/current_prereq_list.html' %}{% endwith %}
      </li>
    </ul>
  </div>
</div> <!-- row -->
{% endif %}
