{% load crispy_forms_tags %}
{% load utility_tags %}}
<li class="list-group-item list-group-item-info visible-xs-block">Status</li>
<li class="list-group-item visible-xs-block">
    <div class="row">
        <div class="col-xs-6">
            {% group_name %}<br>
            {% for block in s.user.profile.blocks %}{{ block }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </div>
        <div class="col-xs-6">
            {% with label=True %}{% include "quest_manager/submitted_time.html" %}{% endwith %}
        </div>

    </div>

</li>
<li class="list-group-item list-group-item-info">Submission Instructions</li>
<li class="list-group-item clearfix">{{s.quest.submission_details|safe}}</li>
<li class="list-group-item list-group-item-info">Instructor Notes</li>
<li class="list-group-item clearfix">{{s.quest.instructor_notes|safe}}
    {% if s.quest.specific_teacher_to_notify %}
        <hr><p>* <b>{{ s.quest.specific_teacher_to_notify }}</b> was notified about this quest submission.</p>
    {% endif %}
</li>
{% with s as submission %}
    {% include "quest_manager/snippets/previous_submission.html" %}
{% endwith %}
<li class="list-group-item list-group-item-info">Submission Comments
    {% include "quest_manager/snippets/time_to_complete_submission.html" %}
</li>
{% with s.get_comments as target_comments %}
    {% include "comments/comments.html" %}
{% endwith %}
<li class="list-group-item list-group-item-info">
    Quick Reply Form
</li>