<!-- inserted via AJAX into tab_quest_submissions -->
<li class="list-group-item list-group-item-info visible-xs-block">Status</li>
<li class="list-group-item visible-xs-block">
    {% with label=True %}{% include "quest_manager/submitted_time.html" %}{% endwith %}
</li>
<li class="list-group-item list-group-item-info">Submission Instructions</li>
<li class="list-group-item list-group-item-buttons">
  <div class="pull-right">
    {% if not completed and not past %}

      <a title="Drop Quest: remove this quest from your In Progress tab and delete all submission comments."
           class="btn btn-danger" href="{% url 'quests:drop' s.id %}" role="button">
            <i class="fa fa-fw fa-trash"></i><span class="visible-lg-inline-block icon-text">Drop</span>
      </a>

      <a title="Continue Quest: continue working on this quest."
           class="btn btn-primary" href="{% url 'quests:submission' s.id %}" role="button">
            <i class="fa fa-fw fa-play-circle"></i><span class="visible-lg-inline-block icon-text">Continue</span>
      </a>

      {% if request.user.profile.not_earning_xp %}
        <a class="btn btn-warning" href="{% url 'quests:skip' s.id %}" role="button">Skip</a>
      {% endif %}
    {% else %}
      <a title="View Details: view the content of this quest or add to the submission."
         class="btn btn-info" href="{% url 'quests:submission' s.id %}" role="button">
          <i class="fa fa-fw fa-info-circle"></i><span class="visible-lg-inline-block icon-text">View Details</span>
      </a>
    {% endif %}
  </div>
  {{s.quest.submission_details|safe}}
</li>
<li class="list-group-item list-group-item-info">Submission Comments</li>
{% with s.get_comments as target_comments %}
  {% include "comments/comments.html" %}
{% endwith %}
