
<!-- <div class="row">
  <div class="col-xs-12">
    <img class="pull-left quest-icon" src="{{ quest.icon_url|default_if_none:'#' }}" alt="icon" height="45px"/>
    </p>{{ quest.short_description }}</p>
  </div>
</div> -->
<div class="media">
  <div class="media-left">
    <img class="media-object icon-lg" src="{{ quest.get_icon_url }}" alt="icon" />
  </div>
  <div class="media-body">
    {{ quest.short_description }}
  </div>
</div>


<div id="quest-instructions-{{quest.id}}" class="panel panel-primary panel-top">
  <div class="panel-heading">
    <h3 class="panel-title">Quest Details</h3>
  </div>
  <div class="panel-body">
    {{ quest.instructions | safe }}
  </div>
</div>
<div id="submission-instructions-{{quest.id}}" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Submission Instructions</h3>
  </div>
  <div class="panel-body">
    {{ quest.submission_details | safe }}
  </div>
</div>
