
  {% if completed_submissions %}

  <table data-toggle="table"
          data-classes="table table-hover"
          data-detail-view="true"
          data-detail-formatter="detailFormatter"
          data-pagination="true"
          data-sidePagination="left"
          >
     <thead>
       <tr>
          <th> </th>

          <th data-sortable="true">Quest</th>
          <th data-halign="center" data-align="center" data-sortable="true">XP</th>
          <th data-halign="center" data-align="center" data-sortable="true" data-formatter="%s min">Est. Time</th>
          <th data-halign="center" data-align="center" data-sortable="true">Category</th>
          <th data-visible="false">Short Description</th>
       </tr>
      </thead>
      <tbody>
      {% for s in completed_submissions %}
      <tr>
        <td data-field="icon"><img class="media-object" src="{{ s.quest.icon_url|default_if_none:'#' }}" alt="icon" height="45px"/></td>
        <td data-field="name">{{s.quest.name}}</td>
        <td data-field="xp" >{{s.quest.xp}}</td>
        <td data-field="time" >{{s.quest.id}}</td>
        <td data-field="category" >{{s.quest.category}}</td>
        <td data-field="short_description">
          <div>
             {{s.quest.short_description}}
          </div>
          <div class="pull-right">
            <a class="btn btn-info" href="{% url 'quests:submission' s.id %}" role="button">View Details</a>
          </div>
        </td>
     </tr>
     {% endfor %}
     </tbody>
   </table>

  {% else %}
    <p>You have not completed any quests yet!</p>
  {% endif %}
