{% extends "quest_manager/base.html" %}
{% load crispy_forms_tags %}

{% block heading_inner %}Drop Quest {% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
  <p>Are you sure you want to drop this quest?  All submission comments and files will be deleted.<p>
  <div class="well">
    <p>Quest Name: {{submission.quest.name}}</p>
    <p>Date Started: {{submission.timestamp}}</p>
  </div>
  <a href="{% url 'quests:submission' submission.id %}" role="button" class="btn btn-info">Cancel</a>
  <input type="submit" value="Drop" class="btn btn-danger" />
</form>
{% endblock %}
