
  {% if available_quests %}

  <table data-toggle="table"
          data-classes="table table-hover"
          data-detail-view="true"
          data-detail-formatter="detailFormatter"
          data-pagination="true"
          data-sidePagination="left"
          >
     <thead>
       <tr>
          <th> </th>

          <th data-sortable="true">Quest</th>
          <th data-halign="center" data-align="center" data-sortable="true">XP</th>
          <th data-halign="center" data-align="center" data-sortable="true" data-formatter="%s min">Est. Time</th>
          <th data-halign="center" data-align="center" data-sortable="true">Category</th>
          <th data-visible="false">Short Description</th>
       </tr>
      </thead>
      <tbody>
      {% for q in available_quests %}
      <tr>
        <td data-field="icon"><img class="media-object" src="{{ q.icon_url|default_if_none:'#' }}" alt="icon" height="45px"/></td>
        <td data-field="name">{{q.name}}</td>
        <td data-field="xp" >{{q.xp}}</td>
        <td data-field="time" >{{q.id}}</td>
        <td data-field="category" >{{q.category}}</td>
        <td data-field="short_description">
          <div>
             {{q.short_description}}
          </div>
          {% include "quest_manager/buttons.html" %}
        </td>
     </tr>
     {% endfor %}
     </tbody>
   </table>
  {% else %}
    <p>No quests are available.</p>
  {% endif %}
