{% extends "base_sidebar.html" %}
{% load crispy_forms_tags %}

{% block head_title%}{% if title %}{{ title }} | {% endif %}{% endblock%}

{% block heading_inner %} {{ heading }}
  {% if request.user.is_authenticated and request.user.is_staff %}
    <a class="btn btn-primary" href="{% url 'quests:quest_create' %}" role="button">New</a>
  {% endif %}
   <i class="fa fa-shield pull-right"></i>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs nav-justified" role="tablist">
  <li role="presentation" class="active">
    <a href="#available" role="tab" data-toggle="tab">Available</a>
  </li>
  <li role="presentation">
    <a href="#inprogress" role="tab" data-toggle="tab">In Progress</a>
  </li>
  <li role="presentation">
    <a href="#completed" role="tab" data-toggle="tab">Completed</a>
  </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active fade in" id="available">
    {% include 'quest_manager/quests_available_tab.html' %}
  </div>
  <div role="tabpanel" class="tab-pane fade" id="inprogress">
    {% include 'quest_manager/quests_inprogress_tab.html' %}
  </div>
  <div role="tabpanel" class="tab-pane fade" id="completed">
    {% include 'quest_manager/quests_completed_tab.html' %}
  </div>
</div>
{% endblock %}

{% block js %}
  <script>
     // horrible hack!  Figure out a proper way to do this.
     // it just needs to display the short_description
      function detailFormatter(index, row) {
          var html = [];
          $.each(row, function (key, value) {
            if(key == '5') {
              html.push(value);
            }
          });
          return html.join('');
      }
  </script>
{% endblock %}
