{% extends "quest_manager/base.html" %}
{% load crispy_forms_tags %}

{% block heading_inner %} {{ heading }}{% endblock %}

{% block content %}

<ul class="nav nav-tabs nav-justified" role="tablist">
  {% for tab in tab_list %}
    <li role="presentation" {% if forloop.first %}class="active" {% endif %}>
      <a href="#tab-{{tab.name|slugify}}" role="tab" data-toggle="tab">{{tab.name}}</a>
    </li>
  {% endfor %}
</ul>
<!-- Tab panes -->
<div class="tab-content">
  {% for tab in tab_list %}
  <div role="tabpanel"
    class="tab-pane fade {% if forloop.first %}in active{% endif %}"
    id="tab-{{tab.name|slugify}}">
    {% include 'quest_manager/tab_quests_approvals.html' %}
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block js %}
  <script>
     // horrible hack!  Figure out a proper way to do this.
     // it just needs to display the short_description
      function detailFormatter(index, row) {
          var html = [];
          $.each(row, function (key, value) {
            if(key == '6') {
              html.push(value);
            }
          });
          return html.join('');
      }
  </script>
{% endblock %}
