{% extends "quest_manager/base.html" %}
{% load crispy_forms_tags %}

{% block heading_inner %} {{ heading }}{% endblock %}

{% block content %}

<ul class="nav nav-tabs nav-justified" role="tablist">
  {% for tab in tab_list %}
    <li role="presentation" {% if forloop.first %}class="active" {% endif %}>
      <a href="#tab-{{tab.name|slugify}}" role="tab" data-toggle="tab">
        {{tab.name}}
        <span class="badge">{{tab.submissions|length}}</span>
      </a>
    </li>
  {% endfor %}
</ul>
<!-- Tab panes -->
<div class="tab-content">
  {% for tab in tab_list %}
  <div role="tabpanel"
    class="tab-pane fade {% if forloop.first %}in active{% endif %}"
    id="tab-{{tab.name|slugify}}">
    {% include 'quest_manager/tab_quests_approvals.html' %}
  </div>
  {% endfor %}
</div>
<!--
<div class="panel panel-primary">
  <div class="panel-heading">Panel heading with several panel bodies</div>
  <div class="panel-body">Panel body</div>
  <div class="panel-body">Panel body</div>
  <div class="panel-heading">Panel with a list group in a panel-body</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">list-grou-item</li>
      <li class="list-group-item list-group-item">list-grou-item</li>
      <li class="list-group-item list-group-item">list-grou-item</li>
      <li class="list-group-item list-group-item">list-grou-item</li>
    </ul>
  </div>

  <div class="panel-heading">panel-heading with a subpanel in a body</div>
  <div class="panel-body">
    <div class="panel panel-info">
      <div class="panel-heading">Subpanel heading</div>
      <div class="panel-body">Sub-panel body</div>

    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">panel-heading with list-group-items and no body</div>
      <ul class="list-group">
        <li class="list-group-item list-group-item">list-group-item</li>
        <li class="list-group-item list-group-item">list-grou-item</li>
        <li class="list-group-item list-group-item">list-grou-item</li>
      </ul>
    </div>
  </div>

  <div class="panel-heading">Panel heading followed by a list group</div>
  <ul class="list-group">
    <li class="list-group-item list-group-item">list-group-item</li>
    <li class="list-group-item list-group-item">list-group-item</li>
    <li class="list-group-item list-group-item-warning">list-group-item</li>
    <li class="list-group-item list-group-item-danger">list-group-item</li>
  </ul>

  <div class="panel-body">Panel body</div>

  <ul class="list-group">
    <li class="list-group-item list-group-item-info">list-group-item-info</li>
    <li class="list-group-item list-group-item">list-grou-item</li>
    <li class="list-group-item list-group-item">list-grou-item</li>
    <li class="list-group-item list-group-item">list-grou-item</li>
  </ul>

</div> -->

{% endblock %}

{% block js %}
<script>
  $('.reply_btn').click(function(e){
    e.preventDefault();
    $(this).parent().nextAll('.reply_comment').slideToggle();
  })
</script>
{% endblock %}
