{% extends "quest_manager/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
  {{ form.media.css }}
  <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
{% endblock %}

{% block heading_inner %} {{ heading }}{% endblock %}

{% block content %}
<form action="" enctype="multipart/form-data" method="post"> {% csrf_token %}
  {% crispy form %}
</form>
{% endblock %}


{% block js %}
{{ form.media.js }}
<script>
    $.fn.select2.defaults.set( "theme", "bootstrap" );
</script>
{% endblock %}
