<!--
  QUESTS
    > available (tab_quests_available.html)
    > in progress (tab_quests_submission.html)
    > completed (tab_quests_submission.html)
    > past courses (tab_quests_submission.html)
    > drafts (tab_quests_available.html)

Each tab has an HTML table loaded into it, and each row in the table is a quest.
It is important to note that each row in the “Available” tab represents a Quest object,
while each row in the “In Progress”/”Completed” tabs are QuestSubmission objects.

After the page loads, AJAX is used to insert all of the preview content into the quests.
Several AJAX endpoints can be used depending on the tab. This is handled in
`ajax_content_loading.html`. A whole bunch of conditions are used to ensure content
is only loaded into the currently active tab.

This content is inserted into a hidden DOM location, and whenever a quest is clicked,
the preview content is inserted underneath the quest row. And when the preview content
is collapsed, the content is sent back to the hidden location, and the quest row goes
back to its original look.
-->

{% extends "quest_manager/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block heading_inner %} {{ heading }}
  {% if request.user.is_staff or request.user.profile.is_TA %}
    <a class="btn btn-primary" href="{% url 'quests:quest_create' %}" role="button"><i class="fa fa-plus-circle"></i> Create</a>
  {% endif %}
  {% if available_tab_active and remove_hidden and request.user.profile.num_hidden_quests and request.user.profile.has_current_course %}
    <a class="btn btn-default" href="{% url 'quests:available_all' %}" role="button">
      Show Hidden Quests <span class="badge badge-muted">{{ request.user.profile.num_hidden_quests }}</span>
    </a>
  {% endif %}
{% endblock %}

{% block content %}

  <ul id='quest-tabs' class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" {% if available_tab_active %}class="active"{% endif %}>
      <a href="{% url 'quests:available' %}">
        Available
        <span class="badge">{{ num_available | default:"" }}</span>
      </a>

    </li>
    {% if not request.user.is_staff %}
      <li role="presentation" {% if inprogress_tab_active %}class="active"{% endif %}>
        <a href="{% url 'quests:inprogress' %}">
          In Progress
          <span class="badge">{{ num_inprogress | default:"" }}</span>
        </a>
      </li>
      <li role="presentation" {% if completed_tab_active %}class="active"{% endif %}>
        <a href="{% url 'quests:completed' %}">
          Completed
          <span class="badge">{{ num_completed | default:"" }}</span>
        </a>
      </li>
      {% if request.user.profile.has_past_courses %}
        <li role="presentation" {% if past_tab_active %}class="active"{% endif %}>
          <a href="{% url 'quests:past' %}">
            Past Courses
            <span class="badge">{{ num_past | default:"" }}</span>
          </a>
        </li>
      {% endif %}
    {% endif %}

    {% if request.user.profile.is_TA or request.user.is_staff %}
      <li role="presentation" {% if drafts_tab_active %}class="active"{% endif %}>
        <a href="{% url 'quests:drafts' %}">
          Drafts
          <span class="badge">{{ num_drafts | default:"" }}</span>
        </a>
      </li>
    {% endif %}

    {% if request.user.profile.is_TA or request.user.is_staff %}
      <li role="presentation" {% if library_tab_active %}class="active"{% endif %}>
        <a href="{% url 'library:library_quest_list' %}">
          Library
        </a>
      </li>
    {% endif %}
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel"
         class="tab-pane fade {% if available_tab_active %}in active{% endif %}" id="available">
      {% if not request.user.profile.has_current_course and not request.user.is_staff %}
        <p>You have not joined a course yet for this semester.</p>
        <p><a href="{% url 'courses:create' %}" class="btn btn-info" role="button">Join a Course</a></p>
      {% elif not available_quests.exists %}
        {% if in_progress_submissions.exists %}
          <p>You have no new quests available, but you can find some quests you have already started in your 'In Progress' tab above.</p>
        {% elif request.user.profile.num_hidden_quests > 0 %}
          <p>You have no new quests available, but you do have hidden quests which you can view by hitting the 'Show Hidden Quests' button above.</p>
        {% elif awaiting_approval %}
          <p>New quests will become available after your teacher approves your submission!</p>
        {% else %}
          <p>There are currently no new quest available to you!</p>
        {% endif %}
      {% endif %}
      {% include 'quest_manager/tab_quests_available.html' %}
    </div>
    <div role="tabpanel"
         class="tab-pane fade {% if inprogress_tab_active %}in active{% endif %}" id="inprogress">
      {% with submissions=in_progress_submissions %}
        {% include 'quest_manager/tab_quests_submission.html' %}
      {% endwith %}
    </div>
    <div role="tabpanel"
         class="tab-pane fade {% if completed_tab_active %}in active{% endif %}" id="completed">
      {% with submissions=completed_submissions completed=True %}
        {% include 'quest_manager/tab_quests_submission.html' %}
      {% endwith %}
    </div>
    {% if request.user.profile.has_past_courses %}
      <div role="tabpanel"
           class="tab-pane fade {% if past_tab_active %}in active{% endif %}" id="past_submissions">
        {% with submissions=past_submissions past=True %}
          {% include 'quest_manager/tab_quests_submission.html' %}
        {% endwith %}
      </div>
    {% endif %}
    {% if request.user.profile.is_TA or request.user.is_staff %}
      <div role="tabpanel"
         class="tab-pane fade {% if drafts_tab_active %}in active{% endif %}" id="drafts">
      {% with available_quests=draft_quests %}
        {% include 'quest_manager/tab_quests_available.html' %}
      {% endwith %}
      </div>
    {% endif %}

    {% if request.user.profile.is_TA or request.user.is_staff %}
      <div role="tabpanel"
         class="tab-pane fade {% if library_tab_active %}in active{% endif %}" id="library">
        {% include 'library/tab_library_quests.html' %}
      </div>
    {% endif %}

  </div>
{% endblock %}

{% block js %}
  {% comment %} Include from quest_manager/base.html {% endcomment %}
  {{ block.super }}

  {% with quests_available_page=True %}
    {% include "quest_manager/ajax_content_loading.html" %}
  {% endwith %}

{% endblock %}
