
{% load utility_tags %}
<div class="media quest-icon-description">
  <div class="media-left">
    <img class="media-object icon-lg img-rounded" src="{{ quest.get_icon_url }}" alt="icon" />
  </div>
  <div class="media-body">
    {{ quest.short_description }}
  </div>
</div>

<div id="quest-info-{{quest.id}}" class="panel panel-primary panel-top">
  <div class="panel-heading">
    <h3 class="panel-title">Quest Info</h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-6">
        <ul class="list-unstyled">
          <li><h4>XP: {{quest.xp}}{% if quest.xp_can_be_entered_by_students %}+ <small>(student entered)</small>{% endif %}
          </h4></li>
          <li>Campaign: {% if quest.campaign %}{% if user.is_staff %}<a href="{% url 'quests:category_detail' quest.campaign.id %}">{{ quest.campaign }}</a>{% else %}{{ quest.campaign }}{% endif %}{% else %}-{% endif %}</li>
          {% if request.user.is_staff %}
          <li>{% tag_name %}s: {% with quest as object %}{% include 'tags/snippets/tag-list.html' %}{% endwith %}</li>
          {% else %}
          <li>{% tag_name %}s: {% with quest as object %}{% include 'tags/snippets/tag-list.html' with user_obj=request.user %}{% endwith %}</li>
          {% endif %}
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="list-unstyled">
          <li>Expiry: {{quest.date_expired}}</li>
          <li>Repeatable: {% if quest.max_repeats == 0 %}No
                 {% else %}
                   {% if quest.max_repeats == -1 %} Unlimited
                   {% else %} {{quest.max_repeats}} time{{quest.max_repeats|pluralize}} max
                   {% endif %}
                   {% if quest.hours_between_repeats > 0 %}
                   - every {{ quest.hours_between_repeats}} hrs
                   {% endif %}
                {% endif %}</li>
          {% if quest.max_repeats != 0 %}
          <li>Maximum total XP: {% if quest.max_xp == -1 %} Unlimited
              {% else %} {{quest.max_xp}}
              {% endif %}
          </li>
          {% endif %}
          <li>Prerequisites:
                {% if request.user.is_staff and not dont_edit_prereqs %}<a class="btn btn-info btn-xs" href="{% url 'quests:quest_prereqs_update' quest.id %}">Edit</a>{% endif %}
                {% with quest as object %}{% include 'prerequisites/current_prereq_list.html' %}{% endwith %}
        </ul>
      </div>
    </div>

  </div>
</div>

<div id="quest-instructions-{{quest.id}}" class="panel panel-primary panel-top">
  <div class="panel-heading">
    <h3 class="panel-title">Quest Details</h3>
  </div>
  <div class="panel-body">
    {{ quest.instructions | safe }}
  </div>
</div>

<div id="submission-instructions-{{quest.id}}" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Submission Instructions</h3>
  </div>
  <div class="panel-body">
    {{ quest.submission_details | safe }}
  </div>
</div>

{% if user.is_staff %}
<div id="instructor-notes-{{quest.id}}" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Instructor Notes <small>(visible to staff only)</small></h3>
  </div>
  <div class="panel-body">
    {{ quest.instructor_notes | safe }}
      {% if quest.specific_teacher_to_notify %}
          <hr><p>* <b>{{ quest.specific_teacher_to_notify }}</b> is notified about submissions of this quest.</p>
      {% endif %}
  </div>
</div>
{% endif %}
