<!--
  Quest Approvals (quest_approval.html)
    > SUBMITTED (tab_quests_approvals.html)
    > RETURNED (tab_quests_approvals.html)
    > APPROVED (tab_quests_approvals.html)
    > SKIPPED (tab_quests_approvals.html)
-->

{% extends "quest_manager/base.html" %}
{% load crispy_forms_tags %}
{% block heading_inner %}{{ heading }}
    {% if submitted_tab_active %}
      {% if show_all_blocks_button %}
        <div class="btn-group">
            <a href="{% url 'quests:submitted' %}"
               class="btn {% if current_teacher_only %}btn-primary{% else %}btn-default{% endif %}">My blocks</a>
            <a href="{% url 'quests:submitted_all' %}"
               class="btn {% if not current_teacher_only %}btn-primary{% else %}btn-default{% endif %}">All</a>
        </div>
      {% endif %}
    {% endif %}
    {% if not past_approvals_all == None %}
      <div class="btn-group">
        <a href="{% url 'quests:approved_for_quest' quest.id %}"
           class="btn {% if not past_approvals_all %}btn-primary{% else %}btn-default{% endif %}">Current Semester</a>
        <a href="{% url 'quests:approved_for_quest_all' quest.id %}"
           class="btn {% if past_approvals_all %}btn-primary{% else %}btn-default{% endif %}">All</a>
      </div>
    {%  endif %}
{% endblock %}

{% block content %}

<ul class="nav nav-tabs nav-justified" role="tablist">
  {% for tab in tab_list %}
    <li role="presentation" {% if tab.active %}class="active" {% endif %}>
      <a href="{{tab.url}}">
        {% comment %} <a href="#tab-{{tab.name|slugify}}" role="tab" data-toggle="tab"> {% endcomment %}
        {{tab.name}}
        {% comment %} <span class="badge">{{tab.submissions|length}}</span> {% endcomment %}
      </a>
    </li>
  {% endfor %}
</ul>
<!-- Tab panes -->
<div class="tab-content">
  {% for tab in tab_list %}
  <div role="tabpanel"
    class="tab-pane fade {% if tab.active %}in active{% endif %}"
    id="tab-{{tab.name|slugify}}">
    {% include 'quest_manager/tab_quests_approvals.html' %}
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block js %}
<script>
$( document ).ready(function() {
    $('[id^=btn_quick_text]').on('click', function () {
        var msg = ' {{ quick_reply_text }} ';
        var textarea = $($(this).data('target')).find('textarea');
        textarea.val(textarea.val() + msg);
    });

    $('[data-toggle="tooltip"]').tooltip();
});
</script>

{% include "quest_manager/ajax_content_loading.html" %}

{% include "quest_manager/snippets/flag_submissions_scripts.html" %}

{% endblock %}
