{% extends "quest_manager/base.html" %}
{% load crispy_forms_tags %}

{% block head %}
    {{ submission_form.media }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
{% endblock %}

{% block head_css %}
    .reply_comment {
      display: none;
    }
{% endblock %}

{% block heading_inner %}{{ heading }}<br/>
<small id='submission-inprogress-{{submission.quest.id}}'>
{% if request.user.is_staff %} {{submission.user}} | {% endif %}
{% if submission.is_approved %}
  Approved - {{submission.time_approved}}
{% elif submission.is_awaiting_approval %}
  Submitted - {{submission.time_completed}}
{% elif submission.is_returned %}
  Returned - {{submission.updated|timesince}} ago
{% else %}
  In progress
{% endif %}
</small>
{% endblock %}

{% block content %}

  {% if not submission.is_completed %}
    <!-- <div class="pull-right"> -->
        <!-- <a class="btn btn-danger" href="{% url 'quests:drop' submission.id %}" role="button">Drop</a> -->
        <!-- <a class="btn btn-primary" href="{% url 'quests:complete' submission.id %}" role="button">Complete</a> -->
    <!-- </div> -->
  {% endif %}

  {% with submission.quest as quest %}
    {% include "quest_manager/quest_detail_content.html" %}
  {% endwith %}

  <div id='submission-comments-{{submission.quest.id}}' class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Past Submissions and Replies</h3>
    </div>
    <ul class="list-group">

      {% include "quest_manager/snippets/previous_submission.html" %}

      <li class="list-group-item list-group-item-info">Submission Comments
        {% include "quest_manager/snippets/time_to_complete_submission.html" %}
      </li>

      {% with submission.get_comments as target_comments %}
        {% include "comments/comments.html" %}
      {% endwith %}

    </ul>
  </div>

  <div id='submission-form-{{submission.quest.id}}' class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Quest Submission Form</h3>
    </div>
    <div class="panel-body panel-summernote">
      {% if request.user.is_staff %}
        <form method="POST" enctype="multipart/form-data" action="{% url 'quests:approve' submission.id%}">
      {% else %}
        <form method="POST" enctype="multipart/form-data" action="{% url 'quests:complete' submission.id%}">
      {% endif %}

        {% csrf_token %}
        {{ submission_form | crispy }}
        <div class='form-group form-group-summernote'>
        {% if request.user.is_staff %}
          {% with submission as s %}
            {% include "quest_manager/buttons_approvals.html" %}
          {% endwith %}
        {% else %}
          {% if submission.quest.visible_to_students %}
            <a id='save-draft-btn' class='btn btn-default'>
              <span id="draft-text">Save Draft</span>
              <span id="draft-spin" style="display:none"><i class="fa fa-spinner fa-spin fa-fw"></i><span class="sr-only">Saving draft...</span></span>
              <span id="draft-check" style="display:none" class="text-success"><i class="fa fa-check fa-fw"></i><span class="sr-only">Draft saved successfully</span></span>
            </a>
            {% if submission.is_approved %}
              <input type='submit' name='comment' class='btn btn-primary' value='Add Comment' />
            {% else %}
              <input id='tour-submit-quest' type='submit' name='complete' class='btn btn-primary' value='Submit Quest for Completion' />
              <a class="btn btn-danger" href="{% url 'quests:drop' submission.id %}" role="button">Drop Quest</a>
            {% endif %}
          {% endif %}
        {% endif %}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
{% block js %}
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();


            {% if anchor %}
                // http://stackoverflow.com/questions/8149155/animate-scrolltop-not-working-in-firefox
                $('body,html').animate({
                    'scrollTop':   $('#{{ anchor }}').offset().top
                }, 1000);
            {% endif %}

            // Copied from quest_approvals.html
            $('[id^=btn_quick_text]').on('click', function () {
                var msg = '<p>{{ quick_reply_text }}<br></p>';
                var text_area = $('div.note-editable');
                if (text_area.html() == "<p><br></p>") // default empty summernote text area
                  text_area.html(msg)
                else
                  text_area.append(msg);
            });

            // Save drafts via Ajax when button pressed
            $('#save-draft-btn').on('click', function(event){
                event.preventDefault(); // prevent browser from reloading
                console.log("Draft saved!")  // sanity check
                save_draft();
            });

            setInterval(save_draft, 60000); // autosave every 60 seconds


        });

        function save_draft() {
            $summernoteEditor = $('div.note-editable') // should probably use a more robust selector here?
            draftComment = $summernoteEditor.html()

            $draftSaveBtn = $('#save-draft-btn')
            old_text = $draftSaveBtn.html()

            // fix the width of the elemtn so it doesn't shrink when text changes to icon
            btnWidth = $draftSaveBtn.css('width')
            $draftSaveBtn.css('width', btnWidth)

            $draftText = $('#draft-text')
            $draftSpin = $('#draft-spin')
            $draftCheck = $('#draft-check')

            if ($draftText.is(':visible')) {

                $draftText.hide(0) // no delay
                $draftSpin.show()

                $.ajax({
                    url : "{% url 'quests:ajax_save_draft' %}",
                    type : "POST", // http method
                    data : {
                      csrfmiddlewaretoken: "{{ csrf_token }}",
                      comment: draftComment,
                      submission_id: {{ submission.id }}
                    }, // data sent with the post request

                    // handle a successful response
                    success : function(json) {
                      hide_check_show_text();
                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        alert("ERROR!\n\nSorry, something went wrong and the draft wasn't saved.  \n\nSee the browser console for error details.");
                    }
                });
            }

        }

        function hide_check_show_text() {
          // after success, animate a check mark, then put text back
          $('#draft-spin').fadeOut(400, function() {
            $('#draft-check').fadeIn(400, function() {
              window.setTimeout(
                function(){$('#draft-check').hide(0, function() {$('#draft-text').show(0)});},
                2000
              )
            });
          });
        }

    </script>

    {% include 'quest_manager/snippets/flag_submissions_scripts.html' %}

    {% if request.user.is_staff %}
    <script>
        // styling for badge awarding widget
        $.fn.select2.defaults.set( "theme", "bootstrap" );
    </script>
    {% endif %}

{% endblock %}
