{% extends "quest_manager/base.html" %}
{% load crispy_forms_tags %}

{% block heading_inner %}{{ heading }}{% endblock %}

{% block content %}

  {% if not submission.is_completed %}
    <div class="pull-right">
        <a class="btn btn-danger" href="{% url 'quests:drop' submission.id %}" role="button">Drop</a>
        <a class="btn btn-primary" href="{% url 'quests:complete' submission.id %}" role="button">Complete</a>
    </div>
  {% endif %}

  {% with submission.quest as quest %}
    {% include "quest_manager/quest_detail_content.html" %}
  {% endwith %}

  {% with submission as target %}
    {% include "quest_manager/comments.html" %}
  {% endwith %}

{% endblock %}

{% block js %}
<script>
  $('.reply_btn').click(function(e){
    e.preventDefault();
    $(this).parent().nextAll('.reply_comment').slideToggle();
  })
</script>
{% endblock %}
