<!--
  Quests
    > available (tab_quests_available.html)
    > IN PROGRESS (tab_quests_submission.html)
    > COMPLETED (tab_quests_submission.html)
    > PAST COURSES (tab_quests_submission.html)
-->
{% load crispy_forms_tags %}
{% if submissions %}

  <table id="accordian-{% if completed %}completed{% else %}inprogress{% endif %}"
    class="accordian-table"
    data-classes="table table-hover"
    data-toggle="table"
    data-detail-view="true"
    data-search="true">
    <thead>
      <tr class="panel-heading">
        <th class="col-sm-1 col-xs-2 col-icon" data-field="icon"></th>
        <th class="col-sm-5 col-xs-8" data-field="name" data-sortable="true">Quest</th>
        <th class="col-sm-1 text-right col-xs-2" data-field="xp" data-sortable="true">XP</th>
        <th class="col-sm-2 text-right hidden-xs" data-field="campaign" data-sortable="true">Campaign</th>
        <th class="col-sm-1 text-center hidden-xs" data-field="tags" data-sortable="true">{{ config.custom_name_for_tag }}s</th>
        <th class="col-sm-3 hidden-xs" data-field="status" data-sortable="true">Status</th>
      </tr>
    </thead>
    <tbody role="tablist" aria-multiselectable="true">
    {% for s in submissions %}
      <tr class="accordian-trigger panel-title
        {% if s.is_awaiting_approval %}warning
        {% elif s.is_returned %}danger
        {% elif s.do_not_grant_xp %}panel-muted
        {% else %}default{% endif %}"
        role="tab"
        aria-expanded="{% if s.id == active_id %}true{% else %}false{% endif %}"
        aria-controls="collapse-quest-{{s.id}}"
        {% comment %} ID makes the ajax_content_loading.html file populate detailed content {% endcomment %}
        id="heading-quest-{{s.id}}"
      >
        <td class="col-sm-1 col-xs-2 col-icon">
          <img class="img-responsive panel-title-img img-rounded" src="{{ s.quest.get_icon_url }}" alt="icon"/>
        </td>
        <td class="col-sm-5 col-xs-8">{{s.quest_name}}</td>
        <td class="col-sm-1 col-xs-2 text-center">
          {% if s.do_not_grant_xp %}<span title="Skipped quests do not grant XP">0*</span>
          {% elif s.quest.xp_can_be_entered_by_students %}<span title="XP requested by student">{{s.xp_requested}}*</span>
          {% else %}{{s.quest.xp}}
          {% endif %}
        </td>
        <td class="col-sm-2 text-center hidden-xs"><small>
          {{ s.quest.campaign|default:"-" }}
        </small></td>
        <td class="col-sm-1 text-center hidden-xs"><small>{{ s.quest.tags.all|join:", "|default:"-" }}</small></td>
        <td class="col-sm-3 hidden-xs">
          {% include "quest_manager/snippets/submitted_status.html" %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% comment %} The hidden content needs to be in its own for loop.
     Otherwise, additional formatting is applied to it that breaks the form. {% endcomment %}
  {% for s in submissions%}
      {% comment %}
        ### COLLAPSING CONTENT ###
        This is the content that is hidden until the row is clicked.
        ajax_content_loading.html inserts quest content here.
        If the content hasn't been retrieved yet from the server, a loading icon is displayed.
      {% endcomment %}
      {% comment %} Lamma remove class="tab-warning" {% endcomment %}
      <div style="display: none" id="collapse-quest-{{s.id}}"
        class="{% if s.is_awaiting_approval %}warning
               {% elif s.is_returned %}danger
               {% elif s.do_not_grant_xp %}panel-muted
               {% else %}default{% endif %}"
        role="tabpanel" aria-labelledby="heading-quest-{{s.id}}">
        <ul id="preview-content-{{s.id}}" class="list-group" data-completed="{{completed}}" data-past="{{past}}">
          <li class="list-group-item list-group-item-buttons">
              <p>
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                &nbsp;Loading content...
                <!-- preview_content_submissions.html via AJAX -->
              </p>
          </li>
        </ul>
        <!-- will load a student quick reply form for submissions that have been returned or handed in -->
        {% if s.is_returned or completed %}
          <li class="list-group-item">
            <form id="quick_reply{{s.id}}" method="POST" enctype="multipart/form-data"
                  action="{% url 'quests:complete' s.id %}">{% csrf_token %}
              {{ quick_reply_form | crispy }}
              <div>
                {% include "quest_manager/submission_buttons_form_student.html" %}
              </div>
            </form>
          </li>
        {% endif %}
      </div>
  {% endfor %}

  {% with items=submissions %}
    {% include "quest_manager/pagination_controls.html" %}
  {% endwith %}

{% else %}
  <p>None.</p>
{% endif %}
