{% load crispy_forms_tags %}

  {% if tab.submissions %}
  <div class="row panel-heading">
    <div class="col-xs-1 col-icon"></div>
    <div class="col-xs-4">Quest</div>
    <div class="col-xs-1">XP   </div>
    <div class="col-xs-1">q.id</div>
    <div class="col-xs-2">User</div>
    <div class="col-xs-3">{{tab.time_heading}}</div>
  </div>
  <div class="panel-group panel-group-packed" id="accordion" role="tablist" aria-multiselectable="true">
  {% for s in tab.submissions %}
    <div class="panel accordian
      {% if s.id == active_id %} active {% endif %}
      {% if object.sticky %}panel-info{% else %}panel-default{% endif %}">
      <div class="panel-heading accordian accordian-trigger panel-heading-tall
        {% if s.id == active_id %} active {% endif %}"
        role="tab" id="heading{{s.id}}"
        aria-expanded="{% if s.id == active_id %}true{% else %}false{% endif %}"
        aria-controls="collapse{{s.id}}"
        data-parent="#accordion" data-toggle="collapse" data-target="#collapse{{s.id}}">

        <div class="row">
          <h4 class="panel-title">
            <div class="col-xs-1 col-icon">
              <img class="img-responsive panel-title-img" src="{{ s.quest.get_icon_url }}" alt="icon"/>
            </div>
            <div class="col-xs-4">{{s.quest.name}}</div>
            <div class="col-xs-1">{{s.quest.xp}}  </div>
            <div class="col-xs-1">{{s.quest.id}} </div>
            <div class="col-xs-2">{{s.user}} <br />
              <small>{{s.user.profile.first_name|add:' '|add:s.user.profile.last_name|truncatechars:15}}</small>
             </div>
            <div class="col-xs-3">
              {% if s.is_approved %}
                <small>{{s.time_approved|timesince}} ago</small>
              {% elif s.is_awaiting_approval %}
                <small>{{s.time_completed|timesince}} ago</small>
              {% elif s.is_returned %}
                <small>{{s.updated|timesince}} ago</small>
              {% else %}
                In progress
              {% endif %}
            </div>
          </h4>
        </div>
      </div>

      <div id="collapse{{s.id}}"
        class="panel-collapse collapse {% if s.id == active_id %} in {% endif %}"
        role="tabpanel" aria-labelledby="heading{{s.id}}">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">Submission Details</li>
          <li class="list-group-item list-group-item">{{s.quest.submission_details|safe}}</li>
          <li class="list-group-item list-group-item-info">Submission Comments</li>
          {% with s.get_comments as target_comments %}
            {% include "quest_manager/comments.html" %}
          {% endwith %}
          <li class="list-group-item list-group-item-info">
            Quick Reply Form
            (
            <a href="{% url 'quests:submission' s.id %}">Full Reply</a> |
            <a href="{% url 'quests:quest_update' s.quest.id %}">Edit Quest</a>
            )
          </li>
          <li class="list-group-item">
            <form method="POST" enctype="multipart/form-data" action="{% url 'quests:approve' s.id %}">{% csrf_token %}
              {{ quick_reply_form | crispy }}
              <div>
                {% if s.is_approved %}
                  <input type='submit' name='comment_button' class='btn btn-primary' value='Add Comment' />
                {% else %}
                  <input type='submit' name='approve_button' class='btn btn-success' value='Approve' />
                {% endif %}
                  <input type='submit' name='return_button' class='btn btn-danger' value='Return' />
              </div>
            </form>
          </li>
        </ul>
      </div>

    </div>
  {% endfor %}
  </div>

  {% else %}
    <p>None.</p>
  {% endif %}
