<!--
  Quests
    > AVAILABLE (tab_quests_available.html)
    > in progress (tab_quests_submission.html)
    > completed (tab_quests_submission.html)
    > past courses (tab_quests_submission.html)
    > DRAFTS (tab_quests_available.html)
-->


{% if available_quests %}
  <table id="accordion-available"
         class="accordian-table"
         data-classes="table table-hover table-responsive"
         data-toggle="table"
         data-detail-view="true"
         data-search="true">
    <thead>
      <tr class="panel-heading">
        <th class="col-sm-1 col-xs-2 col-icon" data-field="icon"></th>
        <th class="col-sm-5 col-xs-8" data-field="name" data-sortable="true">Quest</th>
        <th class="col-sm-1 text-right col-xs-2" data-field="xp" data-sortable="true">XP</th>
        <th class="col-sm-2 text-right hidden-xs" data-field="campaign" data-sortable="true">Campaign</th>
        <th class="col-sm-1 text-center hidden-xs" data-field="tags" data-sortable="true">{{ config.custom_name_for_tag }}s</th>
        <th class="col-sm-2 hidden-xs" data-field="status_icons"><!-- status_icons --></th>
      </tr>
    </thead>
    <tbody class="panel-group panel-group-packed" role="tablist" aria-multiselectable="true">
      {% for q in available_quests %}
        <tr class="accordian-trigger panel-title
          {% if request.user.is_staff %}
            {% if not q.visible_to_students %}danger
            {% elif q.is_expired %}warning
            {% else %}default{% endif %}
          {% else %}
            default
          {% endif %}"
          {% if q.id == active_q_id %} active {% endif %}"
          role="tab"
          aria-expanded="{% if q.id == active_q_id %}true{% else %}false{% endif %}"
          aria-controls="collapse-quest-{{q.id}}"
          {% comment %} ID makes the ajax_content_loading.html file populate detailed content {% endcomment %}
          id="heading-quest-{{q.id}}"
        >
          <td class="col-sm-1 col-xs-2 col-icon">
            <img class="img-responsive panel-title-img img-rounded" src="{{ q.get_icon_url }}" alt="icon"/>
          </td>
          <td class="col-sm-5 col-xs-8">{{q.name}}
            {% if q.editor %}<br><small>Editor: {{ q.editor.username }} - {{ q.editor.profile }}</small>{% endif %}
          </td>
          <td class="col-sm-1 col-xs-2 text-center">{{q.xp}}{% if q.xp_can_be_entered_by_students %}+{% endif %}</td>
          <td class="col-sm-2 text-center hidden-xs"><small>{% if q.campaign %}{{q.campaign}}{% endif %}</small></td>
          <td class="col-sm-2 text-center hidden-xs"><small>{{ q.tags.all|join:", "|default:"-" }}</small></td>
          <td id="status-icon-{{q.id}}" class="col-sm-1 hidden-xs text-muted">
            {% if q.max_repeats != 0 %}<i title='Repeat: this quest is repeatable' class='icon-spacing fa fa-fw fa-undo'></i>
            {% else %}<i class='icon-spacing fa fa-fw'></i>{% endif %}
            {% if q.blocking %}<i title='Blocking: all other quests are unavailable until you complete this one.' class='icon-spacing fa fa-fw fa-exclamation-triangle'></i>
            {% else %}<i class='icon-spacing fa fa-fw'></i>{% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% for q in available_quests %}
    {% comment %}
      ### COLLAPSING CONTENT ###
      This is the content that is hidden until the row is clicked.
      ajax_content_loading.html inserts quest content here.
      If the content hasn't been retrieved yet from the server, a loading icon is displayed.
    {% endcomment %}
    <div style="display: none" id="collapse-quest-{{q.id}}"
      class="{% if request.user.is_staff %}
              {% if not q.visible_to_students %}danger
              {% elif q.is_expired %}warning
              {% else %}default{% endif %}
            {% else %}
              default
            {% endif %}"
      role="tabpanel" aria-labelledby="heading-quest-{{q.id}}">
      <ul class="list-group">
        <li id="preview-quest-{{q.id}}" class="list-group-item list-group-item-buttons">
            <p>
              <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
              &nbsp;Loading content...
              <!-- preview_content_quests_avail.html via AJAX -->
            </p>
        </li>
      </ul>
    </div>
  {% endfor %}
{% else %}
  <p>No quests are available.</p>
{% endif %}
