<!--
  Quests
    > AVAILABLE (tab_quests_available.html)
    > in progress (tab_quests_submission.html)
    > completed (tab_quests_submission.html)
    > past courses (tab_quests_submission.html)
    > DRAFTS (tab_quests_available.html)
-->

{% if available_quests %}

  <div class="row panel-heading">
    <div class="col-sm-1 col-xs-2 col-icon"></div>
    <div class="col-sm-5 col-xs-8">Quest</div>
    <div class="col-sm-1 col-xs-2 text-right">XP</div>
    <div class="col-sm-2 hidden-xs text-center">Campaign</div>
    <div class="col-sm-1 hidden-xs text-center">Expiry</div>
    <div class="col-sm-2 hidden-xs"><!-- status_icons --></div>
  </div>
  <div class="panel-group panel-group-packed" id="accordion-available"
    role="tablist" aria-multiselectable="true">

  {% for q in available_quests %}

    <div class="panel accordian
      {% if not q.visible_to_students %}panel-danger
      {% elif q.expired %}panel-warning
      {% else %}panel-default
      {% endif %}
      {% if q.id == active_q_id %} active {% endif %}">
      <div class="panel-heading accordian accordian-trigger panel-heading-tall
        {% if q.id == active_q_id %} active {% endif %}"
        role="tab"
        id="heading-quest-{{q.id}}"
        aria-expanded="{% if q.id == active_q_id %}true{% else %}false{% endif %}"
        aria-controls="collapse-quest-{{q.id}}"
        data-parent="#accordion-available" data-toggle="collapse"
        data-target="#collapse-quest-{{q.id}}">

        <div class="row">
          <h4 class="panel-title">
            <!-- COLUMNS -->
            <div class="col-sm-1 col-xs-2 col-icon">
              <img class="img-responsive panel-title-img img-rounded"
                src="{{ q.get_icon_url }}" alt="icon"/>
            </div>
            <div class="col-sm-5 col-xs-8">{{q.name}}
              {% if q.editor %}<br><small>Editor: {{ q.editor.username }} - {{ q.editor.profile }}</small>{% endif %}
            </div>
            <div class="col-sm-1 col-xs-2 text-right">{{q.xp}}{% if q.xp_can_be_entered_by_students %}+{% endif %}</div>
            <div class="col-sm-2 hidden-xs text-center"><small>
              {% if q.campaign %}{{q.campaign}}{% endif %}
            </small></div>
            <div class="col-sm-1 hidden-xs text-right"><small>
              {% if q.date_expired %}{{q.date_expired}}<br>{% endif %}
              {% if q.time_expired %}{{q.time_expired}}
                {% if not q.date_expired %} (daily){% endif %}
              {% endif %}
            </small></div>
            <div id="status-icon-{{q.id}}" class="col-xs-2 hidden-xs text-muted"></div>

          </h4>
        </div> <!-- row -->
      </div> <!-- accordian section heading -->

      <div id="collapse-quest-{{q.id}}"
        class="panel-collapse collapse {% if q.id == active_q_id %} in {% endif %}"
        role="tabpanel" aria-labelledby="heading-quest-{{q.id}}">
        <ul class="list-group">
          <li id="preview-content-{{q.id}}" class="list-group-item list-group-item-buttons">
              <p>
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                &nbsp;Loading content...
                <!-- preview_content_quests_avail.html via AJAX -->
              </p>
          </li>
        </ul>
      </div> <!-- accordian panel-collapse -->


    </div> <!-- accordian -->

  {% endfor %} <!-- for each quest -->

  </div> <!-- accordian panel group -->

{% else %}
  <p>No quests are available.</p>
{% endif %}
