<!--
  Quest Approvals (quest_approval.html)
    > SUBMITTED (tab_quests_approvals.html)
    > RETURNED (tab_quests_approvals.html)
    > APPROVED (tab_quests_approvals.html)
    > FLAGGED (tab_quests_approvals.html)
-->

{% load crispy_forms_tags %}
{% load utility_tags %}

{% if tab.submissions %}
  <table id="accordion-available"
         class="accordian-table"
         data-classes="table table-hover"
         data-toggle="table"
         data-detail-view="true"
         data-search="true">
    <thead>
      <tr class="panel-heading">
        <th class="col-sm-1 col-xs-2 col-icon" data-field="icon"></th>
        <th class="col-sm-4 col-xs-5" data-field="name" data-sortable="true">Quest</th>
        <th class="col-sm-1 col-xs-2" data-field="xp" data-sortable="true">XP</th>
        <th class="col-sm-1 hidden-xs" data-field="group_name" data-sortable="true">{% group_name %}</th>
        <th class="col-sm-2 col-xs-3 hidden-xs" data-field="user" data-sortable="true">User</th>
        <th class="col-sm-3 hidden-xs" data-field="status" data-sortable="true">Status</th>
      </tr>
    </thead>
    <tbody class="panel-group panel-group-packed" role="tablist" aria-multiselectable="true">
      {% for s in tab.submissions %}
        <tr class="accordian-trigger panel-title
          {% if object.sticky %}info
          {% elif s.do_not_grant_xp %}panel-muted
          {% else %}default{% endif %}"
          role="tab"
          aria-expanded="{% if s.id == active_id %}true{% else %}false{% endif %}"
          aria-controls="collapse-quest-{{s.id}}"
          {% comment %} ID makes the ajax_content_loading.html file populate detailed content {% endcomment %}
          id="heading-quest-{{s.id}}"
        >
          <td class="col-sm-1 col-xs-2 col-icon">
            <img class="img-responsive panel-title-img img-rounded" src="{{ s.quest.get_icon_url }}" alt="icon"/>
          </td>
          <td class="col-sm-4 col-xs-5">{{s.quest_name}}</td>
          <td class="col-sm-1 col-xs-2">
            {% if s.do_not_grant_xp %}<span title="Skipped quests do not grant XP">0*</span>
            {% elif s.quest.xp_can_be_entered_by_students %}<span title="XP requested by student">{{s.xp_requested}}*</span>
            {% else %}{{s.quest.xp}}
            {% endif %}
          </td>
          <td class="col-sm-1 hidden-xs">
            {% for block in s.user.profile.blocks %}{{ block }}{% if not forloop.last %}, {% endif %}{% endfor %}
          </td>
          <td class="col-sm-2 col-xs-3 hidden-xs">{{s.user.username|truncatechars:14}} <br />
            <small>{{ s.user.profile.preferred_full_name }}</small>
          </td>
          <td class="col-sm-3 hidden-xs">
            {% include "quest_manager/snippets/submitted_status.html" %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% comment %} The hidden content needs to be in its own for loop.
     Otherwise, additional formatting is applied to it that breaks the form. {% endcomment %}
    {% for s in tab.submissions %}
      {% comment %}
        ### COLLAPSING CONTENT ###
        This is the content that is hidden until the row is clicked.
        ajax_content_loading.html inserts quest content here.
        If the content hasn't been retrieved yet from the server, a loading icon is displayed.
      {% endcomment %}
      <div style="display: none" id="collapse-quest-{{s.id}}"
        class="{% if object.sticky %}info
              {% elif s.do_not_grant_xp %}panel-muted
              {% else %}default{% endif %}"
        role="tabpanel" aria-labelledby="heading-quest-{{s.id}}">
        <ul id="preview-content-{{s.id}}" class="list-group">
          <li class="list-group-item list-group-item-buttons">
              <p>
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                &nbsp;Loading content...
                <!-- preview_content_approvals.html via AJAX -->
              </p>
          </li>
        </ul>

        <li class="list-group-item">
          <form id="quick_reply{{s.id}}" method="POST" enctype="multipart/form-data"
                action="{% url 'quests:approve' s.id %}">{% csrf_token %}
            {{ quick_reply_form | crispy }}
            <div>
              {% include "quest_manager/submission_buttons_form.html" %}
              {% include "quest_manager/submission_buttons_other.html" %}
            </div>
          </form>
        </li>
      </div>
    {% endfor %}

  {% with items=tab.submissions %}
    {% include "quest_manager/pagination_controls.html" %}
  {% endwith %}

{% elif user.block_set.count == 0 %}
  <p>You are not assigned as the teacher for any {{ config.custom_name_for_group|lower }}s yet.</p>
  <a class="btn btn-info" href="{% url 'courses:block_list' %}">Join a {{ config.custom_name_for_group|lower }}</a>
{% else %}
  <p>None.</p>
{% endif %}
