{% extends "base_sidebar.html" %}{# not myself but a site-level one (TEMPLATE_DIRS setting) #}
{% load i18n static %}{% load postman_tags %}
{% block head_title %} {% trans "Messaging" %} | {% endblock %}
{% block extrahead %}{{ block.super }}
<link type="text/css" media="all" rel="stylesheet" href="{% static 'postman/css/postman.css' %}" />
{% endblock %}
{% block heading %}Messages <i class="fa fa-comments-o pull-right"></i>{% endblock %}
{% block postman_menu %}
<ul id="postman_menu" class="nav nav-tabs nav-justified">{% postman_unread as unread_count %}
    <li><a href="{% url 'postman:inbox' %}">{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
    <li><a href="{% url 'postman:sent' %}">{% trans "Sent" %}</a></li>
    <li><a href="{% url 'postman:write' %}">{% trans "Write" %}</a></li>
    <li><a href="{% url 'postman:archives' %}">{% trans "Archives" %}</a></li>
    <li><a href="{% url 'postman:trash' %}">{% trans "Trash" %}</a></li>
</ul>
{% endblock %}