{% extends "postman/base.html" %}
{% load i18n %}{% load postman_tags %}
{% load crispy_forms_tags %}
{% block content %}
<div id="postman">
  {% comment %} <h3>{% if pm_messages|length > 1 %}{% trans "Conversation" %}{% else %}{% trans "Message" %}{% endif %}:</h3> {% endcomment %}
  <h3>{{pm_messages.0.subject}}</h3>
  <ul class="list-group">
  {% for message in pm_messages %}
    {% include 'postman/message.html' %}
  {% if forloop.last %}
  </ul>
  <form action="" method="post">{% csrf_token %}
    <input type="hidden" {% if pm_messages|length > 1 and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} />
    {% comment %} <a href="{{ next_url }}" class="pm_action pm_action-back">{% trans "Back" %}</a> {% endcomment %}
    <span id="pm_buttons" class="btn-group">
      <button type="submit" class="pm_btn pm_btn-delete btn btn-danger"
      onclick="this.form.action='{% url 'postman:delete' %}?next={{ next_url|urlencode }}'">{% trans "Delete" %}</button>
      {% if not archived %}<button type="submit" class="pm_btn pm_btn-archive btn btn-warning"
      onclick="this.form.action='{% url 'postman:archive' %}?next={{ next_url|urlencode }}'">{% trans "Archive" %}</button>{% endif %}
    </span>
    {% comment %} {% if reply_to_pk %}<a href="{% url 'postman:reply' reply_to_pk %}?next={{ next_url|urlencode }}"
    class="pm_action pm_action-reply btn btn-primary">{% trans "Reply" %}</a>{% endif %} {% endcomment %}
  </form>
  {% if reply_to_pk %}
  <hr />
  <h3>{% trans 'Reply' %}</h3>
  <form action="{% url 'postman:reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post">{% csrf_token %}
    <div id="pm_reply">{{ form | crispy }}</div>
    <button type="submit" class="pm_btn pm_btn-reply btn btn-primary">{% trans 'Reply' %}</button>
  </form>{% endif %}
  {% endif %}
  {% endfor %}

</div>
{% endblock %}