{% extends "portfolios/base.html" %}
{% load staticfiles %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'portfolios/css/lightgallery.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'portfolios/css/lg-transitions.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'portfolios/css/justifiedGallery.min.css' %}" />
{% endblock %}

{% block heading_inner %}{{ p.user.profile.get_preferred_name }}'s Portfolio
    {% if request.user.is_staff or request.user == p.user %}
  <a class="btn btn-info"
    href="{% url 'portfolios:edit' p.pk %}"
    role="button"><i class="fa fa-cog"></i>&nbsp;&nbsp;Edit</a>
    {%  endif %}
{% endblock %}

{% block content %}
    <p>Portfolio UUID: {{ p.uuid }}</p>
    <p>Portfolio ID: {{ p.pk }}</p>
    <p>Artist: {{ p.user }}</p>
    <p>Shared: {{ p.shared }}</p>

    <!-- Hidden html5 video divs -->
    {% for art in p.artwork_set.all %}
        {% if art.video_file %}
        <div style="display:none;" id="video-{{ art.id }}">
            <video class="lg-video-object lg-html5" controls preload="none">
                <source src="{{ art.video_file.url }}" type="video/mp4">
                 Your browser can't play this HTML5 video.
            </video>
        </div>
        {% endif %}
    {% endfor %}

    <div id="gallery">
    {% for art in p.artwork_set.all %}
        <a href="{% if not art.video_file %}{{ art.get_link }}{% endif %}"
            {% if art.video_url or art.video_file %}data-poster="{{ art.get_image_url }}"{% endif %}
            {% if art.video_file %}data-html="#video-{{ art.id }}"{% endif %}
            data-sub-html="<h4>{{ art.title }}</h4><p>{{ art.description|default_if_none:"<br>" }}</p>">
            <img alt="{{ art.title }}" src="{{ art.get_image_url }}" />
        </a>
    {% empty %}
        <p>This portfolio is empty.</p>
    {%  endfor %}
    </div>

{% endblock %}

{% block js %}
    {#    http://sachinchoolur.github.io/lightGallery/demos/html5-videos.html #}
    <script src="{% static 'portfolios/js/lightgallery.min.js' %}"></script>
    <script src="{% static 'portfolios/js/lg-thumbnail.min.js' %}"></script>
    <script src="{% static 'portfolios/js/lg-video.min.js' %}"></script>
    <script src="{% static 'portfolios/js/lg-fullscreen.min.js' %}"></script>
    {#    http://miromannino.github.io/Justified-Gallery/options-and-events/ #}
    <script src="{% static 'portfolios/js/jquery.justifiedGallery.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            var $gallery = $('#gallery');
            console.log($gallery.length)
            if ($gallery.length) {
                $gallery.justifiedGallery({
                    margins: 5,
                    maxRowHeight: 150,
                    lastRow: 'center',
                }).on('jg.complete', function() {
                    $gallery.lightGallery({
                        thumbnail: true,
                    });
                });
            };
        });


    </script>
{% endblock %}
