{% extends "portfolios/base.html" %}

{% block head %}
    {% include 'portfolios/portfolio_head.html' %}
{% endblock %}

{% block heading_inner %}{{ p.user.profile.internal_name }}'s Portfolio
    {% if request.user.is_staff or request.user == p.user %}
  <a class="btn btn-info"
    href="{% url 'portfolios:edit' p.pk %}"
    role="button"><i class="fa fa-cog"></i>&nbsp;&nbsp;Edit</a>
    {%  endif %}
{% endblock %}

{% block content %}
    {% if request.user == p.user %}
        <div class="panel panel-warning" >
            <div class="panel-heading" title="This section is only visible to you">
                Your portfolio is {% if not p.listed_locally %}<b>NOT</b> {% endif %} listed <b>locally</b>.
            </div>
            <div class="panel-body">
                Sharing your portfolio locally means a link to the portfolio will appear in the
                <a href="{% url 'profiles:profile_list' %}">students list</a> accessed
                from the Students button at the left.
                <a href="{% url 'portfolios:edit' p.pk %}">Edit</a> your portfolio to change this setting.
            </div>
        </div>
        <div class="panel panel-warning" >
            <div class="panel-heading" title="This section is only visible to you">
                Your portfolio is {% if not p.listed_publicly %}<b>NOT</b> {% endif %} listed <b>publicly</b>.
            </div>
            <div class="panel-body">
                Sharing your portfolio publicy means a link to your portfolio will appear in our
                <a href="{% url 'portfolios:public_list' %}">public list of student portfolios</a>, available to anyone who finds the {{ config.site_name_short}} site.
                  <a href="{% url 'portfolios:edit' p.pk %}">Edit</a> your portfolio to change this setting.
            </div>
        </div>
        <div class="panel panel-success" title="This section is only visible to you">
            <div class="panel-heading" title="This section is only visible to you">
                Personal link
            </div>
            <div class="panel-body">
                <a href="{{ p.get_public_url }}">
                    {{ request.get_host }}{% url 'portfolios:public' p.uuid %}
                </a>
                <br><br>

                Use this link if you would like to share your portfolio with friends, family, as part of
                an application, etc.  The people you share this link with will be able to see your portfolio
                without having to sign in to the {{ config.site_name_short }}.  Your personal portfolio link is available even if you are
                not sharing your portfolio with other {{ config.site_name_short }} students.
            </div>
        </div>

    {% endif %}

    {% include 'portfolios/portfolio_content.html' %}

{% endblock %}

{% block js %}
    {% include 'portfolios/portfolio_js.html' %}
{% endblock %}
