{% extends "portfolios/base.html" %}
{% load crispy_forms_tags %}

{% block head %}{% include 'snippets/bootstrap_table.html' %}{% endblock %}

{% block heading_inner %}{{ config.site_name_short }} Portfolios{% endblock %}

{% block content %}

    <p><a class="btn btn-primary"
          href="{% url 'portfolios:current_user' %}">View Your Portfolio</a></p>

    {% include 'snippets/table_loading.html' %}
    <table {% include 'snippets/list_table_attrs.html' %}
           data-sort-name="username"
           data-sort-order="asc"
           data-show-columns="true">
      <thead>
        <tr>
          <th data-field="username" data-sortable="true">Username</th>
          <th data-field="shared" data-sortable="true">Shared</th>
          <th data-field="uuid" data-sortable="true">UUID</th>
          <th data-field="id" data-sortable="true">pk</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}

        <tr>

            <td><a href="{%  url 'portfolios:detail' object.pk %}">
                {{object.user}}</a></td>
            <td>{{object.listed_locally}}</td>
            <td>{{object.uuid}}</td>
            <td>{{object.pk}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}

{% block js %}
{% endblock %}
