{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang='en'>
  <head>

      <!-- Required Meta Tags-->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Site Meta Tags -->
      <title> ByteDeck </title>
      <meta content="Description content" name="description"/>
      <meta content="ByteDeck" property="og:title"/>
      <meta content="Description content." property="og:description"/>
      <meta content="image" property="og:image"/>

      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      <!-- Bootstrap icon-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
      <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
      <!-- Google Font link-->
      <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
      <!-- Custom CSS -->
      <link rel="stylesheet" href="{% static 'public/css/custom.css' %}">

  </head>


  <body>

    <!-- Messages -->

    {% if messages %}{% for message in messages %}
    <div class="alert alert-warning alert-dismissible m-0 fade show text-center lead {% if message.tags %}{{ message.tags }}{% endif %}" role="alert"}>
        <b>{{ message|safe }}</b>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}{% endif %}

<!--
      For the Addition of the Subscriptions section. Due to bootstrap limitations, to get
      the appearance of split colours which remain split in a responsive website (ex: on a phone and tablet)
      no full page margins could be used and each Div needed to be given its
      specific background colour

-->

  <nav class="mb-1 navbar navbar-expand-lg navbar-light BD-bg-LightBlue">
    {% block navbar_brand %}
    <a class="navbar-brand ml-5" href="/"><img class="BD-nav-img" src="{% static 'public/images/pixels-4-icon.png' %}"></a>
    {% endblock %}

    <button class="mr-5 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5 mr-5 nav-socials" id="navbarSupportedContent-333">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#2a56a6"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color:#2a56a6"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#2a56a6"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/pages/request-a-deck/">Try it</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/subscribe/">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/bytedeck/bytedeck/discussions">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/about-us/">About us</a>
        </li>

      </ul>
    </div>
  </nav>

<!-- Page Content -->
{% block content %}{% endblock %}

<!-- /Page Content -->

<!-- Footer -->
{% include 'public/snippets/footer.html' %}
<!-- /Footer-->

 <!-- Jquery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="{% static 'public/js/smoothscroll.js' %}"> </script>
<!-- /JavaScript -->
  </body>

</html>
