name: Build and Tests

on: [push, pull_request]

jobs: 
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Copy sample environment variables
        run: cp .env.example .env
      - name: Build the docker-compose stack
        run: docker-compose up -d
      - name: Check running containers
        run: docker ps -a
      - name: Run test suite
        run: docker-compose run web coverage run src/manage.py test src
      - name: Upload coverage data to coveralls.io
        # https://github.com/coverallsapp/github-action/issues/30#issuecomment-829475358
        run: docker-compose exec -T --env-file <(env | grep GITHUB_) -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} web bash -c "coveralls --service=github"
